Repository CeladonSS13/Shiptest, changes with the owners that .github/CODEOWNERS names for each.
All owners: @MrCat15352, @molnizz, @MysticalFaceLesS

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# MrCat15352
/code/controllers/subsystem/shuttle.dm @MrCat15352
/code/modules/shuttle/ @MrCat15352
/code/modules/overmap/ @MrCat15352

# Teams

# Map Maintainers
/_maps/ @molnizz

# Sprite Maintainers
/icons/ @MrCat15352
/whitesands/icons/ @MrCat15352

# CI and tool chains
/tools/ @MysticalFaceLesS

#SIC SEMPER TYRANNIS
#/_maps/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm @MrCat15352

Create Glimpse.dmm
  Glimpse.dmm
Owners: none

ruinofwehbeta
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
Owners: @molnizz

runtime: Исправление шансов спавна для некоторых значений #1496
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
Owners: none

fix_icons_structural_rods
  icons/obj/items.dmi
Owners: @MrCat15352

runtime: Исправил опечатку в определении костюма ассистента для SolFed #1499
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Owners: none

runtime: Исправления в ветках технологий #1501
  mod_celadon/celadon_modsuits/code/modsuit_nodes.dm
  mod_celadon/silicon/code/meka/rnd.dm
Owners: none

fix: Исправление наименования факсов при создании корабля
  code/__DEFINES/~mod_celadon/ship.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/code/fax_name.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/mod_defines.dme
Owners: none

fix: Микрофикс, лишний инклюд
  mod_celadon/mod_celadon.dme
Owners: none

Выводим в Временный щитспавн шипы с тэгом
  _maps/_mod_celadon/configs/independent_caravan.json
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/configs/independent_nemo.json
  _maps/_mod_celadon/configs/independent_shetland.json
  _maps/_mod_celadon/configs/inteq_caliban.json
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/inteq_talos.json
  _maps/_mod_celadon/configs/nanotrasen_savior.json
Owners: @molnizz

fix: Микрофикс, лишний инклюд
  mod_celadon/mod_celadon.dme
Owners: none

тоже, до переделки
  _maps/_mod_celadon/configs/nanotrasen_celestis.json
Owners: @molnizz

runtime: Правки рантаймов для аванпоста elysium-ice #1500
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Owners: @molnizz

fix vespa
  _maps/_mod_celadon/shuttles/subshuttles/solfed_vespa.dmm
Owners: @molnizz

fix_ashtray
  mod_celadon/items/code/ashtray.dm
Owners: none

fix_ashtray
  mod_celadon/items/code/ashtray.dm
Owners: none

Перекур продолжается, фикс фикса
  mod_celadon/items/code/ashtray.dm
Owners: none

returns celestis, adds the sm
  _maps/_mod_celadon/configs/nanotrasen_celestis.json
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/machines.dm
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
Owners: @molnizz

Ruin of Weh done v1
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
Owners: @molnizz

configs configed
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Owners: @molnizz

config fixed
  mod_celadon/maps/code/ruins/ruin.dm
Owners: none

Реверт аванпостов
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Owners: @molnizz

Реверт ангаров
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
Owners: @molnizz

Откат аванпостов
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
Owners: @molnizz

fix zone, fix walls, add loot
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
Owners: @molnizz

rebalance loot
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
Owners: @molnizz

Make Frog read again
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
Owners: @molnizz

runtime: Правка фракций в ящиках снабжения, рефактор кода
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/console.dm
  mod_celadon/outpost_console/code/supply_pack.dm
Owners: none

v1
  Glimpse.dmm
Owners: none
