Repository CeladonSS13/Shiptest, pull requests merged in 2024-05, with the labels that each got.

#473 Консоль коммуникаций - это миф
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
  _maps/_mod_celadon/shuttles/independent/independent_vela.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_noderider.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг

#474 Adds new ship for Nanotrasen - Teardrop
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг

#477 Update blank.dmm
  _maps/_mod_celadon/map_files/generic/blank.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#478 Mini-fix komodo and buble
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#479 resprite: new canistres
  mod_celadon/mod_celadon.dme
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/atmos.dm
  mod_celadon/resprite/icons/canisters.dmi
Labels: 🩳QoL, ⌛ Ждёт мержа ⌛, 🎨 Спрайты 🎨

#480 Fix: color canisters
  mod_celadon/resprite/icons/canisters.dmi
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🎨 Спрайты 🎨

#485 Новый корабль и мелкие фиксы прошлых
  _maps/_mod_celadon/configs/independent_koi.json
  _maps/_mod_celadon/configs/independent_radio.json
  _maps/_mod_celadon/configs/solgov_tomahawk.json
  _maps/_mod_celadon/shuttles/independent/independent_koi.dmm
  _maps/_mod_celadon/shuttles/independent/independent_radio_broadcast.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#486 Fix After Megre
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#487 Use default return in honk emote
  mod_celadon/robotic_honk/code/robotic_honk.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#488 Небольшой ремапп
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#490 FaF and new pirate ship
  _maps/_mod_celadon/configs/pirate_crying_sun.json
  _maps/_mod_celadon/configs/pirate_ember.json
  _maps/_mod_celadon/configs/pirate_libertatia.json
  _maps/_mod_celadon/configs/pirate_noderider.json
  _maps/_mod_celadon/configs/pirate_santiana.json
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
  _maps/_mod_celadon/shuttles/independent/independent_vela.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/_components/code/_names.dm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#482 Tweak: Universal vendor circuit now can be used in Mining vendor
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄

#491 Remap Talos-Class | Celadon. "Finnaly"
  _maps/_mod_celadon/configs/inteq_talos.json
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
Labels: 🩳QoL, ⌛ Ждёт мержа ⌛, 🗺 Мапинг, 🔵 Требуется проверка, 🏆 Отличная работа! 🏆

#493 Hound fix console and "Crying sun" rebalance
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг

#498 Add: new pets
  mod_celadon/mobs/README.md
  mod_celadon/mobs/_mobs.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/pets/syndicat.dm
  mod_celadon/mobs/code/pets/syndifox.dm
  mod_celadon/mobs/icons/pets.dmi
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#502 Фикс одинаковых префиксов
  mod_celadon/maps/code/random_ruins.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#501 Give elysim bongs
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  code/datums/shuttles.dm
Labels: 🗺 Мапинг, 🏆 Отличная работа! 🏆

#503 Fix: outpost
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#505 Меняем траст и топливо движкам
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆

#506 Вводим новые значения на тест
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔆 Обновление 🔆

#494 Resprite camers
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/camera.dm
  mod_celadon/resprite/icons/camera.dmi
Labels: 🩳QoL, 🎨 Спрайты 🎨

#511 Символика на обшивку кораблей и мелкие фиксы
  _maps/_mod_celadon/shuttles/independent/independent_koi.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
Labels: 🩳QoL, 🗺 Мапинг

#509 Фикс и мини-ремаппинг Хаммерхэда
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг

#510 Revork: down to cost IRP
  mod_celadon/cargo_items/code/machinery.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔥 Баланс ❄

#495 Добавлена Ириска
  mod_celadon/mobs/README.md
  mod_celadon/mobs/_mobs.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/iriska.dm
  mod_celadon/mobs/icons/iriska.dmi
Labels: ☢Экспериментальный PR☢, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#514 Fix .308 caliber ammo
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/README.md
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
Labels: 🚧 Фикс багов 🚧, 🧻 Документация 🧻, 🧱 Код 🧱

#515 3 реворк, чисто офы, поехали
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄

#512 Томагавк больше не наваливает боком
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🦎.

#517 No more rotate junker
  _maps/_mod_celadon/shuttles/independent/independent_junker.dmm
  _maps/_mod_celadon/shuttles/minutemen/minutemen_vela.dmm
  _maps/_mod_celadon/shuttles/pgf/pgf_crying_sun.dmm
  _maps/_mod_celadon/shuttles/roumain/srm_elder.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг

#521 Cutting out the NT symbols
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
Labels: 🗺 Мапинг

#518 Resprite: Cowboy boots
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/cowboy_boots.dm
  mod_celadon/resprite/icons/feet.dmi
Labels: 🔵 Требует рассмотрения, 🎨 Спрайты 🎨, 🧱 Код 🧱

#519 Tweak: Wideband now 6 tiles loud
  mod_celadon/wideband/README.md
  mod_celadon/wideband/_wideband.dm
  mod_celadon/wideband/_wideband.dme
  mod_celadon/wideband/code/wideband.dm
Labels: 🩳QoL, 🪓 НЕ МОДУЛЬНО 🪓, 🔵 Требует рассмотрения, 🧱 Код 🧱, 🔨 Доработать🔨

#522 Возвращаем обратно значения
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄

#526 Ребаланс движков (Тестовый)
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: 🛠 В разработке 🛠, ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄

#527 Возвращение револьвера HorizonX
  mod_celadon/weapons/README.md
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/revolver.dm
  mod_celadon/weapons/icons/guns/horizonx.dmi
  mod_celadon/weapons/sound/gun/shot_hozizonx.ogg
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#529 Fix: переоформлен вырез рантайма
  code/modules/overmap/objects/outpost/outpost.dm
  mod_celadon/_master_files/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#530 Remove: keybindings conflicts and duplicate defines
  code/modules/client/preferences_savefile.dm
  code/modules/overmap/objects/outpost/outpost.dm
  mod_celadon/_DEFINES/code/_DEFINES/fov.dm
  mod_celadon/_master_files/README.md
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱

#531 Починка безгильзовых патронов
  code/modules/projectiles/ammunition/caseless/_caseless.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#536 Fix emotes typos
  mod_celadon/_components/code/emotes/emote_panel.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱

#533 Tweak: Lower prices in cargo
  code/modules/cargo/packs/food.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆

#537 Fix names of ion thrusters
  mod_celadon/balance/code/engine/circuits.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱

#541 Tweak: CC clothes on godmode
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/cc_clothes.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆

#542 Fixes tajara
  mod_celadon/_components/code/emotes/emote_panel.dm
  mod_celadon/tajara/code/species/sprite_accessories.dm
  mod_celadon/tajara/icons/tajara_ears.dmi
  mod_celadon/tajara/icons/tajara_tail.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱

#539 Ребаланс движков (Тестовый) ч2
  code/game/machinery/shuttle/shuttle_engine.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
  tgui/packages/tgui/interfaces/HelmConsole.js
Labels: 🚧 Фикс багов 🚧, ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆

#513 Add: New items
  code/modules/client/loadout/_loadout.dm
  code/modules/client/preferences.dm
  code/modules/clothing/suits/hoodies.dm
  html/browser/common.css
  mod_celadon/_DEFINES/README.md
  mod_celadon/_components/README.md
  mod_celadon/_components/__components.dme
  mod_celadon/_components/code/_globals.dm
  mod_celadon/_components/code/maths.dm
  mod_celadon/_components/code/time.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
  mod_celadon/items/README.md
  mod_celadon/items/_items.dme
  mod_celadon/items/code/items.dm
  mod_celadon/items/code/pocketwatch.dm
  mod_celadon/items/code/shoes.dm
  mod_celadon/items/code/toggles.dm
  mod_celadon/items/icons/items.dmi
  mod_celadon/items/icons/mob/shoes/miscellaneous.dmi
  mod_celadon/items/icons/mob/shoes/sandals.dmi
  mod_celadon/items/icons/mob/shoes/slippers.dmi
  mod_celadon/items/icons/obj/inhands/left_miscellaneous.dmi
  mod_celadon/items/icons/obj/inhands/left_sandals.dmi
  mod_celadon/items/icons/obj/inhands/left_slippers.dmi
  mod_celadon/items/icons/obj/inhands/miscellaneous.dmi
  mod_celadon/items/icons/obj/inhands/right_miscellaneous.dmi
  mod_celadon/items/icons/obj/inhands/right_sandals.dmi
  mod_celadon/items/icons/obj/inhands/right_slippers.dmi
  mod_celadon/items/icons/obj/inhands/sandals.dmi
  mod_celadon/items/icons/obj/inhands/slippers.dmi
  mod_celadon/items/icons/obj/shoes/miscellaneous.dmi
  mod_celadon/items/icons/obj/shoes/sandals.dmi
  mod_celadon/items/icons/obj/shoes/slippers.dmi
  mod_celadon/items/icons/obj/tajara_items.dmi
  mod_celadon/items/icons/overlay/tajara_items_overlay.dmi
  mod_celadon/items/sounds/blade_close.ogg
  mod_celadon/items/sounds/blade_open.ogg
  mod_celadon/items/sounds/drop/accessory.ogg
  mod_celadon/items/sounds/pickup/accessory.ogg
  mod_celadon/loadout/README.md
  mod_celadon/loadout/_loadout.dm
  mod_celadon/loadout/code/accessories.dm
  mod_celadon/loadout/code/footwear.dm
  mod_celadon/loadout/code/general.dm
  mod_celadon/loadout/code/hat.dm
  mod_celadon/loadout/code/suit.dm
  mod_celadon/loadout/code/uniform.dm
  mod_celadon/qol/README.md
Labels: 🩳QoL, 🧻 Документация 🧻, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#516 Талос. Опять
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
Labels: 🩳QoL, 🗺 Мапинг, 🔵 Требует рассмотрения

#532 Krait Balance
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требует рассмотрения, 🔥 Баланс ❄, 🔆 Обновление 🔆

#543 Fixes: sprites & loadout
  mod_celadon/loadout/code/uniform.dm
  mod_celadon/tajara/icons/tajara_bodyparts.dmi
  mod_celadon/tajara/icons/tajara_tail.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱

#546 Fixes
  code/game/objects/items/storage/wallets.dm
  code/modules/overmap/objects/outpost/outpost.dm
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/packs/costumes_toys.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/centcom.dm
  mod_celadon/items/code/cloaks.dm
  mod_celadon/items/code/dress.dm
  mod_celadon/items/code/items.dm
  mod_celadon/items/code/rings.dm
  mod_celadon/items/code/under.dm
  mod_celadon/items/icons/mob/inhands/hands.dmi
  mod_celadon/items/icons/mob/suits/cloaks.dmi
  mod_celadon/items/icons/mob/suits/dress.dmi
  mod_celadon/items/icons/mob/suits/galaxy.dmi
  mod_celadon/items/icons/mob/suits/suits.dmi
  mod_celadon/items/icons/obj/ring.dmi
  mod_celadon/items/icons/obj/suits/cloaks.dmi
  mod_celadon/items/icons/obj/suits/costume.dmi
  mod_celadon/items/icons/obj/suits/dress.dmi
  mod_celadon/items/icons/obj/suits/galaxy.dmi
  mod_celadon/items/icons/obj/suits/suits.dmi
  mod_celadon/loadout/_loadout.dme
  mod_celadon/loadout/code/cloaks.dm
  mod_celadon/loadout/code/dress.dm
  mod_celadon/loadout/code/gloves.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧻 Документация 🧻, 📢 MEGA PR 💣, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🔆 Обновление 🔆

#547 Fix: color tajara
  mod_celadon/tajara/icons/tajara_bodyparts.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨

#548 Fixes: runtime to name
  mod_celadon/items/code/head.dm
  mod_celadon/loadout/code/hat.dm
  mod_celadon/loadout/code/suit.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#549 Fix door closets
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_pubbyslopcrash.dmm
  _maps/_mod_celadon/configs/inteq_executer.json
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/syndicate_eligia.json
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rigger.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_cepheus.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🎨 Спрайты 🎨

#553 Update general.dm
  mod_celadon/loadout/code/general.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#552 Update plushes.dm
  mod_celadon/items/code/plushes.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#555 Fix revolvers
  code/modules/projectiles/guns/ballistic/revolver.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
Labels: 🚧 Фикс багов 🚧, 🛠 В разработке 🛠, 🧱 Код 🧱

#557 Fix
  code/modules/client/preferences.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#556 Реворк оружия ч.1
  mod_celadon/fixes/_fixes.dm
  mod_celadon/weapons/README.md
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/pistol.dm
  mod_celadon/weapons/icons/ammo/ammo.dmi
  mod_celadon/weapons/icons/guns/glock.dmi
  mod_celadon/weapons/icons/guns/usp.dmi
  mod_celadon/weapons/sound/gun/shot_glock.wav
  mod_celadon/weapons/sound/gun/shot_usp45.wav
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#558 Add plushies and fixies
  code/game/objects/items/storage/wallets.dm
  mod_celadon/items/code/cloaks.dm
  mod_celadon/items/code/items.dm
  mod_celadon/items/code/plushes.dm
  mod_celadon/items/sounds/plushes/beaver_plushie.ogg
  mod_celadon/loadout/_loadout.dme
  mod_celadon/loadout/code/accessories.dm
  mod_celadon/loadout/code/dress.dm
  mod_celadon/loadout/code/general.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/loadout/code/suit.dm
  mod_celadon/loadout/code/uniform.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔆 Обновление 🔆

#559 Add: new galaxy suit. Fix: combot -> combat
  _maps/_mod_celadon/configs/nanotrasen_darect.json
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  mod_celadon/items/_items.dme
  mod_celadon/items/code/under.dm
  mod_celadon/loadout/code/uniform.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆

#562 Fix: remove index
  mod_celadon/tajara/code/species/species_random.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#563 Fix sprites tajaras markings
  mod_celadon/tajara/icons/tajara_markings.dmi
Labels: 🚧 Фикс багов 🚧, 🔵 Требует рассмотрения, 🎨 Спрайты 🎨

#567 Чиним конфиги гитхаба
  .github/labeler.yml
Labels: 🚧 Фикс багов 🚧, 🏭 Github 🏭

#572 Fix: do it unusless hos cloak
  mod_celadon/items/code/cloaks.dm
  mod_celadon/loadout/code/cloaks.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#571 Дуэйн с сабшаттлом, Гиена с крашерами, Кои с обновками
  _maps/_mod_celadon/configs/independent_dwayne.json
  _maps/_mod_celadon/configs/independent_koi.json
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
  _maps/_mod_celadon/shuttles/independent/independent_koi.dmm
  _maps/_mod_celadon/shuttles/subshuttles/independent_pebble.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#573 Minor ship fixes
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/independent/independent_junker.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#574 Jet_lancer in mod_celadon
  code/datums/shuttles.dm
  mod_celadon/maps/README.md
  mod_celadon/maps/code/subshuttles.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#575 Update README.md
  mod_celadon/_example/README.md
Labels: 🔵 Требуется проверка

#576 Update README.md 2
  mod_celadon/README.md
Labels: 🔵 Требуется проверка

#565 PortFix
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требует рассмотрения, 🔵 Требуется проверка

#577 Mini remap and fix
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#578 Конфиг мимоса - минус строчка
  _maps/_mod_celadon/configs/independent_mimos.json
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔮 Конфиги 🔮, 🔵 Требуется проверка

#580 Elysim minor fix and new experement
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/ruin/ruin_jox.dmm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#584 Добавление резистов генераторам полей
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/field_gen.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#585 Fix after merge
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#586 Add automatic UTF-8 insertion
  code/__DEFINES/~mods/_master_defines.dm
  mod_celadon/utf_8/README.md
  mod_celadon/utf_8/_utf_8.dm
  mod_celadon/utf_8/_utf_8.dme
  mod_celadon/utf_8/code/utf_8.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#583 Ребаланс двигателей ч.2
  code/game/machinery/shuttle/shuttle_engine_types.dm
  mod_celadon/balance/code/engine/enginebalance.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#582 Обновляем InteQ ч.1
  _maps/_mod_celadon/configs/inteq_colossus.json
  _maps/_mod_celadon/configs/inteq_executer.json
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/inteq_hound.json
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/configs/inteq_talos.json
  _maps/_mod_celadon/configs/inteq_valor.json
  _maps/_mod_celadon/configs/inteq_vaquero.json
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  code/modules/asset_cache/asset_list_items.dm
  mod_celadon/_DEFINES/README.md
  mod_celadon/_DEFINES/__DEFINES.dme
  mod_celadon/_DEFINES/code/_DEFINES/access.dm
  mod_celadon/_DEFINES/code/_DEFINES/cards_ids.dm
  mod_celadon/_components/code/_outfits.dm
  mod_celadon/inteq_stuff/README.md
  mod_celadon/inteq_stuff/_inteq_stuff.dm
  mod_celadon/inteq_stuff/_inteq_stuff.dme
  mod_celadon/inteq_stuff/code/cards_ids.dm
  mod_celadon/inteq_stuff/code/outfits.dm
  mod_celadon/inteq_stuff/code/stamps.dm
  mod_celadon/inteq_stuff/icons/mob/armor.dmi
  mod_celadon/inteq_stuff/icons/mob/hud.dmi
  mod_celadon/inteq_stuff/icons/obj/armor.dmi
  mod_celadon/inteq_stuff/icons/obj/bureaucracy.dmi
  mod_celadon/inteq_stuff/icons/obj/card.dmi
  mod_celadon/inteq_stuff/icons/obj/large_stamp-inteq.png
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#587 UTF-8 fixes
  code/__DEFINES/~mods/_master_defines.dm
  shiptest.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#589 Fix UTF_8
  mod_celadon/mod_celadon.dme
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#590 Revert utf8
  code/__DEFINES/~mods/_master_defines.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/utf_8/README.md
  mod_celadon/utf_8/_utf_8.dm
  mod_celadon/utf_8/_utf_8.dme
  mod_celadon/utf_8/code/utf_8.dm
  shiptest.dme
Labels: 🧱 Код 🧱, 🛑= REVERT =🛑

#594 Remove blueprints
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_boyardee.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
  _maps/_mod_celadon/shuttles/independent/independent_kilo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_koi.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/independent/independent_radio_broadcast.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rube_goldberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_schmiedeberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/misc/independent_sfwb.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, ☢Экспериментальный PR☢, 🔥 Баланс ❄, 🔵 Требуется проверка

#595 Фикс реплики плаща
  mod_celadon/items/code/cloaks.dm
  mod_celadon/loadout/code/cloaks.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#596 Add: blueprints to cargo, edit example modpacks
  mod_celadon/_example/README.md
  mod_celadon/cargo_items/README.md
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/rnd.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#598 Dwayne some rework
  _maps/_mod_celadon/configs/independent_dwayne.json
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#597 Re-balance: normal lootbox elite mobs
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
Labels: ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка

#599 Resprite: parallax space
  mod_celadon/mod_celadon.dme
  mod_celadon/parallax/README.md
  mod_celadon/parallax/_parallax.dm
  mod_celadon/parallax/_parallax.dme
  mod_celadon/parallax/code/parallax.dm
  mod_celadon/parallax/icons/parallax.dmi
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#600 Old outpost
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/outpost.dm
  mod_celadon/maps/code/shuttles.dm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, ☢Экспериментальный PR☢, 🧱 Код 🧱

#605 Outpost work
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_56x40.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#606 Фикс дрейкборгов
  mod_celadon/drakeborgs/code/newforrobots.dm
  mod_celadon/drakeborgs/code/rnd.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#607 Фикс G36
  mod_celadon/weapons/code/ammo.dm
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#602 Edit: heater into the ration packs
  code/game/objects/items/storage/ration.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/food_and_drinks.dm
Labels: 🩳QoL, 🔵 Требует рассмотрения, 🧱 Код 🧱

#608 Edit: combat shotguns
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/gun.dm
Labels: 🩳QoL, 🧱 Код 🧱

#609 Update: codeowner_reviews.yml
  .github/workflows/codeowner_reviews.yml
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#610 Update: CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭

#611 Ruin shuttles
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/ruin/syndicate_Jox.dmm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#612 Remove: codeowner_reviews.yml
  .github/workflows/codeowner_reviews.yml
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#615 Fix calibre
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/fixes/README.md
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#616 Апдейт оутфита медику интека
  mod_celadon/inteq_stuff/code/outfits.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#603 Edit: weapon locker large
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/guncase.dm
  mod_celadon/qol/README.md
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#613 Fix: explorer gas masks
  code/modules/mining/equipment/explorer_gear.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#617 Add: New loadout and reorganization
  mod_celadon/items/_items.dme
  mod_celadon/items/code/accessories.dm
  mod_celadon/items/code/cloaks.dm
  mod_celadon/items/code/coats.dm
  mod_celadon/items/code/external_wears.dm
  mod_celadon/items/code/head.dm
  mod_celadon/items/code/items.dm
  mod_celadon/items/code/scarfes.dm
  mod_celadon/items/code/suits.dm
  mod_celadon/items/code/under.dm
  mod_celadon/items/icons/obj/helmet.dmi
  mod_celadon/items/icons/obj/tajara_items.dmi
  mod_celadon/items/icons/overlay/helmet.dmi
  mod_celadon/items/icons/overlay/tajara_items_overlay.dmi
  mod_celadon/loadout/_loadout.dme
  mod_celadon/loadout/code/accessories.dm
  mod_celadon/loadout/code/cloaks.dm
  mod_celadon/loadout/code/coat.dm
  mod_celadon/loadout/code/costumes.dm
  mod_celadon/loadout/code/dress.dm
  mod_celadon/loadout/code/external_wears.dm
  mod_celadon/loadout/code/gloves.dm
  mod_celadon/loadout/code/headwear.dm
  mod_celadon/loadout/code/scarfes.dm
  mod_celadon/loadout/code/suit.dm
  mod_celadon/loadout/code/uniform.dm
  mod_celadon/tajara/icons/clothing/onmob_head_tajara.dmi
  mod_celadon/tajara/icons/clothing/onmob_suit_tajara.dmi
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#614 Rebalance: ammo pack and bullets
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  mod_celadon/balance/README.md
  mod_celadon/qol/README.md
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка
