Repository CeladonSS13/Shiptest, pull requests merged in 2024-07, with the labels that each got.

#798 Fix after merge (maps)
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_saloon.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#800 DeLocalization configs
  _maps/_mod_celadon/configs/elysium_aldaama.json
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/configs/nanotrasen_darect.json
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#801 Make laser great again
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/e_sg500.dm
  mod_celadon/balance/code/e_tarsmg.dm
  mod_celadon/balance/code/energy.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#804 Return: Crushers Trophey Effects
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  code/datums/components/crafting/recipes/tribal.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mining/equipment/trophies.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/human/survivors.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/bubblegum.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/codename_claw.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/cult_templar.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/basilisk.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/polarbear.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/wolf.dm
  mod_celadon/crusher_trophy/README.md
  mod_celadon/crusher_trophy/_crusher_trophy.dm
  mod_celadon/crusher_trophy/_crusher_trophy.dme
  mod_celadon/crusher_trophy/code/kinetic_crusher.dm
  mod_celadon/crusher_trophy/code/lavaland.dm
  mod_celadon/crusher_trophy/code/megafuna.dm
  mod_celadon/crusher_trophy/code/necropolis_chests.dm
  mod_celadon/crusher_trophy/code/tribal.dm
  mod_celadon/mod_celadon.dme
Labels: ⌛ Ждёт результатов голосования ⌛, 🗺 Мапинг, ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔵 Требуется проверка

#803 No more SGSV
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  _maps/_mod_celadon/configs/solfed_tomahawk.json
  _maps/_mod_celadon/shuttles/solfed/solfed_chronicle.dmm
  mod_celadon/_components/README.md
  mod_celadon/_components/code/_names.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#670 Add: syntanol
  code/modules/mob/living/carbon/human/species_types/IPC.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cola.dm
  mod_celadon/food_and_drinks/README.md
  mod_celadon/food_and_drinks/_food_and_drinks.dm
  mod_celadon/food_and_drinks/_food_and_drinks.dme
  mod_celadon/food_and_drinks/code/alcohol_reagents.dm
  mod_celadon/food_and_drinks/code/drinks_recipes.dm
  mod_celadon/food_and_drinks/code/vending.dm
  mod_celadon/food_and_drinks/icons/drinks.dmi
  mod_celadon/food_and_drinks/sound/drinkfizz.ogg
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#806 Тасочка: Добавить книги арабского языка
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#809 Fix: sprite drinks
  mod_celadon/food_and_drinks/icons/drinks.dmi
  mod_celadon/food_and_drinks/icons/drinks1.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#805 Map expansion
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
  code/__DEFINES/maps.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/overmap.dm
  config/game_options.txt
  mod_celadon/map_expansion/README.md
  mod_celadon/map_expansion/_map_expansion.dm
  mod_celadon/map_expansion/_map_expansion.dme
  mod_celadon/mod_celadon.dme
Labels: 🗺 Мапинг, ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🏆 Отличная работа! 🏆, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🚧 Долгострой 🚧

#782 Add: Separatist plushe
  code/modules/donator/_donator.dm
  config/donators/ianthewanderer.json
  mod_celadon/donaters/README.md
  mod_celadon/donaters/_donaters.dm
  mod_celadon/donaters/_donaters.dme
  mod_celadon/donaters/code/donator/settings.dm
  mod_celadon/donaters/code/items.dm
  mod_celadon/donaters/icons/plushes.dmi
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🔵 Требуется проверка

#812 Update: Ice Outpost
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🩳QoL, 🗺 Мапинг, 🔆 Обновление 🔆, 🔵 Требуется проверка

#811 Make energy gun great again
  code/modules/projectiles/guns/energy.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/code/energy.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#813 Luxembourg plasma fix
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#814 Фикс стечкинов на картах
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#815 Фикс револьверов на картах
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#817 Перенос всех руин в модуль
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#818 ruin.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#819 Inteq iron-maiden update
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
Labels: 🗺 Мапинг, 🦎., 🔵 Требуется проверка

#821 Limit ship 1
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/independent_beluga.json
  _maps/_mod_celadon/configs/independent_box.json
  _maps/_mod_celadon/configs/independent_boyardee.json
  _maps/_mod_celadon/configs/independent_bulk_track.json
  _maps/_mod_celadon/configs/independent_byo.json
  _maps/_mod_celadon/configs/independent_caravan.json
  _maps/_mod_celadon/configs/independent_escapepod.json
  _maps/_mod_celadon/configs/independent_halftrack.json
  _maps/_mod_celadon/configs/independent_kilo.json
  _maps/_mod_celadon/configs/independent_koi.json
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/configs/independent_masinyane.json
  _maps/_mod_celadon/configs/independent_mimos.json
  _maps/_mod_celadon/configs/independent_module.json
  _maps/_mod_celadon/configs/independent_mudskipper.json
  _maps/_mod_celadon/configs/independent_nemo.json
  _maps/_mod_celadon/configs/independent_qurk.json
  _maps/_mod_celadon/configs/independent_radio.json
  _maps/_mod_celadon/configs/independent_ramo.json
  _maps/_mod_celadon/configs/independent_schmiedeberg.json
  _maps/_mod_celadon/configs/independent_sfwb.json
  _maps/_mod_celadon/configs/independent_shepherd.json
  _maps/_mod_celadon/configs/independent_shetland.json
  _maps/_mod_celadon/configs/independent_tranquility.json
  _maps/_mod_celadon/configs/inteq_hound.json
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/configs/nanotrasen_delta.json
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/configs/nanotrasen_meta.json
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/configs/nanotrasen_skipper.json
  _maps/_mod_celadon/configs/nanotrasen_venture.json
  _maps/_mod_celadon/configs/pirate_libertatia.json
  _maps/_mod_celadon/configs/pirate_noderider.json
  _maps/_mod_celadon/configs/syndicate_cybersun_kansatsu.json
  _maps/_mod_celadon/configs/syndicate_eligia.json
  _maps/_mod_celadon/configs/syndicate_gorlex_hyena.json
  _maps/_mod_celadon/configs/syndicate_gorlex_komodo.json
  _maps/_mod_celadon/configs/syndicate_litieguai.json
  _maps/_mod_celadon/configs/syndicate_twinkleshine.json
Labels: 🗺 Мапинг, 🔮 Конфиги 🔮

#822 фикс разброса винтовок g36 + morita
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/icons/guns/48x32guns.dmi
  mod_celadon/weapons/icons/guns/back.dmi
  mod_celadon/weapons/icons/guns/back_inteq.dmi
  mod_celadon/weapons/sound/gun/Morita1.ogg
  mod_celadon/weapons/sound/gun/g36.ogg
  mod_celadon/weapons/sound/gun/g36sh.ogg
  shiptest.dme
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка

#823 Inteq iron maiden gun path fix
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#816 Slight Tomahawk changes
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#824 Tajara Minor Fixes
  code/__DEFINES/~mods/tajara.dm
  code/__HELPERS/mobs.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/species.dm
  mod_celadon/tajara/code/species/organs.dm
  mod_celadon/tajara/code/species/species.dm
  mod_celadon/tajara/code/species/sprite_accessories.dm
  mod_celadon/tajara/icons/tajara_organs.dmi
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🚧 Долгострой 🚧

#826 Fix after merge (maps)
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_dwarffortress.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#828 Фикс факсов
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/fax.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#833 Kansatsu-class task
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: 🗺 Мапинг

#837 Github revorke
  README.md
  docs/CODE_OF_CONDUCT.md
  docs/GPLv3.txt
  docs/SECURITY.md
  docs/folder_note.md
  docs/installation.md
  mod_celadon/_example/README.md
Labels: 🩳QoL, 🧻 Документация 🧻, 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка

#830 Add: Возвращены спавнеры тендрилов
  code/__DEFINES/achievements.dm
  code/datums/components/chasm.dm
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/return_tendrils/README.md
  mod_celadon/return_tendrils/_return_tendrils.dm
  mod_celadon/return_tendrils/_return_tendrils.dme
  mod_celadon/return_tendrils/code/boss_achievements.dm
  mod_celadon/return_tendrils/code/boss_scores.dm
  mod_celadon/return_tendrils/code/cave_entrance.dm
  mod_celadon/return_tendrils/code/hivebot.dm
  mod_celadon/return_tendrils/code/mining_mobs.dm
  mod_celadon/return_tendrils/code/necropolis_tendril.dm
  mod_celadon/return_tendrils/code/netherworld.dm
  mod_celadon/return_tendrils/code/simple_animal.dm
  mod_celadon/return_tendrils/code/spawner.dm
  mod_celadon/return_tendrils/code/spells.dm
  mod_celadon/return_tendrils/code/weaponry.dm
  tools/HubMigrator/HubMigrator.dm
Labels: 🧱 Код 🧱, 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка, Требует тестирования

#832 Add: better sauna
  code/__DEFINES/~mods/generators.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/_storge_icons/icons/sauna_oven.dmi
  mod_celadon/_storge_icons/icons/smoke.dmi
  mod_celadon/effects/README.md
  mod_celadon/effects/_effects.dm
  mod_celadon/effects/_effects.dme
  mod_celadon/effects/code/smoke.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/sauna/README.md
  mod_celadon/sauna/_sauna.dm
  mod_celadon/sauna/_sauna.dme
  mod_celadon/sauna/code/sauna_oven.dm
  shiptest.dme
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#834 Добавление увеличенных рожков и барабанов на СКМ-44
  mod_celadon/weapons/README.md
  mod_celadon/weapons/_weapons.dm
  mod_celadon/weapons/code/ammo.dm
Labels: 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#835 Update: Ice outpost
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔆 Обновление 🔆, 🔵 Требуется проверка

#836 Fix: Bar Sign
  mod_celadon/barsigns/code/barsigns.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#840 Return deleted ruins
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#839 Fix: celadon areas
  code/datums/weather/weather.dm
  code/game/area/areas.dm
  code/game/machinery/firealarm.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/buildmode/submodes/area_edit.dm
  mod_celadon/_storge_icons/icons/areas.dmi
  mod_celadon/_storge_icons/icons/backup_areas.dmi
  mod_celadon/areas/README.md
  mod_celadon/areas/_areas.dm
  mod_celadon/areas/code/outpost.dm
  mod_celadon/areas/code/ship_areas.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, На тестировании

#842 Небольшие изменения
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  mod_celadon/_storge_icons/icons/items/obj/storage.dmi
  mod_celadon/_storge_icons/icons/mob/hands/storage_hands_left.dmi
  mod_celadon/_storge_icons/icons/mob/hands/storage_hands_right.dmi
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/firstaid.dm
  mod_celadon/stuff_elysium/code/elysium_merch.dm
Labels: 🩳QoL, 🗺 Мапинг, 🔵 Требует рассмотрения, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#843 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#844 Revorke: Ice Avanpost
  _maps/_mod_celadon/outpost/hangar/nt_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/nt_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_ice_56x40.dmm
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🗺 Мапинг, 🔆 Обновление 🔆, 🔵 Требуется проверка

#845 No more replaced cell in selfcharge gun
  mod_celadon/balance/README.md
  mod_celadon/balance/code/energy.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#781 New Elysium shuttle
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
Labels: 🗺 Мапинг, 🛠 В разработке 🛠, 🔵 Требуется проверка

#847 ruin.dm fix
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#848 Alpha Hotfix Maps
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#850 Fix: bug name tajaraN
  mod_celadon/tajara/strings/tajara_female_names.txt
  mod_celadon/tajara/strings/tajara_male_names.txt
Labels: 🚧 Фикс багов 🚧

#853 QoL: Debug outfit in Top
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/admin.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#854 Add: SyndiMouse
  mod_celadon/_storge_icons/icons/mobs/syndimouse.dmi
  mod_celadon/mobs/README.md
  mod_celadon/mobs/_mobs.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/pets/syndimouse.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка

#851 Update: Ice Outpost Part Part 2
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🗺 Мапинг, 🔆 Обновление 🔆, 🔵 Требуется проверка

#858 Refactoring: Ice Asteroid
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
  code/modules/overmap/objects/outpost/outpost_types.dm
  mod_celadon/maps/code/outpost.dm
Labels: 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ, 🏗 Refectoring 🏗

#857 Refactoring: mod_celadon
  code/__DEFINES/~mod_celadon/access.dm
  code/__DEFINES/~mod_celadon/fov.dm
  code/__DEFINES/~mod_celadon/generators.dm
  code/__DEFINES/~mod_celadon/names.dm
  code/__DEFINES/~mod_celadon/roaches.dm
  code/__DEFINES/~mod_celadon/tajara.dm
  code/__DEFINES/~mod_celadon/time.dm
  code/__HELPERS/names.dm
  mod_celadon/_DEFINES/README.md
  mod_celadon/_DEFINES/__DEFINES.dm
  mod_celadon/_DEFINES/__DEFINES.dme
  mod_celadon/_DEFINES/code/_DEFINES/clothers.dm
  mod_celadon/_DEFINES/code/_DEFINES/dcs/signals.dm
  mod_celadon/_DEFINES/code/_DEFINES/dcs/signals_mob_main.dm
  mod_celadon/_DEFINES/code/_DEFINES/declarations.dm
  mod_celadon/_DEFINES/code/_DEFINES/fov.dm
  mod_celadon/_DEFINES/code/_DEFINES/layers.dm
  mod_celadon/_DEFINES/code/_helpers.dm
  mod_celadon/_components/README.md
  mod_celadon/_components/__components.dme
  mod_celadon/_components/code/maths.dm
  mod_celadon/_components/code/time.dm
  mod_celadon/_example/README.md
  mod_celadon/ai_laws/README.md
  mod_celadon/areas/README.md
  mod_celadon/cargo_items/README.md
  mod_celadon/crusher_trophy/README.md
  mod_celadon/donaters/README.md
  mod_celadon/effects/README.md
  mod_celadon/event_cly/README.md
  mod_celadon/event_td/README.md
  mod_celadon/flags/README.md
  mod_celadon/flora/README.md
  mod_celadon/food_and_drinks/README.md
  mod_celadon/fov/README.md
  mod_celadon/fov/code/living_fov.dm
  mod_celadon/items/code/pocketwatch.dm
  mod_celadon/lobby_celadon/README.md
  mod_celadon/map_expansion/README.md
  mod_celadon/mobs/README.md
  mod_celadon/mod_celadon.dme
  mod_celadon/musician/README.md
  mod_celadon/parallax/README.md
  mod_celadon/pizzamat/README.md
  mod_celadon/return_tendrils/README.md
  mod_celadon/sauna/README.md
  mod_celadon/solfed_stuff/README.md
  mod_celadon/stamps/README.md
  mod_celadon/stuff_elysium/README.md
  mod_celadon/stuff_gamma/README.md
  mod_celadon/tajara/README.md
  mod_celadon/turrets/README.md
  shiptest.dme
Labels: 🩳QoL, 🧻 Документация 🧻, 🧱 Код 🧱, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ, 🏗 Refectoring 🏗

#856 Add: Faction on ship
  _maps/_mod_celadon/configs/elysium_aldaama.json
  _maps/_mod_celadon/configs/elysium_homa.json
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  code/__DEFINES/~mod_celadon/access.dm
  mod_celadon/faction/README.md
  mod_celadon/faction/_faction.dm
  mod_celadon/faction/_faction.dme
  mod_celadon/faction/code/faction.dm
  mod_celadon/mod_celadon.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#862 Tajaran nose color fix
  code/game/objects/structures/mirror.dm
  code/modules/client/preferences.dm
  mod_celadon/tajara/code/preferences/preferences.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#864 Fix: Turret
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/independent/independent_skipjack.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/faction/code/faction.dm
  mod_celadon/repairs_other/README.md
  mod_celadon/repairs_other/_repairs_other.dme
  mod_celadon/repairs_other/code/turret.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#865 Add: Elysium outfit
  _maps/_mod_celadon/configs/elysium_aldaama.json
  _maps/_mod_celadon/configs/elysium_homa.json
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  mod_celadon/_storge_icons/_storge_icons.dme
  mod_celadon/_storge_icons/icons/obj/elysium_card.dmi
  mod_celadon/faction/code/faction.dm
  mod_celadon/solgov_outfit/code/solgov_outfit.dm
  mod_celadon/stuff_elysium/_stuff_elysium.dme
  mod_celadon/stuff_elysium/code/outfit_ship/elysium.dm
  mod_celadon/stuff_elysium/code/outfits.dm
  mod_celadon/stuff_elysium/code/shoes.dm
  mod_celadon/stuff_inteq/code/outfits.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱

#866 Minor changes
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/ionrifle.dm
  mod_celadon/items/code/under.dm
  mod_celadon/loadout/code/headwear.dm
  mod_celadon/loadout/code/uniform.dm
Labels: 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔥 Баланс ❄, 🦎., 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#867 Update: Elysium acces turret
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  mod_celadon/stuff_elysium/code/outfit_ship/elysium.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#869 Update: Clear
  mod_celadon/_storge_icons/_storge_icons.dme
Labels: 🔵 Требуется проверка

#859 Tweak: TGUI refresh button and OOC tab cleaning
  code/datums/helper_datums/getrev.dm
  code/datums/keybinding/client.dm
  code/modules/admin/admin_fax_panel.dm
  code/modules/admin/verbs/requests.dm
  code/modules/client/verbs/ooc.dm
  code/modules/client/verbs/ping.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/toggle_notify.dm
  code/modules/mob/mob.dm
  code/modules/tgui_panel/external.dm
  mod_celadon/_modpacks.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/fixchat2.dm
  mod_celadon/qol/code/reefresh_tgui.dm
Labels: 🩳QoL, 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, _🚨_ Conflicts! _🚨_, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#871 Небольшая перебалансировка Пандоры и элиток
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/code/elite.dm
  mod_celadon/mobs/code/simple_animal/wizard_constructs.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🦎., 🔵 Требуется проверка

#873 Добавление масок и шлемов для морд сарати
  code/__DEFINES/~mod_celadon/sarathi.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  mod_celadon/_storge_icons/icons/helms_snouted.dmi
  mod_celadon/_storge_icons/icons/mask_snouted.dmi
  mod_celadon/balance/code/elite.dm
  mod_celadon/resprite/README.md
  shiptest.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка

#872 Fix + Update: QoL
  _maps/_mod_celadon/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/_mod_celadon/shuttles/independent/independent_byo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_junker.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка
