Repository CeladonSS13/Shiptest, pull requests merged in 2024-06, with the labels that each got.

#620 Возвращает потерянный тайл на аванпосте
  _maps/_mod_celadon/outpost/indie_space.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#621 [MIRROR] Secret documents black market item properly randomizes its documents
  code/modules/cargo/blackmarket/blackmarket_items/misc.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#622 [MIRROR] Swaps armor values on survivor and explorer armor so survivor armor isn't better
  code/modules/mining/equipment/explorer_gear.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#623 [MIRROR] Round Join Soul Removal
  code/modules/mob/dead/new_player/new_player.dm
  sound/voice/ApproachingTG.ogg
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🔊 Звуки 🔊, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#624 [MIRROR] Bandoliers now hold 40 items as intended
  code/game/objects/items/storage/belt.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#644 Убран мёрджконфликт
  code/modules/mining/equipment/explorer_gear.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#640 [MIRROR] Granularizes defib crate at the outpost
  code/modules/cargo/packs/medical.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#641 [MIRROR] granularizes a handfully of supply packs
  code/modules/cargo/packs/machinery.dm
  code/modules/cargo/packs/spacesuit_armor.dm
  code/modules/cargo/packs/tools.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#625 [MIRROR] You cna no longer saw off guns with knives
  code/modules/projectiles/guns/ballistic.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#626 [MIRROR] Thrown Thing Improvments
  code/__DEFINES/flags.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/throwing.dm
  code/game/atoms_movable.dm
  code/game/objects/items/devices/mines.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/living/living_defense.dm
  code/modules/power/lighting.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#628 [MIRROR] Removes weaknesses and banes
  code/__DEFINES/contracts.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/devil/devil.dm
  code/modules/antagonists/devil/devil_helpers.dm
  code/modules/antagonists/devil/true_devil/_true_devil.dm
  code/modules/library/lib_codex_gigas.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/spider.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/mothroach.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  shiptest.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#631 [MIRROR] Moves most vendor items out of contraband.
  code/modules/vending/assist.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/engivend.dm
  code/modules/vending/games.dm
  code/modules/vending/medical.dm
  code/modules/vending/medical_wall.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/nutrimax.dm
  code/modules/vending/plasmaresearch.dm
  code/modules/vending/security.dm
  code/modules/vending/snack.dm
  code/modules/vending/sovietsoda.dm
  code/modules/vending/toys.dm
  code/modules/vending/youtool.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#633 [MIRROR] Fixes create and destory failure due to missing physiology
  code/modules/mob/living/carbon/human/human_defense.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#634 [MIRROR] camera/autoname/LateInitialize() optimization
  code/game/machinery/camera/presets.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#635 [MIRROR] Asteroid ore veins
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/modules/mining/ore_veins.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#636 [MIRROR] Makes the brimstone shoot faster
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#637 [MIRROR] fixes shotgun casing bounce sounds
  code/datums/components/movable_physics.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#639 [MIRROR] Hallucination anomalies now affect people who don't have research scanners rather than people who do
  code/game/objects/effects/anomalies/anomalies_hallucination.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#646 [MIRROR] Removes bulk ammo boxes from webbing storage
  code/game/objects/items/storage/belt.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#645 [MIRROR] Mindbreaker Tweak
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#642 [MIRROR] Granularizes mech equipment
  code/modules/cargo/packs/mechs.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#648 [MIRROR] Adds a salve that allows elzuose to change color
  code/game/objects/items/dyekit.dm
  code/modules/client/loadout/loadout_general.dm
  icons/obj/dyespray.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#647 [MIRROR] Kills legion disease cause its bad and weird
  code/datums/diseases/advance/presets.dm
  code/datums/diseases/advance/symptoms/necropolis.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/reagents/reagent_containers/bottle.dm
  shiptest.dme
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#649 [MIRROR] .45-70 Specialty Ammo
  code/modules/cargo/packs/ammo.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#627 [MIRROR] Smokers can now pick what they smoke
  code/_globalvars/lists/flavor_misc.dm
  code/controllers/subsystem/traumas.dm
  code/datums/mood_events/drug_events.dm
  code/datums/traits/negative.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/reagents/chemistry/holder.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#629 [MIRROR] stops free circut board from drying rack
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🔵 Требует рассмотрения, 🧱 Код 🧱, _🚨_ Conflicts! _🚨_, 🔵 Требуется проверка

#643 [MIRROR] Examine text improvments to humans and id cards
  code/__HELPERS/names.dm
  code/game/objects/items/cards_ids.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🔵 Требует рассмотрения, 🧱 Код 🧱, _🚨_ Conflicts! _🚨_, 🔵 Требуется проверка

#630 [MIRROR] Minor fixes and improvement to Flavor Text
  check_regex.yaml
  code/__DEFINES/say.dm
  code/modules/client/preferences.dm
  code/modules/mob/mob.dm
  code/modules/mob/say_vr.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🔵 Требует рассмотрения, 🧱 Код 🧱, _🚨_ Conflicts! _🚨_, 🔵 Требуется проверка

#652 [MIRROR] Admin and Debug Tab QOL
  code/controllers/subsystem/events.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/atmosdebug.dm
  code/modules/admin/verbs/beakerpanel.dm
  code/modules/admin/verbs/cinematic.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/admin/verbs/outpost.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/admin/verbs/selectequipment.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/admin/verbs/spawnobjasmob.dm
  code/modules/buildmode/buildmode.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/client/preferences_toggles.dm
  code/modules/donator/_donator.dm
  code/modules/mob/dead/crew_manifest.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#651 [MIRROR] Tweaks Runner-class and replaces weapons with factory subtype on the Elder
  _maps/shuttles/roumain/srm_elder.dmm
  _maps/shuttles/subshuttles/syndicate_runner.dmm
Labels: 🗺 Мапинг, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#653 [MIRROR] Ports a super small TG signal optimization
  code/datums/components/_component.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#654 [MIRROR] Removes sexy clown & mime costumes from costume spawners
  code/game/objects/effects/spawners/bundle.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, ✂ Вырезано ✂

#655 [MIRROR] makes plant analyzer usable
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/growninedible.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#656 [MIRROR] Improves the language used in trickwines for brewers
  code/game/objects/items/manuals.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#661 New shitspawn moduleship
  _maps/_mod_celadon/configs/independent_module.json
  _maps/_mod_celadon/shuttles/independent/independent_moduleship.dmm
  _maps/_mod_celadon/shuttles/subshuttles/independent_module_one.dmm
  _maps/_mod_celadon/shuttles/subshuttles/independent_module_two.dmm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#662 [MIRROR] Fix shadow AP bonus
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#663 Add: new outfit to avanpost & bugfix
  _maps/_basemap.dm
  mod_celadon/balance/code/cc_clothes.dm
  mod_celadon/elysium_stuff/_elysium_stuff.dme
  mod_celadon/elysium_stuff/code/elysim_merch.dm
  mod_celadon/elysium_stuff/code/outfits.dm
  mod_celadon/elysium_stuff/code/suits.dm
  mod_celadon/elysium_stuff/icons/mob/elysium_commander.dmi
  mod_celadon/elysium_stuff/icons/obj/card.dmi
  mod_celadon/elysium_stuff/icons/obj/elysium_commander.dmi
  mod_celadon/maps/README.md
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#660 Re-sprite: new disposal
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/disposal.dm
  mod_celadon/resprite/icons/disposals.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#659 Edit: plants
  code/game/objects/structures/flora.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  mod_celadon/flora/README.md
  mod_celadon/flora/_flora.dm
  mod_celadon/flora/_flora.dme
  mod_celadon/flora/code/plants.dm
  mod_celadon/flora/icons/plants.dmi
  mod_celadon/mod_celadon.dme
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#657 Resprite: new icon language siiktajr
  mod_celadon/tajara/code/species/language.dm
  mod_celadon/tajara/icons/language.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#658 Add: new flags
  mod_celadon/elysium_stuff/code/elysim_merch.dm
  mod_celadon/flags/README.md
  mod_celadon/flags/_flags.dm
  mod_celadon/flags/_flags.dme
  mod_celadon/flags/code/flags.dm
  mod_celadon/flags/icons/flags.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#664 [MIRROR] Broken bones now hurt less on rollerbeds
  code/modules/surgery/bodyparts/bodyparts.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#665 [MIRROR] i broke codeowner
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#667 Fix&Add: piano
  code/modules/instruments/stationary.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/musician/README.md
  mod_celadon/musician/_musician.dm
  mod_celadon/musician/_musician.dme
  mod_celadon/musician/code/musician.dm
  mod_celadon/musician/icons/musician.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#668 Фиксы руин
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_clowncrash.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  mod_celadon/maps/code/random_ruins.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#669 Remove: armor stats repliks CC clothers
  mod_celadon/balance/code/cc_clothes.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#674 [MIRROR] Knife visibility quick fix
  code/game/objects/items/kitchen.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#676 Add: Pizzamat
  mod_celadon/mod_celadon.dme
  mod_celadon/pizzamat/README.md
  mod_celadon/pizzamat/_pizzamat.dm
  mod_celadon/pizzamat/_pizzamat.dme
  mod_celadon/pizzamat/code/pizzamat.dm
  mod_celadon/pizzamat/icons/pizzamat.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#672 Fix after merge
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_moduleship.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rube_goldberg.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/subshuttles/independent_module_one.dmm
  _maps/_mod_celadon/shuttles/subshuttles/independent_module_two.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#675 Tajara hairs save fix
  code/modules/client/preferences_savefile.dm
Labels: 💸$$$💸, 🧱 Код 🧱, 🔵 Требуется проверка

#677 [MIRROR] Removes the Scary Comment Errorer
  code/modules/power/apc.dm
Labels: 🧱 Код 🧱, 🦎., ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#680 [MIRROR] Gunslinger fix
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#683 Фикс направления настенных шкафов
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/independent/independent_schmiedeberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
  _maps/_mod_celadon/shuttles/independent/independent_skipjack.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#678 Add: Event coin TD
  mod_celadon/event_td/README.md
  mod_celadon/event_td/_event_td.dm
  mod_celadon/event_td/_event_td.dme
  mod_celadon/event_td/code/coin.dm
  mod_celadon/event_td/icons/coin.dmi
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#679 Add: new AI Laws factions
  mod_celadon/ai_laws/README.md
  mod_celadon/ai_laws/_ai_laws.dm
  mod_celadon/ai_laws/_ai_laws.dme
  mod_celadon/ai_laws/code/laws.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#681 Add: stuff & belt elysim
  mod_celadon/balance/code/cc_clothes.dm
  mod_celadon/elysium_stuff/_elysium_stuff.dme
  mod_celadon/elysium_stuff/code/belt.dm
  mod_celadon/elysium_stuff/code/head.dm
  mod_celadon/elysium_stuff/code/outfits.dm
  mod_celadon/elysium_stuff/code/shoes.dm
  mod_celadon/elysium_stuff/code/suits.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#684 [MIRROR] Fixes a broken icon state on corpo sofas
  icons/obj/structures/chairs/sofa.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#671 [MIRROR] Ashwalker Shrine Remap
  _maps/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/map_catalogue.txt
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  code/game/turfs/closed/_closed.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#689 Event +Fix
  _maps/_mod_celadon/configs/elysium_aldaama.json
  _maps/_mod_celadon/configs/elysium_homa.json
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/event_bucket.json
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_56x40.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/Event/subbucket.dmm
  _maps/_mod_celadon/shuttles/elysium/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysim_iron_maiden.dmm
  code/game/objects/effects/contraband.dm
  mod_celadon/_components/README.md
  mod_celadon/_components/code/_names.dm
  mod_celadon/ai_laws/code/laws.dm
  mod_celadon/balance/code/cc_clothes.dm
  mod_celadon/elysium_stuff/_elysium_stuff.dme
  mod_celadon/elysium_stuff/code/armor.dm
  mod_celadon/elysium_stuff/code/belt.dm
  mod_celadon/elysium_stuff/code/clothing.dm
  mod_celadon/elysium_stuff/code/elysim_merch.dm
  mod_celadon/elysium_stuff/code/elysium_merch.dm
  mod_celadon/elysium_stuff/code/outfits.dm
  mod_celadon/elysium_stuff/code/suits.dm
  mod_celadon/elysium_stuff/icons/mob/elysium_banner_left.dmi
  mod_celadon/elysium_stuff/icons/mob/elysium_banner_right.dmi
  mod_celadon/elysium_stuff/icons/obj/elysium_patriots.dmi
  mod_celadon/flags/code/flags.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#685 [MIRROR] handrails
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/game/objects/structures/handrail.dm
  icons/obj/structures/handrail.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#686 [MIRROR] Separates bleeding from damage, gauze now STOPS bleeding rather than postponing it
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/mobs.dm
  code/_onclick/item_attack.dm
  code/datums/components/bandage.dm
  code/datums/components/butchering.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/datums/status_effects/debuffs.dm
  code/game/machinery/medical_kiosk.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/stacks/tape.dm
  code/game/objects/structures/petrified_statue.dm
  code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/damage_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/life.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/damage_procs.dm
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/reagents/chemistry/reagents/trickwine_reagents.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/organs/vocal_cords.dm
  code/modules/surgery/surgery_helpers.dm
  shiptest.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#688 Add: New bar signs
  code/game/objects/structures/barsigns.dm
  mod_celadon/barsigns/README.md
  mod_celadon/barsigns/_barsigns.dm
  mod_celadon/barsigns/_barsigns.dme
  mod_celadon/barsigns/code/barsigns.dm
  mod_celadon/barsigns/icons/barsigns.dmi
  mod_celadon/barsigns/icons/barsigns96x96.dmi
  mod_celadon/barsigns/icons/barsigns_long.dmi
  mod_celadon/mod_celadon.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#691 Fix: crash build
  code/modules/mob/living/carbon/human/species.dm
  mod_celadon/stamps/icons/png/syndicate_captain_stamp.png
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#692 Add: New sound drop trees
  code/game/objects/structures/flora.dm
  mod_celadon/qol/README.md
  mod_celadon/sound/zvuk-padayuschego-dereva.ogg
Labels: 🩳QoL, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#693 Re-sound: drop trees
  mod_celadon/sound/zvuk-padayuschego-dereva.ogg
Labels: 🔊 Звуки 🔊, 🔆 Обновление 🔆, 🔵 Требуется проверка

#694 Tweak: Dissection nerf and simplification
  code/modules/surgery/experimental_dissection.dm
  mod_celadon/balance/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#687 Новые штуки для СолФеда и Элизиума
  mod_celadon/mod_celadon.dme
  mod_celadon/solfed_stuff/README.md
  mod_celadon/solfed_stuff/_solfed_stuff.dm
  mod_celadon/solfed_stuff/_solfed_stuff.dme
  mod_celadon/solfed_stuff/code/solfed_decal.dm
  mod_celadon/solfed_stuff/code/solfed_other_stuff.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#697 Добавление иконок СолФеду и Элизиуму
  mod_celadon/solfed_stuff/icons/elysium_brigade.dmi
  mod_celadon/solfed_stuff/icons/mob/belt.dmi
  mod_celadon/solfed_stuff/icons/mob/head.dmi
  mod_celadon/solfed_stuff/icons/mob/neck.dmi
  mod_celadon/solfed_stuff/icons/mob/sol_fed_banner_lefthand.dmi
  mod_celadon/solfed_stuff/icons/mob/sol_fed_banner_righthand.dmi
  mod_celadon/solfed_stuff/icons/mob/suit.dmi
  mod_celadon/solfed_stuff/icons/mob/under.dmi
  mod_celadon/solfed_stuff/icons/sol_fed_logo.dmi
  mod_celadon/solfed_stuff/icons/sol_fed_patriots.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🦎.

#698 Fix
  mod_celadon/elysium_stuff/code/head.dm
  mod_celadon/elysium_stuff/icons/mob/elysium_banner_left.dmi
  mod_celadon/elysium_stuff/icons/mob/elysium_banner_right.dmi
  mod_celadon/elysium_stuff/icons/obj/elysium_patriots.dmi
  mod_celadon/elysium_stuff/icons/obj/hats.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱

#699 Починка путей СФ и Элизиума
  mod_celadon/solfed_stuff/code/solfed_decal.dm
  mod_celadon/solfed_stuff/code/solfed_other_stuff.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#700 [MIRROR] Genemod DLC: Of Rabbits and Wolves
  code/modules/mob/dead/new_player/sprite_accessories/ears.dm
  code/modules/mob/dead/new_player/sprite_accessories/tails.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/tails.dm
  icons/mob/mutant_bodyparts.dmi
  icons/mob/species/human/cat.dmi
  icons/mob/species/human/dog.dmi
  icons/mob/species/human/elf.dmi
  icons/mob/species/human/fox.dmi
  icons/mob/species/human/rabbit.dmi
  icons/mob/species/misc/dog.dmi
  icons/mob/species/misc/rabbit.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#701 Small remaping
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: 🩳QoL, 🗺 Мапинг, 🔵 Требуется проверка

#706 [MIRROR] re:eggbox
  code/game/objects/items/storage/fancy.dm
  icons/obj/food/containers.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#704 Фикс СМЕСа на Боксе
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🦎., 🔵 Требуется проверка

#709 [MIRROR] Members of the PGF start knowing Kalixcian Common
  code/modules/clothing/outfits/factions/gezena.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#710 [MIRROR] Adds pickaxes to the autolathe.
  code/modules/research/designs/autolathe_designs.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#711 Fix: Elysium Eva helmet sprite fix
  mod_celadon/elysium_stuff/code/head.dm
  mod_celadon/elysium_stuff/icons/mob/space.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#707 Увеличение размеров планет на 256 (ивент)
  _maps/_basemap.dm
  _maps/_mod_celadon/map_files/generic/CentCom.dmm
  code/controllers/configuration/entries/game_options.dm
  code/modules/overmap/objects/dynamic_datum.dm
  config/game_options.txt
Labels: 🗺 Мапинг, ☢Экспериментальный PR☢, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🔵 Требуется проверка

#712 Revert "Увеличение размеров планет на 256 (ивент)"
  _maps/_basemap.dm
  _maps/_mod_celadon/map_files/generic/CentCom.dmm
  code/controllers/configuration/entries/game_options.dm
  code/modules/overmap/objects/dynamic_datum.dm
  config/game_options.txt
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🔵 Требуется проверка

#714 Добавление забытой шмотки
  mod_celadon/solfed_stuff/code/solfed_other_stuff.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#708 [MIRROR] Repaths switchblades under kitchen knifes
  _maps/shuttles/nanotrasen/nanotrasen_heron.dmm
  code/game/objects/items/kitchen.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/items/weaponry.dm
  code/modules/cargo/blackmarket/blackmarket_items/weapons.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/clothing/outfits/ert/nanotrasen_ert.dm
  icons/obj/item/knife.dmi
  icons/obj/items_and_weapons.dmi
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#705 Добавлены турельки. В том числе и 40мм гранатометная.
  mod_celadon/mod_celadon.dme
  mod_celadon/turrets/README.md
  mod_celadon/turrets/_turrets.dm
  mod_celadon/turrets/_turrets.dme
  mod_celadon/turrets/code/bullets.dm
  mod_celadon/turrets/code/turrets.dm
  mod_celadon/turrets/icons/turrets.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#715 [MIRROR] Misc. SUNS Content
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/desk_flags.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/stacks/tiles/tiles_suns.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/crates_lockers/closets/secure/misc.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/signs/signs_flags.dm
  code/game/turfs/open/floor/suns_floor.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/stamps.dm
  icons/mob/clothing/ears.dmi
  icons/mob/clothing/neck.dmi
  icons/obj/bedsheets.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/card.dmi
  icons/obj/closet.dmi
  icons/obj/deskflags.dmi
  icons/obj/pda.dmi
  icons/obj/radio.dmi
  icons/obj/structures/signs/sign.dmi
  icons/obj/structures/signs/wallflags.dmi
  icons/obj/suns_floor.dmi
  icons/obj/tiles.dmi
  icons/turf/floors/suns.dmi
  shiptest.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#716 [MIRROR] Adds tech shells to the outpost market, recipe rebalance and buffs
  code/datums/components/crafting/recipes.dm
  code/datums/components/crafting/recipes/weapon.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/storage.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#719 Ещё вещи СолФеда..
  mod_celadon/solfed_stuff/code/solfed_other_stuff.dm
  mod_celadon/solfed_stuff/icons/mob/belt.dmi
  mod_celadon/solfed_stuff/icons/sol_fed_patriots.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#721 [MIRROR] Fixes Posibrains/MMI pilots being permaslept on mech destruction
  code/game/mecha/mecha.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#720 Gamma
  code/datums/components/crafting/recipes.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/stuff_gamma/README.md
  mod_celadon/stuff_gamma/_stuff_gamma.dm
  mod_celadon/stuff_gamma/_stuff_gamma.dme
  mod_celadon/stuff_gamma/code/gamma.dm
  mod_celadon/stuff_gamma/icons/mob/back.dmi
  mod_celadon/stuff_gamma/icons/mob/gloves.dmi
  mod_celadon/stuff_gamma/icons/mob/hands/weapons_hands_left.dmi
  mod_celadon/stuff_gamma/icons/mob/hands/weapons_hands_right.dmi
  mod_celadon/stuff_gamma/icons/mob/head.dmi
  mod_celadon/stuff_gamma/icons/mob/shoes.dmi
  mod_celadon/stuff_gamma/icons/mob/suit.dmi
  mod_celadon/stuff_gamma/icons/mob/uniform.dmi
  mod_celadon/stuff_gamma/icons/mob/weapons.dmi
  mod_celadon/stuff_gamma/icons/obj/back.dmi
  mod_celadon/stuff_gamma/icons/obj/boots.dmi
  mod_celadon/stuff_gamma/icons/obj/gloves.dmi
  mod_celadon/stuff_gamma/icons/obj/head.dmi
  mod_celadon/stuff_gamma/icons/obj/shoes.dmi
  mod_celadon/stuff_gamma/icons/obj/suit.dmi
  mod_celadon/stuff_gamma/icons/obj/uniform.dmi
  mod_celadon/stuff_gamma/icons/obj/weapons.dmi
  mod_celadon/stuff_gamma/icons/suit.dmi
  mod_celadon/tajara/strings/tajaran_male_names.txt
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#717 [MIRROR] Removes Chaplain Magic
  _maps/RandomRuins/LavaRuins/lavaland_surface_SPOOKYCRASH.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/shuttles/roumain/srm_elder.dmm
  check_regex.yaml
  code/__DEFINES/misc.dm
  code/datums/mind.dm
  code/game/gamemodes/cult/cult.dm
  code/game/objects/items/holy_weapons.dm
  code/game/objects/items/storage/book.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/antagonists/wizard/equipment/artefact.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/misc_special.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/holiday/halloween.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/religion/religion_sects.dm
  code/modules/religion/religion_structures.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/head.dmi
  icons/mob/clothing/head/armor.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/head/armor.dmi
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, ✂ Вырезано ✂

#722 Rename: paths elysium and inteq stuff
  code/game/objects/effects/contraband.dm
  mod_celadon/inteq_stuff/_inteq_stuff.dme
  mod_celadon/mod_celadon.dme
  mod_celadon/stuff_elysium/README.md
  mod_celadon/stuff_elysium/_stuff_elysium.dm
  mod_celadon/stuff_elysium/_stuff_elysium.dme
  mod_celadon/stuff_elysium/code/armor.dm
  mod_celadon/stuff_elysium/code/belt.dm
  mod_celadon/stuff_elysium/code/clothing.dm
  mod_celadon/stuff_elysium/code/elysium_merch.dm
  mod_celadon/stuff_elysium/code/head.dm
  mod_celadon/stuff_elysium/code/outfits.dm
  mod_celadon/stuff_elysium/code/shoes.dm
  mod_celadon/stuff_elysium/code/skimitar.dm
  mod_celadon/stuff_elysium/code/suits.dm
  mod_celadon/stuff_elysium/icons/mob/accessories.dmi
  mod_celadon/stuff_elysium/icons/mob/armor_celadon.dmi
  mod_celadon/stuff_elysium/icons/mob/bedsheet_elysium.dmi
  mod_celadon/stuff_elysium/icons/mob/elysium_banner_left.dmi
  mod_celadon/stuff_elysium/icons/mob/elysium_banner_right.dmi
  mod_celadon/stuff_elysium/icons/mob/elysium_commander.dmi
  mod_celadon/stuff_elysium/icons/mob/head.dmi
  mod_celadon/stuff_elysium/icons/mob/mask.dmi
  mod_celadon/stuff_elysium/icons/mob/neck.dmi
  mod_celadon/stuff_elysium/icons/mob/space.dmi
  mod_celadon/stuff_elysium/icons/mob/spacesuits.dmi
  mod_celadon/stuff_elysium/icons/mob/spacesuits_celadon.dmi
  mod_celadon/stuff_elysium/icons/mob/suit.dmi
  mod_celadon/stuff_elysium/icons/mob/swords_lefthand.dmi
  mod_celadon/stuff_elysium/icons/mob/swords_righthand.dmi
  mod_celadon/stuff_elysium/icons/obj/accessories.dmi
  mod_celadon/stuff_elysium/icons/obj/armor_celadon.dmi
  mod_celadon/stuff_elysium/icons/obj/card.dmi
  mod_celadon/stuff_elysium/icons/obj/elysium_commander.dmi
  mod_celadon/stuff_elysium/icons/obj/elysium_patriots.dmi
  mod_celadon/stuff_elysium/icons/obj/hats.dmi
  mod_celadon/stuff_elysium/icons/obj/masks.dmi
  mod_celadon/stuff_elysium/icons/obj/skimitar.dmi
  mod_celadon/stuff_elysium/icons/obj/space_item.dmi
  mod_celadon/stuff_elysium/icons/obj/spacesuits_celadon.dmi
  mod_celadon/stuff_elysium/icons/obj/suits.dmi
  mod_celadon/stuff_inteq/README.md
  mod_celadon/stuff_inteq/_stuff_inteq.dm
  mod_celadon/stuff_inteq/_stuff_inteq.dme
  mod_celadon/stuff_inteq/code/armor.dm
  mod_celadon/stuff_inteq/code/cards_ids.dm
  mod_celadon/stuff_inteq/code/outfits.dm
  mod_celadon/stuff_inteq/icons/mob/armor.dmi
  mod_celadon/stuff_inteq/icons/mob/hud.dmi
  mod_celadon/stuff_inteq/icons/obj/armor.dmi
  mod_celadon/stuff_inteq/icons/obj/card.dmi
Labels: 🩳QoL, 📢 MEGA PR 💣, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#723 New solgov-elysium ship
  _maps/_mod_celadon/configs/solgov_saber.json
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_saber.dmm
  mod_celadon/solfed_stuff/code/solfed_other_stuff.dm
  mod_celadon/solgov_outfit/code/solgov_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#725 Корректировка описания модпака solgov_outfit
  mod_celadon/solgov_outfit/README.md
  mod_celadon/solgov_outfit/_solgov_outfit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#727 Saber - ready
  _maps/_mod_celadon/configs/solgov_saber.json
  _maps/_mod_celadon/shuttles/solgov/solgov_saber.dmm
  mod_celadon/solgov_outfit/_solgov_outfit.dm
  mod_celadon/solgov_outfit/_solgov_outfit.dme
  mod_celadon/solgov_outfit/code/solgov_card_id.dm
  mod_celadon/solgov_outfit/code/solgov_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#726 [MIRROR] Concrete-ening: 3/4ths Edition
  icons/turf/walls/concrete.dmi
  icons/turf/walls/hexacrete.dmi
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🎨 Спрайты 🎨, 🔵 Требуется проверка

#729 Фикс спрайтов для сепаратистов
  mod_celadon/stuff_elysium/icons/mob/head.dmi
  mod_celadon/stuff_elysium/icons/mob/suit.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#728 SolGov |= SolFed
  _maps/_mod_celadon/configs/solfed_cepheus.json
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  _maps/_mod_celadon/configs/solfed_saber.json
  _maps/_mod_celadon/configs/solfed_tomahawk.json
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_chronicle.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_paracelsus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  mod_celadon/_components/code/_names.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#730 Фиксы руин + лёгкий ремаппинг Крепости Солитюда
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_SPOOKYCRASH.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_lava_canyon.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#732 Фикс моделей дрейкборгов
  mod_celadon/drakeborgs/code/newforrobots.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#733 Darect rebalance
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/e_sg500.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#588 Add: new enemies
  code/__DEFINES/~mods/roaches.dm
  mod_celadon/mobs/README.md
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/burrows.dm
  mod_celadon/mobs/code/roaches/benzin.dm
  mod_celadon/mobs/code/roaches/bluespace.dm
  mod_celadon/mobs/code/roaches/fuhrer.dm
  mod_celadon/mobs/code/roaches/hunter.dm
  mod_celadon/mobs/code/roaches/kaiser.dm
  mod_celadon/mobs/code/roaches/nanite.dm
  mod_celadon/mobs/code/roaches/reagent_containers.dm
  mod_celadon/mobs/code/roaches/roach.dm
  mod_celadon/mobs/code/roaches/roachling.dm
  mod_celadon/mobs/code/roaches/support.dm
  mod_celadon/mobs/code/roaches/tank.dm
  mod_celadon/mobs/code/roaches/toxic.dm
  mod_celadon/mobs/icons/animal.dmi
  mod_celadon/mobs/icons/hivemind.dmi
  mod_celadon/mobs/sound/insect_battle_bite.ogg
  mod_celadon/mobs/sound/insect_battle_screeching.ogg
  mod_celadon/mobs/sound/shriek1.ogg
  shiptest.dme
Labels: 🛠 В разработке 🛠, 📢 MEGA PR 💣, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#736 [MIRROR] Additional SUNS decals i missed, creates a decals folder
  code/game/objects/effects/decals/decal.dm
  code/game/objects/effects/decals/turfdecal/flooring_decals.dm
  code/game/objects/effects/decals/turfdecal/markings.dm
  code/game/objects/effects/decals/turfdecal/weather.dm
  code/game/objects/items/decal_painter.dm
  code/game/objects/structures/signs/_signs.dm
  icons/obj/suns_floor.dmi
  icons/turf/decals/decals.dmi
  icons/turf/decals/suns_floor.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#738 Очередной фикс пушек
  code/modules/cargo/packs/ammo.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/research/techweb/all_nodes.dm
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/ammo.dm
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
  mod_celadon/weapons/code/modules/research/all_nodes.dm
  mod_celadon/weapons/icons/ammo/ammo.dmi
  mod_celadon/weapons/icons/ammo/projectiles.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#739 Update: CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка

#741 Add: New areas
  mod_celadon/areas/README.md
  mod_celadon/areas/_areas.dm
  mod_celadon/areas/_areas.dme
  mod_celadon/areas/code/outpost.dm
  mod_celadon/areas/code/ship_areas.dm
  mod_celadon/areas/icons/areas.dmi
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#742 [MIRROR] Does some things with customizable foods and in short you can use organs in them now
  code/datums/components/edible.dm
  code/datums/materials/pizza.dm
  code/modules/food_and_drinks/food/customizables.dm
  code/modules/food_and_drinks/food/snacks.dm
  code/modules/surgery/organs/organ_internal.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#745 End of ivent
  code/datums/cinematic.dm
  mod_celadon/event_cly/README.md
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🛑= REVERT =🛑, ✨_EVENT_✨

#744 Repairs: Module maps ruins
  mod_celadon/_example/_example.dm
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dm
  tools/build/build.js
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🏭 Github 🏭, 🔵 Требуется проверка

#752 [MIRROR] Mild Zero Gravity Buff AKA Tables Are Below Me
  code/game/objects/structures/tables_racks.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#753 [MIRROR] fixes the black market sawn illestren to actually be sawed off
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#754 [MIRROR] Energy/Laser guns display their charge and how many shots they have left on examine
  code/modules/projectiles/guns/energy.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#749 [MIRROR] Fix: Atmos gas mask sprite and duplicate deletion
  icons/mob/clothing/mask.dmi
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#757 Fix crash
  code/modules/projectiles/boxes_magazines/internal/shotgun.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#758 [MIRROR] reverts enabling debug some extra verbs by default
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/fps.dm
  code/modules/admin/verbs/manipulate_organs.dm
  code/modules/admin/verbs/mapping.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#755 [MIRROR] Gives SRM Cabinets Cabinet Sounds
  code/game/MapData/shuttles/srm_elder.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#756 [MIRROR] Reduces the orice of 9mm bullets so they arent objectively worse than anything else
  code/modules/cargo/packs/ammo.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#748 [MIRROR] Removes generic_adjective sanity check
  code/modules/client/preferences.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#759 Добавление новых языков и книг для них
  code/modules/surgery/organs/tongue.dm
  mod_celadon/items/README.md
  mod_celadon/items/_items.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/books.dm
  mod_celadon/items/code/languages.dm
  mod_celadon/items/icons/mob/inhands/books_lefthand.dmi
  mod_celadon/items/icons/mob/inhands/books_righthand.dmi
  mod_celadon/items/icons/obj/book.dmi
  mod_celadon/items/icons/obj/language.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка

#765 [MIRROR] Readjusted kepori whistle and click volume
  code/modules/mob/living/carbon/human/emote.dm
  sound/voice/kepori/kepiclick.ogg
  sound/voice/kepori/kepiwhistle.ogg
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка

#767 [MIRROR] Reduces the number of skulls spawned by crystal legion by 1
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#771 [MIRROR] adds telegraphing to brimdemon attacks
  code/modules/mob/living/simple_animal/hostile/mining_mobs/brimdemon.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#772 [MIRROR] Removes shoddy 'active' state for holopads that was causing negative power draw.
  code/game/machinery/hologram.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#750 Ремап Savior + чистка хвостов
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  code/__DEFINES/cinematics.dm
  mod_celadon/event_cly/ship/event_bucket.json
  mod_celadon/event_cly/ship/subbucket.dmm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#592 Revorke: Ice Avanpost
  _maps/_mod_celadon/outpost/nanotrasen_ice.dmm
Labels: 🗺 Мапинг, 🛠 В разработке 🛠, 🔵 Требуется проверка

#783 Update: CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#780 Танк для TearDrop
  mod_celadon/mechas/README.md
  mod_celadon/mechas/_mechas.dme
  mod_celadon/mechas/code/combat/tank.dm
  mod_celadon/mechas/icons/mecha_96x96.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#784 [MIRROR] typo fixes & black market fix
  code/modules/cargo/blackmarket/blackmarket_items/clothing.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#789 Глобальный фикс карт
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_drakelair.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_roommates.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_crashed_pinnance.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_dangerpod.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_camp_drugstore.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/DJstation.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dark_glade.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/excavator_DK.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oretruck.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚧 Долгострой 🚧

#790 Fix after merge (maps) p2
  _maps/_mod_celadon/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/scav_mining.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/transport18.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_elder.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_pillbottle.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/event_cly/ship/subbucket.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#791 Дофиксы карт
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#788 [MIRROR] Fixes medical cyborgs being unable to interact with carbons
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#792 Hyena Foreman fix
  _maps/_mod_celadon/configs/syndicate_gorlex_hyena.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#785 [MIRROR] Gives the lever-action rifle a gunslinger ability and removes the gunslinger damage buff from the shadow.
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, ✂ Вырезано ✂

#786 [MIRROR] CTs and Miners no longer get QM access.
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/shaft_miner.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, ✂ Вырезано ✂

#787 [MIRROR] removes gondola transformation
  code/datums/diseases/transformation.dm
  code/modules/food_and_drinks/food/snacks/meat.dm
  code/modules/food_and_drinks/food/snacks_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, ✂ Вырезано ✂

#795 Fix broken outfits
  mod_celadon/stuff_inteq/code/outfits.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка
