Repository CeladonSS13/Shiptest, pull requests merged in 2024-11, with the labels that each got.

#1153 Бафф Hound-class по таске
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1151 Ремаппинг мета класса
  _maps/_mod_celadon/configs/nanotrasen_meta.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1149 FIX-UPDATE: Фиксим многие вещи, обновляем аванпост немного
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
  code/modules/clothing/outfits/standard.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/hardsuit.dm
  mod_celadon/balance/code/suit.dm
  mod_celadon/items/code/suits.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1154 RE-BALANCE: Wrong cost crate
  mod_celadon/balance/code/cargo.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1146 АПЦ на фловере теперь заряжается от смеса
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🔵 Требуется проверка, .⚡.

#1133 Мердж Шариота+Починка Утюга
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
  mod_celadon/faction/code/faction.dm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡.

#1157 Balance cells
  mod_celadon/balance/code/energy.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1156 Large doors
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/base/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/base/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/glass/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/glass/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/metal/multi_tile.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/metal/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/atmos.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/command.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/engineering.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/maintenance.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/maintenanceexternal.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/overlays.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/public.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/security.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/airlocks/station/solgov.dmi
  mod_celadon/large_doors/README.md
  mod_celadon/large_doors/_large_doors.dm
  mod_celadon/large_doors/_large_doors.dme
  mod_celadon/large_doors/code/large_doors.dm
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1159 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1155 Даем сепарам ножны для скимитара
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1164 New trading
  code/controllers/subsystem/economy.dm
  code/modules/cargo/console.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/outpost_console/README.md
  mod_celadon/outpost_console/_outpost_console.dm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/console.dm
  mod_celadon/outpost_console/code/supply_pack.dm
  mod_celadon/outpost_console/code/supply_pack/inteq.dm
  mod_celadon/outpost_console/code/supply_pack/solfed.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate.dm
  tgui/packages/tgui/assets/bg-independent.svg
  tgui/packages/tgui/assets/bg-inteq.svg
  tgui/packages/tgui/assets/bg-separatist.svg
  tgui/packages/tgui/assets/bg-solfed.svg
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsCeladon/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsCeladon/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsCeladon/types.ts
  tgui/packages/tgui/interfaces/OutpostCommunicationsFaction/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsFaction/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFaction/types.ts
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionIndependent/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionIndependent/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionIndependent/types.ts
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionInteq/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionInteq/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionInteq/types.ts
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSolfed/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSolfed/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSolfed/types.ts
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSyndicate/Catalog.js
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSyndicate/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSyndicate/types.ts
  tgui/packages/tgui/styles/themes/independent.scss
  tgui/packages/tgui/styles/themes/inteq.scss
  tgui/packages/tgui/styles/themes/solfed.scss
Labels: 💬 TGUI, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1165 Fix cargo
  mod_celadon/outpost_console/code/console.dm
  mod_celadon/outpost_console/code/supply_pack/inteq.dm
  tgui/packages/tgui/interfaces/OutpostCommunicationsFaction/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionIndependent/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionInteq/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSolfed/index.tsx
  tgui/packages/tgui/interfaces/OutpostCommunicationsFactionSyndicate/index.tsx
Labels: 💬 TGUI, 🧱 Код 🧱, 🔵 Требуется проверка

#1167 Update: Outpost New Cargo
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  mod_celadon/areas/code/outpost.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1168 Update: Another outpost update and refactoring mods
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  code/game/objects/effects/contraband.dm
  mod_celadon/faction/code/faction.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/outfit/README.md
  mod_celadon/outfit/_outfit.dm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/elysium/armor.dm
  mod_celadon/outfit/code/elysium/belt.dm
  mod_celadon/outfit/code/elysium/clothing.dm
  mod_celadon/outfit/code/elysium/elysium_merch.dm
  mod_celadon/outfit/code/elysium/head.dm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
  mod_celadon/outfit/code/elysium/outfits.dm
  mod_celadon/outfit/code/elysium/shoes.dm
  mod_celadon/outfit/code/elysium/skimitar.dm
  mod_celadon/outfit/code/elysium/suits.dm
  mod_celadon/outfit/code/elysium/under.dm
  mod_celadon/outfit/code/gamma/gamma.dm
  mod_celadon/outfit/code/inteq/armor.dm
  mod_celadon/outfit/code/inteq/cards_ids.dm
  mod_celadon/outfit/code/inteq/inteq_outfit.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outfit/code/solfed/solfed_card_id.dm
  mod_celadon/outfit/code/solfed/solfed_decal.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
  mod_celadon/stuff_elysium/_stuff_elysium.dm
  mod_celadon/stuff_elysium/_stuff_elysium.dme
  mod_celadon/stuff_gamma/README.md
  mod_celadon/stuff_gamma/_stuff_gamma.dm
  mod_celadon/stuff_gamma/_stuff_gamma.dme
  mod_celadon/stuff_inteq/README.md
  mod_celadon/stuff_inteq/_stuff_inteq.dm
  mod_celadon/stuff_inteq/_stuff_inteq.dme
  mod_celadon/stuff_solfed/README.md
  mod_celadon/stuff_solfed/_solfed_stuff.dm
  mod_celadon/stuff_solfed/_solfed_stuff.dme
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1162 UPDATE: Замена флагов на руинках
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_chokepoint.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/cryocontainment.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_pandora.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1163 UPDATE: Замена флагов на шипах
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1170 Update: InteQ Outpost
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  mod_celadon/maps/code/outpost.dm
  mod_celadon/outfit/code/inteq/inteq_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1169 убираем КА и соляры раундстартом на flower ship
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1166 Fix rust rwalls
  code/game/turfs/closed/wall/misc_walls.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1174 Update: Outpost
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1175 РЕ-вооружение Комода и Кау. Переосмысление Элегии И Тирдропа.. Более чистая версия
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  _maps/_mod_celadon/configs/syndicate_elegia.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, .⚡.

#1172 MAPS: Rebrending vending
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_boyardee.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_kilo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rube_goldberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_schmiedeberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_mimir.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1181 FIX: delete stats winter vest armor in loadout
  mod_celadon/items/code/suits.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1183 FIX: No say Heal solgov banner
  _maps/_mod_celadon/shuttles/events/solfed_saber_gold.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1182 FIX: Spawner role outpost
  code/modules/awaymissions/corpse.dm
  mod_celadon/ghost_roles/code/outpost/elysium_ice.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1178 FIX: desc grounding rods
  mod_celadon/balance/code/cargo.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1177 UPDATE: riols & tajara
  code/__DEFINES/~mod_celadon/riol.dm
  code/__DEFINES/~mod_celadon/tajara.dm
  mod_celadon/riol/code/species/species.dm
  mod_celadon/tajara/code/species/species.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1187 UPDATE: Remap outpost asteroid
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1186 Update: Cargo Cataloge Faction
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/guncase.dm
  mod_celadon/outpost_console/code/supply_pack.dm
  mod_celadon/outpost_console/code/supply_pack/inteq.dm
  mod_celadon/outpost_console/code/supply_pack/solfed.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1179 ремапинг дельты 2.0
  _maps/_mod_celadon/configs/nanotrasen_delta.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1195 Хотфикс Халифата
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1196 Fix: Runtime footstep
  code/datums/components/footstep.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1192 FIX: Asteroid singularity
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1197 Update: Turf sound
  code/datums/components/footstep.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/turf.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1191 FIX: icon planet
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/moniq/icons/jukebox.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1193 Update: Cargo Update
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  mod_celadon/outpost_console/code/supply_pack/inteq.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1198 Забыли камеры на Элегии
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1205 Add: 357 speedloaders added to all other inteq ships
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1202 ремапинг рейнджера + вещи лп уборщика
  _maps/_mod_celadon/configs/nanotrasen_ranger.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/spacesuits.dm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/nanotrasen/nt_card_id.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1209 Fix saving tajara and riol hairs
  code/modules/client/preferences_savefile.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1206 Fix: Coils now deconstructing correcrly.
  mod_celadon/fixes/_fixes.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/coil.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1207 Pipes manifold layer fix
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1214 UPDATE: Fix Flower
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1215 Порез легкодоступности консольки РНД. Часть 1..
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_boxsci.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1219 Ещё один фикс Утюга
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1216 MAP: Update & Fix Lagoon
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1218 #26 Перенос обновлений с Beta на Alpha сервер
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_ikea_ai.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_boxsci.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_miningexpedition.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/astraeus.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/configs/nanotrasen_ranger.json
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold.dm
  code/modules/atmospherics/machinery/pipes/heat_exchange/manifold4w.dm
  code/modules/atmospherics/machinery/pipes/manifold.dm
  code/modules/atmospherics/machinery/pipes/manifold4w.dm
  code/modules/cargo/packs/machinery.dm
  code/modules/client/preferences_savefile.dm
  mod_celadon/cargo_items/_cargo_items.dm
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/guncase.dm
  mod_celadon/cargo_items/code/space_idea.dm
  mod_celadon/fixes/_fixes.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/coil.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/spacesuits.dm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
  mod_celadon/outfit/code/nanotrasen/nt_card_id.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outpost_console/code/supply_pack/inteq.dm
  mod_celadon/outpost_console/code/supply_pack/solfed.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1220 зона НТ карго + новые префиксы шипов
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/configs/nanotrasen_osprey.json
  _maps/_mod_celadon/configs/syndicate_elegia.json
  _maps/_mod_celadon/configs/syndicate_krait.json
  mod_celadon/areas/code/outpost.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1223 UPDATE: Тактическая бита ЦК
  mod_celadon/items/code/weapons.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1222 UPDATE: Fix CentComm clothers, sandals
  mod_celadon/balance/code/cc_clothes.dm
  mod_celadon/items/_items.dme
  mod_celadon/outfit/code/elysium/outfits.dm
  mod_celadon/outfit/code/elysium/shoes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка
