Repository CeladonSS13/Shiptest, pull requests merged in 2024-04, with the labels that each got.

#394 Новый корабль сепаратистов Элизиума
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/configs/elysim_aldaama.json
Labels: good first issue

#431 Фикс Гекко, Рамо + небольшая переделка Комода
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#432 Executer misc fix
  _maps/_mod_celadon/configs/radio.json
  _maps/_mod_celadon/shuttles/elysim/elysim_aldaama.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#433 Подправил файл документации
  .github/CONTRIBUTING.md
Labels: 🩳QoL, ⌛ Ждёт мержа ⌛, 🧻 Документация 🧻

#434 Исправление ошибок в документации
  .github/CONTRIBUTING.md
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🧻 Документация 🧻

#438 Изменён спавн шипов
  code/controllers/subsystem/mapping.dm
Labels: ⌛ Ждёт мержа ⌛, 🪓 НЕ МОДУЛЬНО 🪓, ☢Экспериментальный PR☢

#439 Revert "Изменён спавн шипов"
  code/controllers/subsystem/mapping.dm
Labels: ⌛ Ждёт мержа ⌛, ☢Экспериментальный PR☢

#440 Minor Fix Ships
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг, 🧻 Документация 🧻

#442 Inteq turrent and caravan fix
  _maps/_mod_celadon/configs/independent_masinyane.json
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#448 Возвращаем статую
  mod_celadon/structures/icon/statue.dmi
Labels: ⌛ Ждёт мержа ⌛, 🎨 Спрайты 🎨

#446 QF of ships
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#451 No more rotate closets
  _maps/_mod_celadon/shuttles/elysim/elysim_homa.dmm
  _maps/_mod_celadon/shuttles/elysim/elysim_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_elder.dmm
  _maps/_mod_celadon/shuttles/independent/independent_escapepod.dmm
  _maps/_mod_celadon/shuttles/independent/independent_halftrack.dmm
  _maps/_mod_celadon/shuttles/independent/independent_junker.dmm
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rigger.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rube_goldberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/misc/independent_bulk.dmm
  _maps/_mod_celadon/shuttles/misc/independent_sfwb.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_cepheus.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
Labels: 🚧 Фикс багов 🚧, ⌛ Ждёт мержа ⌛, 🗺 Мапинг

#453 Ronins ships fixes
  _maps/_mod_celadon/configs/syndicate_kau_delta.json
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг

#456 Срочная починка PR и билда Целадон
  .github/PULL_REQUEST_TEMPLATE.md
  mod_celadon/_modpacks.dm
  mod_celadon/ipc_chassis/_ipc_chassis.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  tgui/packages/tgui/interfaces/ModpacksList.js
  tools/build/build.js
Labels: 🚧 Фикс багов 🚧, 💬 TGUI, ⌛ Ждёт мержа ⌛, 🧱 Код 🧱, 🔮 Конфиги 🔮

#460 Введение Белого Топора, микро фикс Снегиря и Хаммерхеда
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/solgov_white_axe.json
  _maps/_mod_celadon/shuttles/independent/independent_radio_broadcast.dmm
  _maps/_mod_celadon/shuttles/solgov/solgov_white_axe.dmm
Labels: 🗺 Мапинг

#463 Fix: modular mod_celadon
  code/controllers/subsystem/mapping.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
  code/modules/mob/living/living_say.dm
  mod_celadon/_DEFINES/__DEFINES.dm
  mod_celadon/_components/README.md
  mod_celadon/_components/__components.dm
  mod_celadon/_components/code/emotes/emotes.dm
  mod_celadon/accents_add/_accents_add.dm
  mod_celadon/balance/_balance.dm
  mod_celadon/cargo_items/_cargo_items.dm
  mod_celadon/celadon_old_syndicate_rigs/_celadon_old_syndicate_rigs.dm
  mod_celadon/elysium_stuff/_elysium_stuff.dm
  mod_celadon/fixes/_fixes.dm
  mod_celadon/inteq_stuff/_inteq_stuff.dm
  mod_celadon/ipc_chassis/_ipc_chassis.dm
  mod_celadon/ipc_surgery/_ipc_surgery.dm
  mod_celadon/loadout/_loadout.dm
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/configs.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/talk.dm
  mod_celadon/radio_syndicate/_radio_syndicate.dm
  mod_celadon/solgov_outfit/_solgov_outfit.dm
  mod_celadon/species_changes/_species_changes.dm
  mod_celadon/structures/_structures.dm
  mod_celadon/subtler/_subtler.dm
  mod_celadon/weapons/_weapons.dm
  shiptest.dme
Labels: 🚧 Фикс багов 🚧, 🩳QoL, ⌛ Ждёт мержа ⌛, 🧻 Документация 🧻, 🔵 Требуется проверка, 🏴‍☠️ Локализация 🏴‍☠️, 📢 MEGA PR 💣, 🧱 Код 🧱, 🔮 Конфиги 🔮

#469 Фикс тюрбанов сепаратистов
  mod_celadon/elysium_stuff/code/hats.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#470 Мини-фикс Гекко
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
Labels: 🗺 Мапинг
