Repository CeladonSS13/Shiptest, pull requests merged in 2024-12, with the labels that each got.

#1221 MAPS: Update Avanposts, CentCom, Hangars
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1225 Изменение цен карго. Урезание доступности РНД часть 2..
  mod_celadon/boarding/code/boarding.dm
  mod_celadon/cargo_items/code/machinery.dm
  mod_celadon/weapons/code/gun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1228 MAPS: Fix Lagoon
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1230 MAPS: Fix dungeon Avanpost
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1231 Magboots Fix
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/life.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/magboots.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1238 Плазмой не дышим
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1240 Много фиксов и изменений дельты и рейнджера
  _maps/_mod_celadon/configs/nanotrasen_ranger.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1239 Добавление плат для ИИ на Элегию
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1237 Add: New IPC chassis "Cpu 4 Mu"
  mod_celadon/_storge_icons/icons/ipc/bodyparts.dmi
  mod_celadon/ipc_chassis/README.md
  mod_celadon/ipc_chassis/_ipc_chassis.dm
  mod_celadon/ipc_chassis/code/ipc.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1236 Починка и обновление сейвиора
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1234 Обновление герона, фалкона и новое ЦК НТ
  _maps/_mod_celadon/configs/nanotrasen_heron.json
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_falcon.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1241 Еще один микрофикс дельты
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1233 ADD: Barricades
  code/__DEFINES/flags.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/armor.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/_storge_icons/icons/obj/barricade.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/barricades.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1242 Map: Elegia and Osprey minor changes
  _maps/_mod_celadon/configs/nanotrasen_osprey.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1243 Fix: Even more minor osrpey fix
  _maps/_mod_celadon/configs/nanotrasen_osprey.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1210 Fix: Jetpack module, minor system announce spell. Tweaks: smartfridge for blood.
  code/game/gamemodes/extended/extended.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  icons/obj/items.dmi
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/jetpack_upgrade.dm
  mod_celadon/fixes/icons/obj/items.dmi
  mod_celadon/fixes/icons/obj/tank.dmi
  mod_celadon/qol/README.md
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1251 ADD: New diagonals marble
  mod_celadon/_storge_icons/icons/structures/floors/marble.dmi
  mod_celadon/structures/code/marble.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1250 Фиксы карго НТ аванпостов
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1252 Ремаппинг шкиппера
  _maps/_mod_celadon/configs/nanotrasen_skipper.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1248 MAPS: Update outpost Xmas
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1257 Fixing spawnpods
  code/_globalvars/lists/objects.dm
  code/datums/spawners_menu.dm
  code/modules/awaymissions/corpse.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1256 Lava Particles Fix
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/lava_particles.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1247 QOL: Spiriy Board
  code/game/objects/structures/spirit_board.dm
  mod_celadon/qol/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1254 ADD: hairs for riols
  mod_celadon/riol/code/species/sprite_accessories.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1258 Небольшие изменения и фиксы
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/configs/syndicate_elegia.json
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rigger.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1249 Ремаппинг даректа
  _maps/_mod_celadon/configs/nanotrasen_darect.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1260 ADD: New item - Пепельница
  mod_celadon/_storge_icons/icons/items/obj/ashtray.dmi
  mod_celadon/items/_items.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/ashtray.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1263 Микрофиксы по картам v2
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1266 Редактирование Anomaly
  _maps/_mod_celadon/shuttles/solfed/solfed_anomaly.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1261 MAPS: Outpost update & fix
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1267 UPDATE: Новая гост ролька мед доктора
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/access/code/access.dm
  mod_celadon/ghost_roles/code/cards_id.dm
  mod_celadon/ghost_roles/code/drop_location.dm
  mod_celadon/ghost_roles/code/outfits.dm
  mod_celadon/ghost_roles/code/outpost/elysium_ice.dm
  mod_celadon/outfit/code/elysium/outfits.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1269 Добавляет забытые переключатели на дельту
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1270 Новый шип SUNS взамен на аегис: Panacea
  _maps/_mod_celadon/configs/syndicate_aegis.json
  _maps/_mod_celadon/configs/syndicate_panacea.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1271 Каргопад на мету
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1217 MAP: New ruin - Crashed Heron
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_crashed_heron.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/_storge_icons/icons/mobs/goliaph_magma.dmi
  mod_celadon/_storge_icons/icons/mobs/legion_magma.dmi
  mod_celadon/_storge_sounds/sound/effects/boom_small.ogg
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/magma_goliath.dm
  mod_celadon/mobs/code/magma_legion.dm
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/spawners.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка

#1273 фикс панацеи
  _maps/_mod_celadon/configs/syndicate_panacea.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1278 Фикс дрипа на Панацее
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1281 Небольшие изменения Anomaly
  _maps/_mod_celadon/shuttles/solfed/solfed_anomaly.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1284 INFO: Aegis
  _maps/_mod_celadon/configs/syndicate_aegis.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1280 Replica pod fix
  code/modules/hydroponics/grown/replicapod.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/replicapod.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1277 FIX: Появление товаров в каргоконсолях, фикс зоны карты
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack.dm
  mod_celadon/outpost_console/code/supply_pack/independent/ammunition.dm
  mod_celadon/outpost_console/code/supply_pack/independent/civilian.dm
  mod_celadon/outpost_console/code/supply_pack/independent/costumes_toys.dm
  mod_celadon/outpost_console/code/supply_pack/independent/food.dm
  mod_celadon/outpost_console/code/supply_pack/independent/material.dm
  mod_celadon/outpost_console/code/supply_pack/independent/medical.dm
  mod_celadon/outpost_console/code/supply_pack/independent/sec_supply.dm
  mod_celadon/outpost_console/code/supply_pack/independent/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/gun.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/gun.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/gun.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/clothing.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/gun.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/spacesuit_armor.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1276 RE-BALANCE: Плата ксенобио и порталы
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
  code/modules/reagents/chemistry/recipes/others.dm
  mod_celadon/balance/README.md
  mod_celadon/return_content/code/hivebot.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1285 New module:LIFELINE_MINUS
  code/modules/modular_computers/file_system/programs/radar.dm
  mod_celadon/lifeline_minus/README.md
  mod_celadon/lifeline_minus/_lifeline_minus.dm
  mod_celadon/lifeline_minus/_lifeline_minus.dme
  mod_celadon/lifeline_minus/code/lifeline.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1253 BUGFIX: operating table climbing
  code/game/objects/structures/tables_racks.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1288 Реммап и шлифофка Panacea + мини фикс Komodo
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1287 MAPS: Meta flag fix
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1235 RE-BALANCE: Hostile mobs is now to STRONG
  code/__DEFINES/~mod_celadon/traits.dm
  code/modules/mob/living/simple_animal/hostile/human/frontiersman.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/balance/code/simple_animal.dm
  mod_celadon/crusher_trophy/README.md
  mod_celadon/crusher_trophy/code/megafuna.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1290 Фиксы меты + даректа
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1283 Фикс ботанических дисков
  code/modules/hydroponics/gene_modder.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/plants_data_disk.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1291 фиксы шкиппера
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1275 ADD: QUIRKS: Повышенное выживание, Дварфизм
  code/__DEFINES/~mod_celadon/traits.dm
  code/_globalvars/traits.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/quirks/README.md
  mod_celadon/quirks/_quirks.dm
  mod_celadon/quirks/_quirks.dme
  mod_celadon/quirks/code/good.dm
  mod_celadon/quirks/code/negative.dm
  mod_celadon/quirks/code/neutral.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1294 Фишки на дарект и рейнджер
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1296 HOT-FIX: Чинит билд от не определенного имени квирка
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1299 Fix: Masianya+Mudskipper
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mudskipper.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1301 Новый НТ шип + олдстайл ерт риги + респрайт кэприга
  _maps/_mod_celadon/configs/nanotrasen_skybreaker.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  mod_celadon/_storge_icons/icons/mob/caparmor_new.dmi
  mod_celadon/_storge_icons/icons/mob/head.dmi
  mod_celadon/_storge_icons/icons/mob/spacesuits_celadon.dmi
  mod_celadon/_storge_icons/icons/obj/capspacesuit_new.dmi
  mod_celadon/_storge_icons/icons/obj/head.dmi
  mod_celadon/_storge_icons/icons/obj/spacesuits_celadon.dmi
  mod_celadon/items/_items.dme
  mod_celadon/items/code/boxes.dm
  mod_celadon/items/code/spacesuits.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1302 Fix: Panacea
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1303 ADD: Faction & independent survival boxes
  mod_celadon/_storge_icons/icons/survival_boxes.dmi
  mod_celadon/items/_items.dme
  mod_celadon/items/code/boxes.dm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
  mod_celadon/outfit/code/inteq/inteq_outfit.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1297 ADD: Рецепт крафта обмоток для лап из 2 ткани
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/qol/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1304 Add: New waste ruin
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_claw_ruin.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/areas/code/ruin.dm
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/crusher_trophy/code/megafuna.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/simple_animal/clawloot.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡.

#1305 UPDATE: Outpost access & remap ice outpost
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/riol/code/species/food.dm
  mod_celadon/tajara/code/species/food.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1308 #28 Перенос обновлений с Beta на Alpha сервер
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_claw_ruin.dmm
  _maps/_mod_celadon/configs/nanotrasen_skybreaker.json
  _maps/_mod_celadon/map_catalogue.txt
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mudskipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  mod_celadon/_storge_icons/icons/mob/caparmor_new.dmi
  mod_celadon/_storge_icons/icons/mob/head.dmi
  mod_celadon/_storge_icons/icons/mob/spacesuits_celadon.dmi
  mod_celadon/_storge_icons/icons/obj/capspacesuit_new.dmi
  mod_celadon/_storge_icons/icons/obj/head.dmi
  mod_celadon/_storge_icons/icons/obj/spacesuits_celadon.dmi
  mod_celadon/_storge_icons/icons/survival_boxes.dmi
  mod_celadon/areas/code/ruin.dm
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/crusher_trophy/code/megafuna.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/boxes.dm
  mod_celadon/items/code/spacesuits.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/simple_animal/clawloot.dm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
  mod_celadon/outfit/code/inteq/inteq_outfit.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
  mod_celadon/qol/README.md
  mod_celadon/riol/code/species/food.dm
  mod_celadon/tajara/code/species/food.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔱Слияние Бета и Альфы ➰, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1309 Починка всех НТ шипов после мерджа с оффами
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1311 Фикс карт после мерджа с оффами (Syndi, ISV, EUSM, SolFed, InteQ)
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/events/solfed_saber_gold.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_elder.dmm
  _maps/_mod_celadon/shuttles/independent/independent_halftrack.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_radio_broadcast.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/independent/independent_vela.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_chronicle.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1312 Фикс шипов пиратов и руинки
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_claw_ruin.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔
