Repository CeladonSS13/Shiptest, pull requests merged in 2024-09, with the labels that each got.

#922 Fix: deleted path & generators
  code/__DEFINES/~mod_celadon/generators.dm
  mod_celadon/return_tendrils/code/hivebot.dm
  shiptest.dme
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#923 Update planet_types.dm
  mod_celadon/maps/code/planet_types.dm
Labels: 🚧 Фикс багов 🚧, ❗ PR НЕ МЁРЖИТЬ ❗, 🧱 Код 🧱

#926 новый вайдбенд на баббл-классе
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#927 Fix: Maps after merge and refactoring module stuff
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_cepheus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_chronicle.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_paracelsus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/mod_celadon.dme
  mod_celadon/solgov_outfit/README.md
  mod_celadon/solgov_outfit/_solgov_outfit.dm
  mod_celadon/solgov_outfit/_solgov_outfit.dme
  mod_celadon/stuff_solfed/README.md
  mod_celadon/stuff_solfed/_solfed_stuff.dm
  mod_celadon/stuff_solfed/_solfed_stuff.dme
  mod_celadon/stuff_solfed/code/solfed_card_id.dm
  mod_celadon/stuff_solfed/code/solfed_decal.dm
  mod_celadon/stuff_solfed/code/solfed_other_stuff.dm
  mod_celadon/stuff_solfed/code/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#928 Добавление спрайтов на спину для Мориты
  mod_celadon/_storge_icons/icons/guns/back.dmi
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка

#930 Добавление новой анимации приземления шаттлов
  code/modules/shuttle/ripple.dm
  mod_celadon/_storge_icons/icons/resprite/landing.dmi
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/shuttle_landing.dm
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка

#931 Update planet_types.dm
  mod_celadon/maps/code/planet_types.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#933 UPDATE: Turn ON cost vending
  code/modules/vending/_vending.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/vending.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/vending.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#934 ADD: New structures
  code/__DEFINES/~mod_celadon/structures.dm
  code/game/objects/structures/table_frames.dm
  mod_celadon/_storge_icons/icons/items/obj/gloves.dmi
  mod_celadon/_storge_icons/icons/items/obj/head/hats.dmi
  mod_celadon/_storge_icons/icons/items/obj/neck/neck.dmi
  mod_celadon/_storge_icons/icons/items/obj/under.dmi
  mod_celadon/_storge_icons/icons/items/overlay/under.dmi
  mod_celadon/_storge_icons/icons/obj/overlay/sheets_lefthand.dmi
  mod_celadon/_storge_icons/icons/obj/overlay/sheets_righthand.dmi
  mod_celadon/_storge_icons/icons/obj/stack_objects.dmi
  mod_celadon/_storge_icons/icons/structures/construction_floors.dmi
  mod_celadon/_storge_icons/icons/structures/fancy.dmi
  mod_celadon/_storge_icons/icons/structures/floors.dmi
  mod_celadon/_storge_icons/icons/structures/floors/carpet.dmi
  mod_celadon/_storge_icons/icons/structures/floors/dark.dmi
  mod_celadon/_storge_icons/icons/structures/floors/desert.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang/konyang_beach.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang/konyang_deep_water.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang/konyang_smooth_water.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang/moss_transition_1.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/konyang/moss_transition_2.dmi
  mod_celadon/_storge_icons/icons/structures/floors/exoplanet/moghes.dmi
  mod_celadon/_storge_icons/icons/structures/floors/freezer.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/cyan_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/cyan_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/glass.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/green_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/green_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/grey_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/grey_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/indigo_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/indigo_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/purple_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/purple_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/red_four_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/glass_floors/red_glass_floor_auto.dmi
  mod_celadon/_storge_icons/icons/structures/floors/marble.dmi
  mod_celadon/_storge_icons/icons/structures/floors/minitiles.dmi
  mod_celadon/_storge_icons/icons/structures/floors/stairs.dmi
  mod_celadon/_storge_icons/icons/structures/floors/techfloor.dmi
  mod_celadon/_storge_icons/icons/structures/floors/tiles.dmi
  mod_celadon/_storge_icons/icons/structures/floors/urban_turfs.dmi
  mod_celadon/_storge_icons/icons/structures/snow.dmi
  mod_celadon/_storge_icons/icons/structures/tables/flipped_tables.dmi
  mod_celadon/_storge_icons/icons/structures/tables/table_bar.dmi
  mod_celadon/_storge_icons/icons/structures/tables/table_scrap.dmi
  mod_celadon/_storge_icons/icons/structures/tables/table_syndicate.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/freezer.dm
  mod_celadon/structures/code/glass.dm
  mod_celadon/structures/code/marble.dm
  mod_celadon/structures/code/obj/floor.dm
  mod_celadon/structures/code/obj/table.dm
  mod_celadon/structures/code/stairs.dm
  mod_celadon/structures/code/structures.dm
  mod_celadon/structures/code/tech.dm
  shiptest.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#932 Замена спрайтов Глока, ЮСП и магазинов к ним
  mod_celadon/_storge_icons/icons/ammo/ammo.dmi
  mod_celadon/_storge_icons/icons/guns/glock.dmi
  mod_celadon/_storge_icons/icons/guns/usp.dmi
Labels: 🎨 Спрайты 🎨, 🦎., 🔵 Требуется проверка

#936 FIX: add table dmi
  mod_celadon/_storge_icons/icons/structures/tables/glass_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/plasmaglass_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/plastitaniumglass_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/reinforced_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/rglass_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/rplasmaglass_table.dmi
  mod_celadon/_storge_icons/icons/structures/tables/table_greyscale.dmi
  mod_celadon/_storge_icons/icons/structures/tables/titaniumglass_table.dmi
Labels: 🚧 Фикс багов 🚧

#937 UPDATE: ANTI-Vandalizm mechnizm of Vending
  code/modules/vending/_vending.dm
  mod_celadon/balance/README.md
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#938 ADD: Anti-vandal
  code/modules/vending/_vending.dm
  mod_celadon/balance/code/vending.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#924 UPDATE: Outpost & Ghost Roles
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/indie_space.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  code/datums/martial/cqc.dm
  code/modules/overmap/objects/outpost/outpost_types.dm
  code/modules/vending/_vending.dm
  mod_celadon/ghost_roles/README.md
  mod_celadon/ghost_roles/_ghost_roles.dm
  mod_celadon/ghost_roles/_ghost_roles.dme
  mod_celadon/ghost_roles/code/cards_id.dm
  mod_celadon/ghost_roles/code/drop_location.dm
  mod_celadon/ghost_roles/code/outfits.dm
  mod_celadon/ghost_roles/code/outpost/elysium_ice.dm
  mod_celadon/items/code/costumes.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/stuff_outpost/_stuff_outpost.dme
  mod_celadon/stuff_outpost/code/cards_id.dm
  mod_celadon/stuff_outpost/code/outfits.dm
Labels: 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#939 FIX: Missed Dead mouse sprites
  mod_celadon/_storge_icons/icons/mobs/animal_shiptest.dmi
  mod_celadon/mobs/code/pets/syndimouse.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#940 FIX: add light switch on Atmos ship Nemo-class
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#945 FIX: Нашлись провода
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#943 Gecko slight rework
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#947 Add: Night planet types and some fixes
  _maps/_mod_celadon/configs/inteq_executer.json
  _maps/_mod_celadon/configs/solfed_lightning_bolt.json
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  code/__DEFINES/overmap.dm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/mapgen/BeachGenerator.dm
  mod_celadon/maps/code/mapgen/JungleGenerator.dm
  mod_celadon/maps/code/mapgen/RockGenerator.dm
  mod_celadon/maps/code/mapgen/SnowGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/turfs_planet.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#950 Сборник изменений
  code/__DEFINES/inventory.dm
  code/modules/clothing/head/_head.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/gloves.dm
  mod_celadon/balance/code/hardsuit.dm
  mod_celadon/items/code/coats.dm
  mod_celadon/items/code/external_wears.dm
  mod_celadon/items/code/suits.dm
  mod_celadon/items/code/under.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка

#951 Перевод галлюцинаций
  strings/hallucination.json
Labels: 🔵 Требуется проверка

#949 Новые перила, файнали
  code/game/objects/structures.dm
  mod_celadon/_storge_icons/icons/obj/railing.dmi
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/railings.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#954 Tajara features
  code/modules/client/preferences_savefile.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка

#955 Add: Elysium "jumpsuits"
  mod_celadon/_storge_icons/icons/mob/el_cloth.dmi
  mod_celadon/_storge_icons/icons/obj/el_cloth.dmi
  mod_celadon/stuff_elysium/_stuff_elysium.dme
  mod_celadon/stuff_elysium/code/under.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#948 ADD: абордажный телепортер
  mod_celadon/_storge_icons/README.md
  mod_celadon/_storge_icons/icons/boarding.dmi
  mod_celadon/_storge_sounds/README.md
  mod_celadon/_storge_sounds/sound/boarding_pad.ogg
  mod_celadon/boarding/README.md
  mod_celadon/boarding/_boarding.dm
  mod_celadon/boarding/_boarding.dme
  mod_celadon/boarding/code/boarding.dm
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔨 Доработать🔨, 🏆 Отличная работа! 🏆, 🔵 Требуется проверка

#960 фикс телепортера
  mod_celadon/boarding/code/boarding.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#958 таярский носик
  code/modules/client/preferences_savefile.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#959 Task: Осовремениваем жукбокс
  mod_celadon/mod_celadon.dme
  mod_celadon/moniq/README.md
  mod_celadon/moniq/_moniq.dme
  mod_celadon/moniq/code/moniq.dm
  mod_celadon/moniq/icons/inhands/lefthand.dmi
  mod_celadon/moniq/icons/inhands/righthand.dmi
  mod_celadon/moniq/icons/jukebox.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#876 Ремаппинг BYO и возвращение из щитспавна
  _maps/_mod_celadon/configs/independent_byo.json
  _maps/_mod_celadon/shuttles/independent/independent_byo.dmm
Labels: 🩳QoL, 🗺 Мапинг, 🦎.

#963 UPDATE: Free nanomed in ships
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_qurk.dmm
  _maps/_mod_celadon/shuttles/independent/independent_skipjack.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_paracelsus.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/README.md
Labels: 🗺 Мапинг, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡.

#964 UPDATE: Elysium outpost is free open doors
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/ghost_roles/code/outfits.dm
  mod_celadon/ghost_roles/code/outpost/elysium_ice.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, .⚡.

#962 ADD: Vest trauma team
  mod_celadon/items/code/suits.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#967 UPDATE: Syndie vest on Trauma Team
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
Labels: 🔆 Обновление 🔆, .⚡.

#968 REFACTORING: Изменена логика дефайнов
  mod_celadon/README.md
  mod_celadon/mod_celadon.dme
  mod_celadon/mod_defines.dme
  shiptest.dme
Labels: 🩳QoL, 🧻 Документация 🧻, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ, 🏗 Refectoring 🏗, .⚡.

#969 EVENT: Gold ships Darect & Saber
  _maps/_mod_celadon/configs/nanotrasen_darect_gold.json
  _maps/_mod_celadon/configs/solfed_saber_gold.json
  _maps/_mod_celadon/shuttles/events/nanotrasen_darect_gold.dmm
  _maps/_mod_celadon/shuttles/events/solfed_saber_gold.dmm
  mod_celadon/_storge_icons/icons/structures/walls/gold_nosmoth_shuttle.dmi
  mod_celadon/_storge_icons/icons/structures/walls/gold_shuttle_wall.dmi
  mod_celadon/_storge_icons/icons/structures/windows/gold_shuttle.dmi
  mod_celadon/_storge_icons/icons/structures/windows/gold_shuttle_window.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/walls.dm
  mod_celadon/structures/code/windows.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ✨_EVENT_✨

#974 the cook got access
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#975 tranquility rotate
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
Labels: 🗺 Мапинг

#978 FIX: Bugaused rdconsole
  code/modules/research/rdconsole.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/rdconsole.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ, Требует тестирования

#979 Изменение частоты Вайдбенд
  code/__DEFINES/radio.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/living/living_say.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#982 Fix: Maps after merge
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_xeno_nest.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_harmfactory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_saloon.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/corporate_mining.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/independent/independent_halftrack.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, .⚡.

#980 ADD: New pets & bots
  mod_celadon/_storge_icons/icons/mobs/aibots.dmi
  mod_celadon/_storge_icons/icons/mobs/animal_shiptest.dmi
  mod_celadon/_storge_icons/icons/mobs/animals_held_lh.dmi
  mod_celadon/_storge_icons/icons/mobs/animals_held_rh.dmi
  mod_celadon/_storge_icons/icons/mobs/catmedbot.dmi
  mod_celadon/_storge_icons/icons/mobs/kovac_animals.dmi
  mod_celadon/_storge_icons/icons/mobs/pets.dmi
  mod_celadon/_storge_icons/icons/mobs/rouge.dmi
  mod_celadon/_storge_icons/icons/mobs/syndie_pets.dmi
  mod_celadon/mobs/README.md
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/bots.dm
  mod_celadon/mobs/code/pets/ada.dm
  mod_celadon/mobs/code/pets/alta.dm
  mod_celadon/mobs/code/pets/eldritch.dm
  mod_celadon/mobs/code/pets/emma.dm
  mod_celadon/mobs/code/pets/fennec.dm
  mod_celadon/mobs/code/pets/moro.dm
  mod_celadon/mobs/code/pets/rouge.dm
  mod_celadon/mobs/code/pets/syndicat.dm
  mod_celadon/mobs/code/pets/syndifox.dm
  mod_celadon/mobs/code/pets/syndimouse.dm
  mod_celadon/mobs/code/pets/zlatchek.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#985 Fix: shotgun/bulldog -> shotgun/automatic/bulldog
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#983 UPDATE: Vendor throw item
  code/modules/vending/_vending.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .🍎.

#989 Fix: HammerHead
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
Labels: 🗺 Мапинг

#990 [Fix] Fixes the chat bubble
  mod_celadon/_components/code/emotes/emotes_living.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/mob_say2.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#991 Update: Plasma Planet
  mod_celadon/_storge_icons/icons/mob/64x64mehafauna.dmi
  mod_celadon/_storge_icons/icons/obj/plasma_heart.dmi
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/mobs/code/simple_animal/plasma_legion.dm
  mod_celadon/return_tendrils/code/necropolis_tendril.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#992 ADD: New areas for ships
  mod_celadon/_storge_icons/icons/areas.dmi
  mod_celadon/areas/code/ship_areas.dm
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#993 Update: Whoops i forgot somthing
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
Labels: 🧱 Код 🧱

#997 amogus ship
  _maps/_mod_celadon/configs/independent_shetland.json
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
Labels: 🗺 Мапинг

#996 Add: New ruin for plasma planet
  _maps/_mod_celadon/RandomRuins/PlasmaRuins/dragon.dmm
  _maps/_mod_celadon/RandomRuins/PlasmaRuins/oldminer.dmm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/simple_animal/dragon.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#994 [Add] Support of cyrillic letters when drunk and stuttering
  code/modules/mob/mob_helpers.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/mob_helpers2.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#995 [Fix] Adds UTF-8 charset to tele-monitor and tele-server consoles
  code/game/machinery/telecomms/computers/logbrowser.dm
  code/game/machinery/telecomms/computers/telemonitor.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#998 Новая руина для мусорной планеты
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_ruined_abductor_ship.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🦎.

#1000 Добавляем Dark ERP на Shiptest
  DarkErp.bat
Labels: 🔵 Требуется проверка

#1002 garbage supply from syndicate to shetland
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1008 Fix: Turret ship
  mod_celadon/repairs_other/code/turret.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1005 [Add] Adds cyrillic characters support for custom say emote
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/code/mob_say2.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1007 [Fix] Fixes G36 rifle
  mod_celadon/weapons/code/ammo.dm
  mod_celadon/weapons/code/guncases.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1006 [Tweak] Moves notifications of TGUI chat to the top
  tgui/packages/tgui-panel/styles/components/Notifications.scss
Labels: 💬 TGUI, 🩳QoL, 🔵 Требуется проверка
