Repository CeladonSS13/Shiptest, pull requests merged in 2024-10, with the labels that each got.

#1010 no more nanomeds
  _maps/_mod_celadon/shuttles/independent/independent_skipjack.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1011 inkwell with dropppod
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/subshuttles/solfed_feather.dmm
  mod_celadon/maps/code/subshuttles.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱

#1012 Починены стены в лучшую сторону (да)
  code/__DEFINES/turfs.dm
  code/__DEFINES/~mod_celadon/structures.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/closed/walls.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/items.dm
  mod_celadon/balance/code/structures.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1013 projectile gun fix
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_onlyaspoonful.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1016 GITHUB: Update label PR config
  .github/labeler.yml
Labels: 🩳QoL, 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1015 REFACTORING: Astroloot return (rename pack)
  code/datums/components/chasm.dm
  code/datums/mapgen/planetary/AsteroidGenerator.dm
  code/datums/mapgen/planetary/JungleGenerator.dm
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mining/ore_veins.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  code/modules/ruins/objects_and_mobs/ash_walker_den.dm
  mod_celadon/maps/code/mapgen/JungleGenerator.dm
  mod_celadon/maps/code/mapgen/RockGenerator.dm
  mod_celadon/maps/code/mapgen/SnowGenerator.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/return_content/README.md
  mod_celadon/return_content/_return_content.dm
  mod_celadon/return_content/_return_content.dme
  mod_celadon/return_content/code/boss_achievements.dm
  mod_celadon/return_content/code/boss_scores.dm
  mod_celadon/return_content/code/cave_entrance.dm
  mod_celadon/return_content/code/global.dm
  mod_celadon/return_content/code/hivebot.dm
  mod_celadon/return_content/code/mining_mobs.dm
  mod_celadon/return_content/code/necropolis_tendril.dm
  mod_celadon/return_content/code/netherworld.dm
  mod_celadon/return_content/code/planetary_generator/asteroid.dm
  mod_celadon/return_content/code/planetary_generator/jungle.dm
  mod_celadon/return_content/code/planetary_generator/lava.dm
  mod_celadon/return_content/code/planetary_generator/rock.dm
  mod_celadon/return_content/code/planetary_generator/sand.dm
  mod_celadon/return_content/code/planetary_generator/snow.dm
  mod_celadon/return_content/code/planetary_generator/waste.dm
  mod_celadon/return_content/code/simple_animal.dm
  mod_celadon/return_content/code/spawner.dm
  mod_celadon/return_content/code/spells.dm
  mod_celadon/return_content/code/weaponry.dm
  mod_celadon/return_tendrils/_return_tendrils.dme
  tools/HubMigrator/HubMigrator.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🏭 Github 🏭, 🔵 Требуется проверка, 🏗 Refectoring 🏗

#1014 UPDATE: Visual view armor
  code/modules/clothing/clothing.dm
  mod_celadon/qol/README.md
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#1018 FIX: Buttom & Shop
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#1019 Ребаланс патронов
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/code/gun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1021 Фикс стыковки к айрон мейден
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
Labels: 🗺 Мапинг

#1022 Fix: Turf abductor ruin
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_ruined_abductor_ship.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1028 FIX: Delete duplicate statue
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#1023 Фикс стыковки к лонеру. Теперь к лонеру можно стыковаться!!!!
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1029 Fix: g36 on shuttles
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1030 Update: Big Legion
  mod_celadon/_storge_icons/icons/mob/64x64mehafauna.dmi
  mod_celadon/mobs/code/simple_animal/plasma_legion.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1027 Add: 8x58 box and clip added to cargo
  mod_celadon/_storge_icons/icons/ammo/ammo.dmi
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/ammunition.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1032 UPDATE: CentCom remap
  _maps/_mod_celadon/map_files/generic/blank.dmm
  mod_celadon/_storge_icons/icons/structures/obj/berta300.dmi
  mod_celadon/_storge_icons/icons/structures/obj/blastdoor.dmi
  mod_celadon/_storge_icons/icons/structures/obj/blastdoor2.dmi
  mod_celadon/_storge_icons/icons/structures/obj/blastdoors_shutters.dmi
  mod_celadon/_storge_icons/icons/structures/obj/elena600.dmi
  mod_celadon/_storge_icons/icons/structures/obj/helm_pieces.dmi
  mod_celadon/_storge_icons/icons/structures/obj/overmap.dmi
  mod_celadon/_storge_icons/icons/structures/obj/ship_engine.dmi
  mod_celadon/_storge_icons/icons/structures/obj/terminals.dmi
  mod_celadon/_storge_icons/icons/structures/shuttle/distress_shuttle.dmi
  mod_celadon/_storge_icons/icons/structures/walls/ref_cc_wall.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/decals_indestructible.dm
  mod_celadon/structures/code/obj/doors.dm
  mod_celadon/structures/code/obj/gun.dm
  mod_celadon/structures/code/walls.dm
Labels: 🩳QoL, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка, .⚡.

#1034 Fix: Range legion projectile
  mod_celadon/mobs/code/simple_animal/plasma_legion.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆

#1036 Возвращение старых спрайтов заборов (railing)
  mod_celadon/fixes/code/railings.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🛑= REVERT =🛑

#1038 HotFix name maps
  _maps/_mod_celadon/configs/pirate_jupiter.json
  _maps/_mod_celadon/configs/syndicate_elegia.json
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1039 Фикс спрайтов глока
  mod_celadon/_storge_icons/icons/guns/glock.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1040 Add minimaps for shuttles in lobby
  code/modules/mob/dead/new_player/ship_select.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1024 [Add] Adds buckshot shuffler
  mod_celadon/_storge_icons/icons/ammo/ammo.dmi
  mod_celadon/items/README.md
  mod_celadon/items/_items.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/ammunition.dm
  mod_celadon/items/code/box_magazine.dm
  mod_celadon/items/code/shufflers.dm
Labels: 🔵 Требует рассмотрения, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1042 shetland slight fixes
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1043 UPDATE: remove medplus outpost & add pets
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🩳QoL, 🗺 Мапинг, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, ✂ Вырезано ✂

#1046 Fix: Turret flags
  mod_celadon/repairs_other/code/turret.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1047 UPDATE: Turn off healing banner of Elysium
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_town.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/nt_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/events/solfed_saber_gold.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  mod_celadon/stuff_elysium/code/elysium_merch.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, .⚡.

#1049 RETURN: Marisa clothing in loadout
  mod_celadon/_storge_icons/icons/clothing/obj/marisa_obj.dmi
  mod_celadon/_storge_icons/icons/clothing/onmob_head_tajara.dmi
  mod_celadon/_storge_icons/icons/clothing/onmob_suit_tajara.dmi
  mod_celadon/_storge_icons/icons/clothing/overlay/marisa_mob.dmi
  mod_celadon/loadout/code/costumes.dm
  mod_celadon/loadout/code/footwear.dm
  mod_celadon/loadout/code/headwear.dm
  mod_celadon/return_content/_return_content.dme
  mod_celadon/return_content/code/clothing/marisa.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .🦊.

#1050 Полировка ланиусов
  mod_celadon/_storge_icons/icons/items/obj/language.dmi
  mod_celadon/_storge_icons/icons/lanius/lanius_bodyparts.dmi
  mod_celadon/_storge_icons/icons/lanius/lanius_organs.dmi
  mod_celadon/items/code/languages.dm
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/food.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1053 Lanius Hotfix
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/projectiles/projectile.dm
  mod_celadon/_storge_icons/icons/lanius/lanius_bodyparts.dmi
  mod_celadon/lanius/README.md
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1055 UPDATE: Увеличен шанс на спавн астероидных полей
  mod_celadon/maps/code/planet_types.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗, .⚡.

#1052 FIX: Mission research
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/research_mission.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡., 🪓 ТРОГАЛИ CORE-CODE 🪓

#1051 RETURN: Turn on ion events
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/overmap/README.md
  mod_celadon/overmap/_overmap.dm
  mod_celadon/overmap/_overmap.dme
  mod_celadon/overmap/code/events.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡., 🪓 ТРОГАЛИ CORE-CODE 🪓

#1057 Lanius Hotfixes-2
  code/modules/surgery/organs/helpers.dm
  mod_celadon/_storge_icons/icons/lanius/lanius_bodyparts.dmi
  mod_celadon/lanius/README.md
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1058 Design Disks
  code/modules/research/rdconsole.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1060 Допиливаю ланиусов, выпиливаю себя из кодовнеров
  .github/CODEOWNERS
  mod_celadon/_storge_icons/icons/lanius/lanius_bodyparts.dmi
  mod_celadon/_storge_icons/icons/lanius/lanius_organs.dmi
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🏭 Github 🏭, 🔵 Требуется проверка

#1062 Fix: Maps after merge 2
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_town.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_ruined_abductor_ship.dmm
  _maps/_mod_celadon/map_catalogue.txt
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/independent/independent_junker.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1061 новый корабль Flower-class
  _maps/_mod_celadon/configs/Independent_flower.json
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1063 Полировка Flower
  _maps/_mod_celadon/configs/Independent_flower.json
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1066 Update: Flower
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🩳QoL, 🗺 Мапинг, .⚡.

#1067 Update: All shuttles with subship in shitspawn
  _maps/_mod_celadon/configs/independent_dwayne.json
  _maps/_mod_celadon/configs/inteq_valor.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/syndicate_krait.json
Labels: 🗺 Мапинг

#1065 Очередная полировка ланиусов
  code/modules/mob/living/carbon/human/species.dm
  mod_celadon/_storge_icons/icons/lanius/lanius_bodyparts.dmi
  mod_celadon/_storge_icons/icons/lanius/lanius_organs.dmi
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/food.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1020 FIX: Elzuose blood
  code/datums/blood_type.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  mod_celadon/ethereal_fix/README.md
  mod_celadon/ethereal_fix/_ethereal_fix.dm
  mod_celadon/ethereal_fix/_ethereal_fix.dme
  mod_celadon/ethereal_fix/code/blood_pack.dm
  mod_celadon/ethereal_fix/code/ethereal.dm
  mod_celadon/mod_celadon.dme
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1070 FIxing tajaras tails
  code/__DEFINES/inventory.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species.dm
  mod_celadon/fix_tail/README.md
  mod_celadon/fix_tail/_fix_tail.dm
  mod_celadon/fix_tail/_fix_tail.dme
  mod_celadon/fix_tail/code/suits.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1069 Добавление стыковки к Рамо+ДеСуббшаттлолизация Двейна
  _maps/_mod_celadon/configs/independent_dwayne.json
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
Labels: 🗺 Мапинг

#1071 FIX: paths
  mod_celadon/ethereal_fix/_ethereal_fix.dme
Labels: 🔵 Требуется проверка

#1072 Исправление поломки компила
  code/modules/mob/living/carbon/human/species.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1078 GITHUB: Обновление приоритетов CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#1079 GITHUB: Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#1080 UPDATE: Rust costs
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/cargo.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка

#1077 Add: Maps for test
  _maps/_mod_celadon/map_files/generic/runtime_check_map.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1084 Handheld Survey restrict
  mod_celadon/mod_celadon.dme
  mod_celadon/survey_handheld/README.md
  mod_celadon/survey_handheld/_survey_handheld.dm
  mod_celadon/survey_handheld/_survey_handheld.dme
  mod_celadon/survey_handheld/code/survey_handheld.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🏆 Отличная работа! 🏆, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1092 UPDATE: Re-sprite singularity machenery
  mod_celadon/_storge_icons/icons/obj/machinery/emitter.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/field_generator.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/shieldgen.dmi
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/singularity.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1086 Диски
  code/modules/research/designs.dm
  code/modules/research/rdconsole.dm
Labels: 🧱 Код 🧱, 💢 Плохой PR 💢, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1094 FIX: ZTRAIT
  code/controllers/subsystem/overmap.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1095 Load prefs on ghostrole
  code/datums/spawners_menu.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/mob_helpers.dm
  mod_celadon/load_pref/README.md
  mod_celadon/load_pref/_load_pref.dm
  mod_celadon/load_pref/_load_pref.dme
  tgui/packages/tgui/interfaces/SpawnersMenu.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🏆 Отличная работа! 🏆, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1096 Event: Подготовка к ивенту
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_citadel.dmm
  mod_celadon/_storge_icons/icons/turf/beach.dmi
  mod_celadon/_storge_sounds/sound/gun/turret9mm.ogg
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/maps/code/turfs_planet.dm
  mod_celadon/turrets/code/turrets.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, ✨_EVENT_✨, .⚡.

#1097 микрофикс вентюры
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1088 фикс Special Operative 92 EBR на шипе Kau
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
  icons/obj/guns/manufacturer/scarborough/48x32.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1085 ADD: New weapons Saiga-410
  mod_celadon/_storge_icons/icons/weapons/hands/saiga_lefthand.dmi
  mod_celadon/_storge_icons/icons/weapons/hands/saiga_righthand.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/saiga.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/saiga_ammo.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/saiga_bullet.dmi
  mod_celadon/_storge_icons/icons/weapons/overlay/saiga_onmob.dmi
  mod_celadon/cargo_items/code/ammunition.dm
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/guncases.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/bullets.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/shotgun.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/shotgun.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/shotgun.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: ⌛ Ждёт результатов голосования ⌛, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1102 FIX: Описание Риолов
  mod_celadon/riol/code/species/species.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆

#1103 FIX: Фикс отсутствующих пикселей
  mod_celadon/_storge_icons/icons/riol/riol_bodypats.dmi
Labels: 🚧 Фикс багов 🚧

#1107 UPDATE & FIX: Обновляем и правим код
  code/modules/overmap/objects/star.dm
  code/modules/overmap/overmap_token.dm
  code/modules/overmap/planets/planet_types.dm
  code/modules/overmap/ships/ship_datum.dm
  icons/misc/overmap.dmi
  icons/misc/overmap_large.dmi
  icons/misc/overmap_larger.dmi
  mod_celadon/_storge_icons/icons/ipc/ipc_hair.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap_large.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap_larger.dmi
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/missions.dm
  mod_celadon/cargo_items/code/packs/mechs.dm
  mod_celadon/ipc_hair/code/ipc.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/weapons/code/ammo.dm
Labels: 🚧 Фикс багов 🚧, 🔥 Баланс ❄, 🔆 Обновление 🔆

#1110 Перегрузка
  mod_celadon/mod_celadon.dme
  mod_celadon/overload/README.md
  mod_celadon/overload/_overload.dme
  mod_celadon/overload/code/overload.dm
  mod_celadon/overload/overload.dm
Labels: ☢Экспериментальный PR☢, 🔆 Обновление 🔆

#1113 UPDATE: Update outpost #6
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
Labels: 🩳QoL, 🔆 Обновление 🔆, .⚡.

#1118 UPDATE: Debug outfit
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/standard.dm
  mod_celadon/_components/code/_outfits.dm
  mod_celadon/access/README.md
  mod_celadon/access/_access.dm
Labels: 🩳QoL, 🧻 Документация 🧻, 🧱 Код 🧱, 🔆 Обновление 🔆

#1120 Небольшое изменение Saber. Повышение QOL игроков на Сабле
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
Labels: 🩳QoL, 🗺 Мапинг

#1111 Фикс разъёба сабшаттлов
  code/controllers/subsystem/overmap_move.dm
  code/controllers/subsystem/overmap_stuff.dm
  code/modules/overmap/_overmap_datum.dm
  code/modules/overmap/overmap_token.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: 🚧 Фикс багов 🚧

#1124 Event: Add event rifle (SVD)
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_citadel.dmm
  code/game/sound.dm
  mod_celadon/_storge_icons/icons/weapons/obj/svd.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/svd_ammo.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/svd_lefthand.dmi
  mod_celadon/_storge_icons/icons/weapons/obj/svd_righthand.dmi
  mod_celadon/_storge_sounds/sound/gun/svd/svd1.ogg
  mod_celadon/_storge_sounds/sound/gun/svd/svd2.ogg
  mod_celadon/_storge_sounds/sound/gun/svd/svd3.ogg
  mod_celadon/_storge_sounds/sound/gun/svd/svd_cocked.ogg
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🔆 Обновление 🔆, 🔵 Требуется проверка, ✨_EVENT_✨, .⚡.

#1130 Фикс абуза легкосоздаваемых предметов и их продажи
  code/modules/cargo/exports/parts.dm
  code/modules/shuttle/supply.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1134 Фикс жирных рантаймычей
  code/datums/components/wet_floor.dm
  code/modules/detectivework/detective_work.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#1132 Штраф за реролл миссий
  code/modules/cargo/console.dm
  code/modules/overmap/missions.dm
  tgui/packages/tgui/interfaces/OutpostCommunications/index.tsx
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1127 ADD&FIX: Debug outfit & CentCom bat
  code/modules/clothing/outfits/standard.dm
  mod_celadon/_storge_icons/icons/items/obj/centcom.dmi
  mod_celadon/_storge_icons/icons/items/overlay/left_hand/left_centcom.dmi
  mod_celadon/_storge_icons/icons/items/overlay/right_hand/right_centcom.dmi
  mod_celadon/fixes/README.md
  mod_celadon/items/code/weapons.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔆 Обновление 🔆

#1137 Fixing runtimes
  code/game/turfs/change_turf.dm
  code/modules/shuttle/docking.dm
Labels: 🚧 Фикс багов 🚧, 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🏆 Отличная работа! 🏆, 🔆 Обновление 🔆, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1139 FIX: Outpost & Saiga
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/shotgun.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1143 ADD: Neon pack and update outpost
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  code/__DEFINES/~mod_celadon/colors.dm
  code/__DEFINES/~mod_celadon/layers.dm
  mod_celadon/_storge_icons/icons/obj/coloredlights.dmi
  mod_celadon/_storge_icons/icons/obj/coloredlightstiny.dmi
  mod_celadon/_storge_icons/icons/structures/neon_decals.dmi
  mod_celadon/_storge_icons/icons/structures/obj/mining.dmi
  mod_celadon/_storge_icons/icons/structures/obj/road_signs.dmi
  mod_celadon/_storge_icons/icons/structures/obj/signs.dmi
  mod_celadon/_storge_icons/icons/structures/obj/signs_large.dmi
  mod_celadon/_storge_icons/icons/structures/obj/signs_verylarge.dmi
  mod_celadon/mod_celadon.dme
  mod_celadon/mod_defines.dme
  mod_celadon/neon_pack/README.md
  mod_celadon/neon_pack/_neon_pack.dm
  mod_celadon/neon_pack/_neon_pack.dme
  mod_celadon/neon_pack/code/light.dm
  mod_celadon/neon_pack/code/signs.dm
  mod_celadon/neon_pack/code/spline.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1128 UPDATE: New persent Registre hit to rest mob
  code/modules/projectiles/projectile.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, На тестировании, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1145 Fix through shooting
  code/modules/projectiles/projectile.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1144 Великий порез синдиката
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг, .⚡.

#1147 новая руинка на ледяную планету
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_raided_cargobase.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, .⚡.

#1150 Фиксы ланиусов
  code/game/objects/items/devices/taperecorder.dm
  code/modules/surgery/organs/stomach.dm
  mod_celadon/fixes/README.md
  mod_celadon/items/code/items.dm
  mod_celadon/lanius/README.md
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🦎., 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓
