Repository CeladonSS13/Shiptest, pull requests merged in 2024-08, with the labels that each got.

#874 Исправления ошибок спрайтов, книг и кривого кода
  code/modules/mob/living/carbon/human/update_icons.dm
  mod_celadon/_storge_icons/icons/helms_snouted.dmi
  mod_celadon/items/code/books.dm
  mod_celadon/resprite/_resprite.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/sarathi.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#875 Полировка кода для "носатых" шлемов и масок
  code/modules/mob/living/carbon/human/update_icons.dm
  mod_celadon/_storge_icons/icons/helms_snouted.dmi
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🦎., 🔵 Требуется проверка

#879 Fix kondor ship
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
Labels: 🗺 Мапинг

#881 Elysm manual fix
  mod_celadon/items/code/books.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#882 Fix after merge (maps) part 2
  _maps/_mod_celadon/outpost/nanotrasen_asteroid.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_paracelsus.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#884 HotFix: Pandora minions
  mod_celadon/mobs/code/simple_animal/wizard_constructs.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#885 Brings back hotkey fix
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/hotkeyfix.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#886 Revert "Battery problem"
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mudskipper.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_noderider.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_eligia.dmm
  code/modules/projectiles/guns/energy.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/e_sg500.dm
  mod_celadon/balance/code/e_tarsmg.dm
  mod_celadon/balance/code/energy.dm
  mod_celadon/balance/code/gun.dm
  mod_celadon/balance/code/gun/cell.dm
  mod_celadon/balance/code/ionrifle.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#889 Фикс спрайта ножей
  code/game/objects/items/kitchen.dm
Labels: 🚧 Фикс багов 🚧, 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка

#892 Add: NewOld station and ghost roles
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/_storge_icons/icons/mobs/ruin/hivebot.dmi
  mod_celadon/areas/_areas.dme
  mod_celadon/areas/code/ruin.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/ruin/paper.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/ruin/spawner.dm
  mod_celadon/mobs/code/simple_animal/tele.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#891 Обновлено ридми фикса
  mod_celadon/fixes/README.md
Labels: 🧻 Документация 🧻, 🔵 Требуется проверка

#890 Добавлено ID пака
  code/game/objects/items/kitchen.dm
Labels: 🧻 Документация 🧻, 🧱 Код 🧱, 🔵 Требуется проверка

#893 Update: Add ruin and fix old station
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/code/ruin/spawner.dm
  mod_celadon/mobs/code/simple_animal/tele.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#894 Fix: Ships and ruins
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_ancon.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱

#897 Fix after merge (map)
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#898 Update: Fix price and maps
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  code/modules/cargo/exports/lavaland.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/machinery.dm
  mod_celadon/cargo_items/_cargo_items.dm
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/export/canister.dm
  mod_celadon/cargo_items/code/export/lavaland.dm
  mod_celadon/cargo_items/code/export/sheets.dm
  mod_celadon/cargo_items/code/import.dm
  mod_celadon/cargo_items/code/rnd.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/ruin/poddoor.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#899 Update: canister.dm
  mod_celadon/cargo_items/code/export/canister.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🛑= REVERT =🛑

#900 Add: New Planet and a lot work in the future
  _maps/_mod_celadon/RandomRuins/PlasmaRuins/oldminer.dmm
  code/__DEFINES/overmap.dm
  code/__DEFINES/ruins.dm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/areas/_areas.dme
  mod_celadon/areas/code/overmap_encounter.dm
  mod_celadon/cargo_items/_cargo_items.dme
  mod_celadon/cargo_items/code/export/mission.dm
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/mapgen/OldTownGenerator.dm
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/random_ruins.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/return_tendrils/README.md
  mod_celadon/return_tendrils/code/necropolis_tendril.dm
  shiptest.dme
Labels: 🗺 Мапинг, 🧱 Код 🧱

#901 Fix: Runtime and sprites
  mod_celadon/_storge_icons/icons/items/obj/uranium_storage.dmi
  mod_celadon/_storge_icons/icons/mob/Solfed_officer.dmi
  mod_celadon/_storge_icons/icons/mob/belt.dmi
  mod_celadon/_storge_icons/icons/mob/under.dmi
  mod_celadon/event_td/code/coin.dm
  mod_celadon/maps/code/mapgen/OldTownGenerator.dm
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/structures/README.md
  mod_celadon/structures/code/structures.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#902 Update: icon chasm
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/planet_types.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#903 Раскоменчиваем модпак
  mod_celadon/mod_celadon.dme
Labels: 🔵 Требуется проверка

#906 Вайдбенд на Bubble-class и security ньюкастеры на ЦК
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#907 Update: drinks
  mod_celadon/_storge_icons/icons/drinks.dmi
  mod_celadon/_storge_sounds/sound/effects/drinkfizz.ogg
  mod_celadon/food_and_drinks/code/alcohol_reagents.dm
  mod_celadon/food_and_drinks/code/drinks_recipes.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#908 починка путей
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#904 Поставка новых подов на аванпост
  code/__DEFINES/cargo.dm
  code/modules/asset_cache/asset_list_items.dm
  mod_celadon/_storge_icons/icons/supplypods.dmi
  mod_celadon/elysiumpod/README.md
  mod_celadon/elysiumpod/_elysiumpod.dm
  mod_celadon/elysiumpod/_elysiumpod.dme
  mod_celadon/elysiumpod/code/elysiumpod.dm
  mod_celadon/mod_celadon.dme
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
Labels: 💬 TGUI, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔨 Доработать🔨, 🔵 Требуется проверка

#911 Update README.md
  mod_celadon/README.md
Labels: 🏭 Github 🏭

#912 QOL: Transfer to 1 units
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/reagent_containers.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#917 Fix: Krait-class subshuttle access
  _maps/_mod_celadon/shuttles/subshuttles/syndicate_jet_lancer.dmm
Labels: 🗺 Мапинг

#910 Update: Plasma planet
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  mod_celadon/_storge_icons/icons/mob/32x64.dmi
  mod_celadon/_storge_icons/icons/mob/plasma_legion.dmi
  mod_celadon/_storge_icons/icons/mob/projectile.dmi
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/simple_animal/plasma_legion.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#909 Update: Elysium outpost
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  code/__DEFINES/~mod_celadon/access.dm
  code/game/objects/items/cards_ids.dm
  mod_celadon/_storge_icons/icons/areas.dmi
  mod_celadon/access/README.md
  mod_celadon/access/_access.dm
  mod_celadon/access/_access.dme
  mod_celadon/access/code/access.dm
  mod_celadon/areas/code/outpost.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/stuff_elysium/code/outfits.dm
  mod_celadon/stuff_outpost/README.md
  mod_celadon/stuff_outpost/_stuff_outpost.dm
  mod_celadon/stuff_outpost/_stuff_outpost.dme
  mod_celadon/stuff_outpost/code/cards_id.dm
  mod_celadon/stuff_outpost/code/outfits.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#919 Fix: calibr 5.56x45, 5.56x39
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/bullets.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ

#918 Add EVENT: planet and ruins and ghost roles
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_town.dmm
  _maps/_mod_celadon/configs/solfed_lightning_bolt.json
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
  code/__DEFINES/overmap.dm
  code/__DEFINES/ruins.dm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/_storge_sounds/sound/events/planet_landing_3.mp3
  mod_celadon/areas/code/overmap_encounter.dm
  mod_celadon/maps/README.md
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/mapgen/OldTownGenerator.dm
  mod_celadon/maps/code/mapgen/SandGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/random_ruins.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/mobs/code/ruin/spawner.dm
  mod_celadon/solgov_outfit/code/solgov_outfit.dm
  mod_celadon/stuff_elysium/code/outfit_ship/elysium.dm
Labels: 🗺 Мапинг, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка

#920 Update: Bolt config
  _maps/_mod_celadon/configs/solfed_lightning_bolt.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#915 Add: scarf syndie
  code/__DEFINES/species_clothing_defines.dm
  mod_celadon/_storge_icons/icons/items/obj/neck/neck.dmi
  mod_celadon/_storge_icons/icons/items/overlay/neck.dmi
  mod_celadon/_storge_icons/icons/qol/neck.dmi
  mod_celadon/items/code/scarfes.dm
  mod_celadon/loadout/code/scarfes.dm
Labels: 🩳QoL, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ
