Repository CeladonSS13/Shiptest, pull requests merged in 2025-03, with the labels that each got.

#1586 fix ramzi
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_solfed_prison.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_comm_outpost.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/abandoned_remora.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/provinggrounds.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/_mod_celadon/map_files/generic/runtime_check_map.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/return_content/code/hivebot.dm
  mod_celadon/return_content/code/spawner.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1591 Revert "feat: Исключены оффовские товары из карго-консолей (#1546)"
  mod_celadon/outpost_console/code/console.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1592 Hotfix: Revert "feat: Исключены оффовские товары из карго-консолей (#1546)" (…
  mod_celadon/outpost_console/code/console.dm
Labels: 🧱 Код 🧱, 🔱Слияние Бета и Альфы ➰, 🔵 Требуется проверка

#1597 Revert "Bump dompurify from 2.5.7 to 3.2.4 in /tgui" (#4257)
  tgui/packages/tgui-panel/package.json
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: 🚧 Фикс багов 🚧, 💬 TGUI, 🔵 Требуется проверка, 🔥HOT-FIX 🔥

#1600 Some random changes fixes
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/atoms_movable.dm
  code/game/machinery/shuttle/ship_gravity.dm
  code/game/mecha/equipment/tools/mining_tools.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/projectiles/gun.dm
  sound/effects/beam.ogg
Labels: 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1594 Fix Glimpse and Beetle
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_observatory.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1602 Mass cnagnes: Syndicate, NT. Fix ruins
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_tortuga.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1606 fix ship and ruin
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_escapepod.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1607 #36 Перенос обновлений с Beta на Alpha сервер
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_newcops.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_observatory.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_pirate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_escapepod.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_tortuga.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  code/game/machinery/computer/Operating.dm
  tgui/packages/tgui/interfaces/OperatingComputer.js
Labels: 💬 TGUI, 🗺 Мапинг, 🧱 Код 🧱, 🔱Слияние Бета и Альфы ➰, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1610 UPDATE: Описание шипов
  _maps/_mod_celadon/configs/independent_boyardee.json
  _maps/_mod_celadon/configs/independent_bulk_track.json
  _maps/_mod_celadon/configs/independent_caravan.json
  _maps/_mod_celadon/configs/independent_halftrack.json
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/configs/independent_nemo.json
  _maps/_mod_celadon/configs/independent_pillbottle.json
  _maps/_mod_celadon/configs/independent_qurk.json
  _maps/_mod_celadon/configs/independent_radio.json
  _maps/_mod_celadon/configs/independent_rube_goldberg.json
  _maps/_mod_celadon/configs/independent_sfwb.json
  _maps/_mod_celadon/configs/independent_shetland.json
  _maps/_mod_celadon/configs/independent_skipjack.json
  _maps/_mod_celadon/configs/inteq_caliban.json
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/configs/inteq_talos.json
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/configs/nanotrasen_delta.json
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/configs/nanotrasen_heron.json
  _maps/_mod_celadon/configs/nanotrasen_mimir.json
  _maps/_mod_celadon/configs/nanotrasen_osprey.json
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/configs/nanotrasen_skipper.json
  _maps/_mod_celadon/configs/nanotrasen_slasher.json
  _maps/_mod_celadon/configs/pirate_crying_sun.json
  _maps/_mod_celadon/configs/pirate_ember.json
  _maps/_mod_celadon/configs/pirate_totuga.json
  _maps/_mod_celadon/configs/solfed_cepheus.json
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  _maps/_mod_celadon/configs/syndicate_aegis.json
  _maps/_mod_celadon/configs/syndicate_kaas.json
Labels: 🩳QoL, 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1604 ADD NEW RUIN fun maze
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_fun_maze.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1601 Новый корабль сепаратистов
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_crashed_cap_pod.dmm
  _maps/_mod_celadon/configs/elysium_lalish.json
  _maps/_mod_celadon/map_catalogue.txt
  _maps/_mod_celadon/shuttles/elysium/elysium_lalish.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1616 Some changes, some tweaks. Slasher from shitspawn
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/_mod_celadon/configs/nanotrasen_slasher.json
  _maps/_mod_celadon/shuttles/independent/independent_rigger.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_slasher.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1615 Add asteroid ruins
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_crashed_ship.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_surface_corporate_rejects.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/map_catalogue.txt
  code/__DEFINES/ruins.dm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/areas/code/overmap_encounter.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/random_ruins.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🏔 Руинки 🏔

#1614 Fix Lalish
  _maps/_mod_celadon/shuttles/elysium/elysium_lalish.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1609 RE-MAP: Обновление карты Центрального командования
  _maps/_mod_celadon/map_files/generic/blank.dmm
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/decals.dm
Labels: 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1617 Add new item for loadout & Fix arrangement
  code/modules/client/loadout/loadout_accessories.dm
  code/modules/client/loadout/loadout_general.dm
  mod_celadon/_storge_icons/icons/clothing/overlay/head.dmi
  mod_celadon/_storge_icons/icons/items/obj/head/hats.dmi
  mod_celadon/items/README.md
  mod_celadon/items/code/head.dm
  mod_celadon/loadout/README.md
  mod_celadon/loadout/code/gloves.dm
  mod_celadon/loadout/code/headwear.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/loadout/code/scarfes.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1619 фикс слешера
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_slasher.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1620 Better Glimpse, Jupiter 7 Sensor
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/configs/pirate_jupiter.json
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1608 ADD: Новая "безопасная" сингулярность
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  code/modules/power/singularity/singularity.dm
  mod_celadon/qol/README.md
Labels: 🩳QoL, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1621 more ruins on asteroids
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/abandoned_remora.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/corporate_mining.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/crashedship.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/dark_glade.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/excavator_DK.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/gondolaasteroid.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/onehalf.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/oretruck.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/power_puzzle.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/transport18.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1628 Доработка Лалиш
  _maps/_mod_celadon/shuttles/elysium/elysium_lalish.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1633 Новый шип сепаров(полный реворк хомы)
  _maps/_mod_celadon/configs/elysium_homa.json
  _maps/_mod_celadon/configs/elysium_homafasher.json
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homafasher.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1632 Новый корабль на замену комодо. "Sunset"
  _maps/_mod_celadon/configs/syndicate_gorlex_komodo.json
  _maps/_mod_celadon/configs/syndicate_gorlex_sunset.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
  mod_celadon/celadon_old_syndicate_rigs/code/syndicateoldsuit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1631 Отключение Plasma planet
  mod_celadon/maps/code/planet_types.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1624 FIX: emote *hiss, and letters
  mod_celadon/emotes/code/emote.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1626 some fixes and changes
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/configs/nanotrasen_slasher.json
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_slasher.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_anomaly.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_brawler.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1634 Мини правки Хомафашера, разнообразие объектов на Сансете
  _maps/_mod_celadon/shuttles/elysium/elysium_homafasher.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1643 FIX: Исправляем эмоут Крика
  mod_celadon/emotes/code/species.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка, ๖ۣۣۜζ͜͡ ๖ۣۜ, 🔥HOT-FIX 🔥

#1640 FIX: Исправление Анти-гост сабтлера
  code/modules/mob/say_vr.dm
  mod_celadon/subtler/README.md
  mod_celadon/subtler/code/subtler.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1630 Add new asteroid ruin "Wrecker outpost"
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_wrecker_outpost.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/areas/code/ruin.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1645 FIX: Привязка токенов овермапы якорем
  mod_celadon/overmap/_overmap.dme
  mod_celadon/overmap/code/overmap.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1642 FIXES: Починка акцентов таяр и риолов
  mod_celadon/riol/code/species/organs.dm
  mod_celadon/tajara/code/species/organs.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1636 фикс элиток сансета
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
  mod_celadon/celadon_old_syndicate_rigs/code/syndicateoldsuit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1649 TWEAK: Эмоуты для немых
  mod_celadon/emotes/code/emote.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1648 Fix Wrecker Outpost and Crying Sun
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_wrecker_outpost.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1638 FIX: Avanpost Ice & Emote pet
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/mobs/code/pets/ada.dm
  mod_celadon/mobs/code/pets/alta.dm
  mod_celadon/mobs/code/pets/eldritch.dm
  mod_celadon/mobs/code/pets/emma.dm
  mod_celadon/mobs/code/pets/fennec.dm
  mod_celadon/mobs/code/pets/moro.dm
  mod_celadon/mobs/code/pets/syndicat.dm
  mod_celadon/mobs/code/pets/syndifox.dm
  mod_celadon/mobs/code/pets/zlatchek.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1629 FIXES & RE-BALANCE: Починка механик и ребаланс
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  mod_celadon/balance/README.md
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/turfs_planet.dm
  mod_celadon/mobs/code/magma_goliath.dm
  mod_celadon/mobs/code/magma_legion.dm
  mod_celadon/return_content_spawn/code/hivebot.dm
  mod_celadon/return_content_spawn/code/necropolis_tendril.dm
  mod_celadon/return_crusher_trophy/code/megafuna.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1639 RE-BALANCE Экономики: Вендоры, Экспорт, Миссии
  code/__DEFINES/~mod_celadon/economy.dm
  code/modules/overmap/missions/acquire_mission.dm
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/balance/code/vending.dm
  mod_celadon/economy/_economy.dm
  mod_celadon/economy/_economy.dme
  mod_celadon/economy/code/bounties/assistant.dm
  mod_celadon/economy/code/exports/_export.dm
  mod_celadon/economy/code/exports/_prices.dm
  mod_celadon/economy/code/exports/gear.dm
  mod_celadon/economy/code/exports/large_objects.dm
  mod_celadon/economy/code/exports/lavaland.dm
  mod_celadon/economy/code/exports/materials.dm
  mod_celadon/economy/code/exports/parts.dm
  mod_celadon/economy/code/exports/tech.dm
  mod_celadon/economy/code/exports/tools.dm
  mod_celadon/economy/code/exports/weapons.dm
  mod_celadon/economy/code/missions/_mission.dm
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/economy/code/missions/drill_mission.dm
  mod_celadon/economy/code/missions/research_mission.dm
  mod_celadon/economy/code/supply_pack/_prices.dm
  mod_celadon/economy/code/supply_pack/_supply_pack.dm
  mod_celadon/economy/code/supply_pack_faction/inteq/_prices.dm
  mod_celadon/economy/code/supply_pack_faction/inteq/clothing.dm
  mod_celadon/economy/code/supply_pack_faction/inteq/gun.dm
  mod_celadon/economy/code/supply_pack_faction/nanotrasen/_prices.dm
  mod_celadon/economy/code/supply_pack_faction/nanotrasen/ammo.dm
  mod_celadon/economy/code/supply_pack_faction/nanotrasen/clothing.dm
  mod_celadon/economy/code/supply_pack_faction/nanotrasen/gun.dm
  mod_celadon/economy/code/supply_pack_faction/solfed/_prices.dm
  mod_celadon/economy/code/supply_pack_faction/solfed/ammo.dm
  mod_celadon/economy/code/supply_pack_faction/solfed/clothing.dm
  mod_celadon/economy/code/supply_pack_faction/solfed/gun.dm
  mod_celadon/economy/code/supply_pack_faction/syndicate/_prices.dm
  mod_celadon/economy/code/supply_pack_faction/syndicate/ammo.dm
  mod_celadon/economy/code/supply_pack_faction/syndicate/clothing.dm
  mod_celadon/economy/code/supply_pack_faction/syndicate/gun.dm
  mod_celadon/economy/code/vending.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, На тестировании, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1650 FIX: Фиксы перевода эмоутов
  code/datums/emotes.dm
  mod_celadon/emotes/code/emote.dm
Labels: 🩳QoL, 🏴‍☠️ Локализация 🏴‍☠️, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1651 GITHUB: Исправление отображение символа CL
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🩳QoL, 🏭 Github 🏭, 🔵 Требуется проверка

#1652 [Fix] Срочная гуманитарная помощь для InteQ
  mod_celadon/items/code/boxes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1653 Teardrop, ranger, sunset fixes
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀
