Repository CeladonSS13/Shiptest, pull requests merged in 2025-01, with the labels that each got.

#1319 TRAIT_INCREASED_SURVIVAL fix
  code/modules/mob/living/living.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1321 Emotes msg isliving check
  code/datums/emotes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1316 Фикс турельских айди
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning_bolt.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_remora.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
  mod_celadon/balance/code/sharplite_balance.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1315 Удаление системы люков оффов, возвращение обычных батарейковых магазинов
  code/modules/projectiles/guns/ballistic/assault.dm
  code/modules/projectiles/guns/energy.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1320 Factional Cargo fix, done in a day
  mod_celadon/outpost_console/code/console.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1326 Фикс скайбрейкера
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1327 Stamping: Nanotrasen Edition
  _maps/_mod_celadon/map_files/generic/blank.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1332 Rebalance elysium kondor
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1314 Add new jungle ruin: "Vampire Laboratory"
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_vamplab.dmm
  code/game/objects/structures/safe.dm
  mod_celadon/_storge_icons/icons/mob/hands/musicbox_hands_left.dmi
  mod_celadon/_storge_icons/icons/mob/hands/musicbox_hands_right.dmi
  mod_celadon/_storge_icons/icons/mobs/Miko.dmi
  mod_celadon/_storge_icons/icons/obj/musicbox.dmi
  mod_celadon/_storge_sounds/sound/items/musicbox.ogg
  mod_celadon/items/_items.dme
  mod_celadon/items/code/musicbox.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/safe.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🏔 Руинки 🏔

#1334 Чинит рантайм на модуль шипе
  _maps/_mod_celadon/configs/independent_module.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1307 ADD: Розовые наручники
  mod_celadon/_storge_icons/icons/items/overlay/left_hand/left_pinkcuffs.dmi
  mod_celadon/_storge_icons/icons/items/overlay/mob.dmi
  mod_celadon/_storge_icons/icons/items/overlay/right_hand/right_pinkcuffs.dmi
  mod_celadon/items/code/items.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1318 ADD: 2 новых синергирующих ствола НТ + реогранизация порядка в карго НТ + чистка ОДНОЙ СТРОКИ после PR#1301, 1303
  mod_celadon/_storge_icons/icons/guns/guns_lefthand.dmi
  mod_celadon/_storge_icons/icons/guns/guns_righthand.dmi
  mod_celadon/_storge_icons/icons/guns/ntsl_lasers.dmi
  mod_celadon/items/_items.dme
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/gun.dm
  mod_celadon/weapons/_weapons.dme
  mod_celadon/weapons/code/modules/projectiles/guns/energy/plasma.dm
  mod_celadon/weapons/code/modules/projectiles/guns/energy/projectile_plasma.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1317 ADD: New Rimri plushes
  mod_celadon/_storge_icons/icons/items/plushes.dmi
  mod_celadon/_storge_sounds/sound/plushes/emotes/hiss_t.ogg
  mod_celadon/items/code/plushes.dm
  mod_celadon/loadout/code/plushes.dm
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка

#1322 walkthrough-fix
  mod_celadon/structures/code/obj/barricades.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1324 фиксим линк турелей
  mod_celadon/turrets/code/turrets.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1328 Module surgery case
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/case.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1330 UPDATE: Briefcase для малых предметов
  code/game/objects/items/storage/briefcase.dm
  mod_celadon/balance/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1333 ADD: New texture plasteel and Zaklepki
  mod_celadon/_storge_icons/icons/structures/floors/metal_2.dmi
  mod_celadon/_storge_icons/icons/structures/obj/decales/zaklepki.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/metal_floor.dm
  mod_celadon/structures/code/obj/flooring_decals.dm
  mod_celadon/structures/code/structures.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1338 Фикс путей, ломающих компил билда
  mod_celadon/structures/_structures.dme
Labels: 🔵 Требуется проверка

#1337 Гранд Субшаттл Ретурн
  _maps/_mod_celadon/configs/inteq_valor.json
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/configs/nanotrasen_skybreaker.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/syndicate_krait.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1341 fix ranger turretid "id"
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1342 Легкий ремап Шариота(и его субшаттлеса)
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1344 Фиксит коробки и взлет субшаттлов с планет и подобного
  code/__DEFINES/storage.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1345 RE-BALANCE: R&D - Autolathe
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/designs/autolathe_designs.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1340 FIX: Чиним ЕРРОРы на РИОЛах
  mod_celadon/_storge_icons/icons/qol/human_face.dmi
  mod_celadon/riol/code/preferences/preferences.dm
  mod_celadon/riol/code/species/sprite_accessories.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1346 Ядра легионов: токс урон вместо клон урона
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/legion_core.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1339 Мед бафф, реммап Box, сюрджик наборы
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_koi.dmm
  _maps/_mod_celadon/shuttles/independent/independent_lagoon.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rigger.dmm
  _maps/_mod_celadon/shuttles/independent/independent_shetland.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_osprey.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_paracelsus.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_aegis.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_cybersun_kansatsu.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1336 Снимаем проклятие с ТЭГа
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/TEG_pipes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1349 MAPS: Fix density objects on outpost ice
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1350 Экстренный ремап субшаттла Райдер у НТ
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1351 Добавляет на Dwayne-class субшаттл
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1352 No slowdown for syndie duffelbags
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/backpack.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1347 resprite: overmap events
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/fixes/code/research_mission.dm
  mod_celadon/overmap/code/events.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1348 ADD: New plushe hampster cute
  mod_celadon/_storge_icons/icons/items/plushes.dmi
  mod_celadon/items/code/plushes.dm
  mod_celadon/loadout/code/plushes.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1361 Микрофиксы шеперда
  _maps/_mod_celadon/shuttles/independent/independent_shepherd.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1366 Докпорты на крейт
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1368 Рокеровка хэдкодеров
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1362 Фиксы спрайтов, двух кораблей, и тд и тп
  _maps/_mod_celadon/shuttles/independent/independent_box.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  code/__DEFINES/species_clothing_defines.dm
  code/__DEFINES/~mod_celadon/riol.dm
  mod_celadon/_storge_icons/icons/clothing/onmob_ears.dmi
  mod_celadon/_storge_icons/icons/mask_snouted.dmi
  mod_celadon/balance/_balance.dm
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/cigarette.dm
  mod_celadon/items/code/plushes.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/qol/code/case.dm
  mod_celadon/riol/code/species/species.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1365 Great Nanotrasen Relore
  _maps/_mod_celadon/configs/nanotrasen_darect.json
  _maps/_mod_celadon/configs/nanotrasen_gecko.json
  _maps/_mod_celadon/configs/nanotrasen_meta.json
  _maps/_mod_celadon/configs/nanotrasen_ranger.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_venture.dmm
  code/modules/asset_cache/asset_list_items.dm
  mod_celadon/_storge_icons/icons/nanotrasen/nanotrasen_logos.dmi
  mod_celadon/_storge_icons/icons/png/large_stamp-df_captain.png
  mod_celadon/_storge_icons/icons/png/large_stamp-df_generic.png
  mod_celadon/_storge_icons/icons/png/large_stamp-df_med_dir.png
  mod_celadon/_storge_icons/icons/png/large_stamp-ne_captain.png
  mod_celadon/_storge_icons/icons/png/large_stamp-ne_eng_dir.png
  mod_celadon/_storge_icons/icons/png/large_stamp-ne_generic.png
  mod_celadon/_storge_icons/icons/stamps.dmi
  mod_celadon/balance/code/sharplite_balance.dm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/nanotrasen/nt_decals.dm
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/gun.dm
  mod_celadon/stamps/code/stamps.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1364 Iriska fix
  mod_celadon/mobs/code/iriska.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1355 neon_spline_overlay_fix
  mod_celadon/neon_pack/code/spline.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1369 Printed items selling vito
  code/game/machinery/autolathe.dm
  code/game/objects/items.dm
  code/modules/cargo/exports.dm
  code/modules/research/machinery/_production.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1357 Чиним юсп и глок в карго, добавляем туда батарейки на энергооружие
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/code/supply_pack/independent/ammunition.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/gun.dm
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/pistolcases.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1358 add: Bubble outpost ruin
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_bubbleOutpost.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1359 Ложит в пояс СЕ и ОБР электрическую сварку вместо экспериментальной
  mod_celadon/items/_items.dme
  mod_celadon/items/code/tools.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1372 microfix chariot+meta
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_chariot.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1373 Фикс спрайтов G36
  mod_celadon/_storge_icons/icons/guns/48x32guns.dmi
  mod_celadon/_storge_icons/icons/guns/back.dmi
  mod_celadon/_storge_icons/icons/guns/back_inteq.dmi
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1371 Палундра!! Пираты!!
  _maps/_mod_celadon/Subshuttle Catalog.txt
  _maps/_mod_celadon/configs/pirate_crying_sun.json
  _maps/_mod_celadon/configs/pirate_ember.json
  _maps/_mod_celadon/configs/pirate_jupiter.json
  _maps/_mod_celadon/configs/pirate_libertatia.json
  _maps/_mod_celadon/configs/pirate_santiana.json
  _maps/_mod_celadon/configs/pirate_totuga.json
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_tortuga.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_brawler.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
  mod_celadon/maps/code/subshuttles.dm
  mod_celadon/turrets/code/turrets.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1375 Kowka-pricesrevamp-fixes
  mod_celadon/economy/code/exports/large_objects.dm
  mod_celadon/economy/code/exports/lavaland.dm
  mod_celadon/economy/code/exports/parts.dm
  mod_celadon/economy/code/exports/tools.dm
  mod_celadon/economy/code/supply_pack/gun.dm
  mod_celadon/weapons/code/gun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1374 Фикс доступов дверей на ЦК
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1379 random bugfixes
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  code/game/turfs/open/lava.dm
  code/modules/cargo/exports.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/research/rdconsole.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1381 Celestis-class Exploration Cruiser
  _maps/_mod_celadon/configs/nanotrasen_celestis.json
  _maps/_mod_celadon/configs/nanotrasen_osprey.json
  _maps/_mod_celadon/configs/nanotrasen_skipper.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1377 little-rnd-changes1
  mod_celadon/mod_celadon.dme
  mod_celadon/outpost_console/code/supply_pack/independent/machinery.dm
  mod_celadon/rnd/README.md
  mod_celadon/rnd/_rnd.dm
  mod_celadon/rnd/_rnd.dme
  mod_celadon/rnd/code/circuit_designs.dm
  mod_celadon/rnd/code/nodes.dm
  mod_celadon/rnd/code/rnd_cargo.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1383 Уводим Ember в щитспавн
  _maps/_mod_celadon/configs/pirate_ember.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1385 Добавление модульности для спрайтов дигитигридных костюмов/джапсьютов/ботинок. Оптимизация модульности спрайтов
  code/__DEFINES/~mod_celadon/sarathi.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_boots.dmi
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_suit.dmi
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_under.dmi
  mod_celadon/_storge_icons/icons/mob/species/helms_snouted.dmi
  mod_celadon/_storge_icons/icons/mob/species/mask_snouted.dmi
  mod_celadon/riol/code/species/bodyparts.dm
  mod_celadon/tajara/code/species/bodyparts.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1387 Снос ёлок. Никакого праздника
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1390 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1389 MAPS: Update outposts №5
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1395 Ящерские спрайты для НТАС ригов
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_suit.dmi
  mod_celadon/_storge_icons/icons/mob/species/helms_snouted.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1399 Add: Added 357 instead of vector on kau delta
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1396 N+S Mining base + E11 Factory ruins
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1394 Новая руина - Тюрьма СФ
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_solfed_prison.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1393 Bolide-class Response Carrier
  _maps/_mod_celadon/configs/nanotrasen_bolide.json
  _maps/_mod_celadon/configs/nanotrasen_chariot.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
  mod_celadon/_storge_icons/icons/obj/bureaucracy.dmi
  mod_celadon/_storge_icons/icons/obj/deskflags.dmi
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1400 fancy_deletion_timer_add
  mod_celadon/fancy_deletion_timer/README.md
  mod_celadon/fancy_deletion_timer/_fancy_deletion_timer.dm
  mod_celadon/fancy_deletion_timer/_fancy_deletion_timer.dme
  mod_celadon/fancy_deletion_timer/code/fancy_deletion_timer.dm
  mod_celadon/fancy_deletion_timer/code/meteorcarp.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1402 Bolide Fixes
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1398 новый атлас-класс, субшаттл к нему, англофикация элизиум дрипа и экипажа кондора
  _maps/_mod_celadon/configs/elysium_atlas.json
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/shuttles/elysium/elysium_atlas.dmm
  _maps/_mod_celadon/shuttles/subshuttles/elysium_felon.dmm
  mod_celadon/maps/code/subshuttles.dm
  mod_celadon/outfit/code/elysium/armor.dm
  mod_celadon/outfit/code/elysium/belt.dm
  mod_celadon/outfit/code/elysium/head.dm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
  mod_celadon/outfit/code/elysium/suits.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1409 Респрайт баннеров, добавление новых флагов
  code/game/objects/items/religion.dm
  mod_celadon/_storge_icons/icons/flags.dmi
  mod_celadon/_storge_icons/icons/items/obj/flags.dmi
  mod_celadon/_storge_icons/icons/mob/hands/banners_lefthand.dmi
  mod_celadon/_storge_icons/icons/mob/hands/banners_righthand.dmi
  mod_celadon/flags/README.md
  mod_celadon/flags/_flags.dm
  mod_celadon/flags/_flags.dme
  mod_celadon/flags/code/flags.dm
  mod_celadon/items/code/items.dm
  mod_celadon/outfit/code/elysium/elysium_merch.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1388 Изменения оутфитов сепаров + изменения в корабликах + баланс
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_masinyane.dmm
  mod_celadon/outfit/code/elysium/armor.dm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1404 Ремора руинка
  _maps/_mod_celadon/RandomRuins/SpaceRuins/abandoned_remora.dmm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1410 Separatist outfit+vessel+FIX
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1412 Инверсия направлений маппинг хэлперов для флагов
  mod_celadon/items/code/items.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1415 Флаги сепаратистов на их кораблях + Сделал атлас более разрушенным и грязным
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_atlas.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/subshuttles/elysium_felon.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1408 Пачка фиксов
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1407 Beetle-Class Battle Schnau
  _maps/_mod_celadon/configs/syndicate_gorlex_beetle.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1406 Делает тирдроп судном СФ
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  _maps/_mod_celadon/configs/solfed_teardrop.json
  _maps/_mod_celadon/shuttles/solfed/solfed_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1416 Добавляет НТ постеры
  mod_celadon/_storge_icons/icons/nanotrasen/posters.dmi
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1417 Исправления опечаток + баннера и постеры на шипы
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  mod_celadon/items/code/items.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1411 GITHUB: Обновления шаблона принятия ПРов
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1418 ADD: Добавляем эмоцию щелкнуть пальцами
  code/__DEFINES/~mod_celadon/emote.dm
  mod_celadon/_storge_sounds/sound/emotes/fingersnap.ogg
  mod_celadon/emotes/code/emote.dm
  mod_celadon/emotes/code/emote_names.dm
  mod_celadon/emotes/code/emote_verbs.dm
Labels: 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1420 Basically reverts official tumor scum
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1421 Новая руина: SF Tesla-lab
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1425 Доделывание модульности, фикс косяков
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SandGenerator.dm
  code/modules/mod/mod_control.dm
  mod_celadon/_storge_icons/icons/mob/modsuit/mod_clothing.dmi
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_boots.dmi
  mod_celadon/_storge_icons/icons/mob/species/digitigrade_suit.dmi
  mod_celadon/_storge_icons/icons/mob/species/helms_snouted.dmi
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1426 Изменения кода и спрайтов МОД-ов, фикс карт после мёрджа
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_bubbleOutpost.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oretruck.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/_mod_celadon/map_files/generic/runtime_check_map.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  mod_celadon/_storge_icons/icons/obj/modsuit/mod_clothing.dmi
  mod_celadon/_storge_icons/icons/obj/modsuit/mod_construction.dmi
  mod_celadon/_storge_icons/icons/obj/modsuit/mod_modules.dmi
  mod_celadon/celadon_modsuits/celadon_modsuits.dm
  mod_celadon/celadon_modsuits/celadon_modsuits.dme
  mod_celadon/celadon_modsuits/code/modsuit.dm
  mod_celadon/celadon_modsuits/code/modsuit_modules.dm
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
  mod_celadon/inteq_vendor/inteq_vendor.dm
  mod_celadon/mod_celadon.dme
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1363 grand modded ammo&guns fix
  code/modules/cargo/packs/ammo.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/projectiles/ammunition/ballistic/sniper.dm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/independent/ammunition.dm
  mod_celadon/outpost_console/code/supply_pack/independent/gun.dm
  mod_celadon/weapons/code/ammo.dm
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/guncases.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/shotgun.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/pistol.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/shotgun.dm
  mod_celadon/weapons/code/modules/research/all_nodes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1427 Ап Айрона и вывод в щитспавн + Перевооружение кораблей ИнтеКью
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1413 Add: Cyborg skins "Nika", "Niko"
  mod_celadon/_storge_icons/icons/mekaborg.dmi
  mod_celadon/drakeborgs/code/drake_modules.dm
  mod_celadon/drakeborgs/code/newforrobots.dm
  mod_celadon/drakeborgs/code/rnd.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/silicon/README.md
  mod_celadon/silicon/_silicon.dm
  mod_celadon/silicon/_silicon.dme
  mod_celadon/silicon/code/meka/meka_modules.dm
  mod_celadon/silicon/code/meka/rnd.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1431 Добавление планеты. Руины для астероидов.
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_claw_ruin.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_dragon_ice.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_dragon_plasma.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_hierophant.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_oldminer.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_pandora.dmm
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_ruined_abductor_ship.dmm
  code/__DEFINES/overmap.dm
  code/__DEFINES/ruins.dm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/areas/code/overmap_encounter.dm
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/random_ruins.dm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/maps/code/turfs_planet.dm
  mod_celadon/mod_celadon.dme
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🏔 Руинки 🏔

#1430 Добавляем в конфиг кораблей новую переменную для задания максимальной силы сенсоров
  _maps/ship_config_schema.json
  code/controllers/subsystem/mapping.dm
  code/datums/shuttles.dm
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1432 ADD: New tajaran emote MROWSS
  code/__DEFINES/~mod_celadon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  mod_celadon/_storge_sounds/sound/emotes/tajaran/mrowss.ogg
  mod_celadon/emotes/code/emote.dm
  mod_celadon/emotes/code/emote_names.dm
  mod_celadon/emotes/code/emote_verbs.dm
  mod_celadon/emotes/code/racial_emotes.dm
Labels: 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1433 Фикс плейсхолдеров + минибафф кэпМОД-а
  mod_celadon/celadon_modsuits/code/modsuit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1380 Syndicate Quality of Life
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  mod_celadon/_storge_icons/icons/mob/EliteContractorHardsuit.dmi
  mod_celadon/_storge_icons/icons/mob/EliteContractorHardsuitHelm.dmi
  mod_celadon/_storge_icons/icons/mob/EliteMedicalHardsuit.dmi
  mod_celadon/_storge_icons/icons/mob/EliteMedicalHardsuitHelm.dmi
  mod_celadon/_storge_icons/icons/mob/EliteSyndicateHardsuit.dmi
  mod_celadon/_storge_icons/icons/obj/EliteContractorHardsuit.dmi
  mod_celadon/_storge_icons/icons/obj/EliteContractorHardsuitHelm.dmi
  mod_celadon/_storge_icons/icons/obj/EliteMedicalHardsuit.dmi
  mod_celadon/_storge_icons/icons/obj/EliteMedicalHardsuitHelm.dmi
  mod_celadon/celadon_old_syndicate_rigs/README.md
  mod_celadon/celadon_old_syndicate_rigs/_celadon_old_syndicate_rigs.dm
  mod_celadon/celadon_old_syndicate_rigs/code/syndicateoldsuit.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1435 botanical_dispenser for everyone!!!
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/mutagensalpetredispenser.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1436 Нерф пиратов
  _maps/_mod_celadon/configs/pirate_crying_sun.json
  _maps/_mod_celadon/configs/pirate_santiana.json
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1440 Фикс спрайта одеяла
  mod_celadon/_storge_icons/icons/mob/bedsheet_elysium.dmi
  mod_celadon/outfit/code/elysium/clothing.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1444 Фиксим "Anima"
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/maps/code/turfs_planet.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/animamobs.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1441 Update: Plasma planet
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/planet_types.dm
  mod_celadon/return_content/code/necropolis_tendril.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка

#1445 фиксим Saber
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1439 Вывод Твинклшайна из щитспавна
  _maps/_mod_celadon/configs/syndicate_twinkleshine.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1447 Mo dies!!
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  code/game/mecha/mech_fabricator.dm
  mod_celadon/celadon_modsuits/celadon_modsuits.dme
  mod_celadon/inteq_vendor/inteq_vendor.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/outpost_console/code/supply_pack/independent/spacesuit_armor.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1446 NT ship fixes
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_bolide.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1453 Tweak: Bots and Mechs now will not require acess
  code/game/mecha/combat/combat.dm
  code/game/mecha/combat/honker.dm
  code/game/mecha/medical/medical.dm
  code/game/mecha/working/ripley.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/hygienebot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  mod_celadon/qol/_qol.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1454 Update: Plasma planet
  mod_celadon/_storge_icons/icons/mob/plasma_legion.dmi
  mod_celadon/_storge_icons/icons/turf/chasms_plasma.dmi
  mod_celadon/_storge_icons/icons/turf/lava_plasma.dmi
  mod_celadon/_storge_icons/icons/turf/lavaland_pirple.dmi
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/turfs_planet.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1451 Tweak: launchpad range changed from 15 to 45
  mod_celadon/qol/_qol.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/launchpad.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1458 Fix: 357 speedloaders instead of 357 ammo boxes where they should be
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1460 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1449 Nanotrasen Ripley
  mod_celadon/_storge_icons/icons/mecha.dmi
  mod_celadon/_storge_icons/icons/mecha_equipment.dmi
  mod_celadon/mechas/code/equipment/work_tools.dm
  mod_celadon/mechas/code/mecha_wreckage.dm
  mod_celadon/mechas/code/working/ripley.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1455 Добавлен новый корабль "Fist of Freedom" + хотфикс Хроникла
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_fist_of_freedom.json
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1443 TSSC decals
  mod_celadon/_storge_icons/icons/structures/manufacturer_decals.dmi
  mod_celadon/outfit/code/solfed/solfed_decal.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1462 UPDATE: Обновление аванпостов & выпил телескопичек & фикс миссий
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  code/__DEFINES/inventory.dm
  code/__DEFINES/storage.dm
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/factions/suns.dm
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/clothing/outfits/factions/inteq.dm
  code/modules/clothing/outfits/factions/minutemen.dm
  code/modules/clothing/outfits/factions/nanotrasen.dm
  code/modules/clothing/outfits/factions/roumain.dm
  code/modules/clothing/outfits/factions/solgov.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/wintercoats.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/mod/mod_theme.dm
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1434 Modsuit platings
  mod_celadon/_storge_icons/icons/obj/modsuit/mod_construction.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1464 UN-FIX: Возвращаем возможность ношения телескопичек
  code/__DEFINES/inventory.dm
  code/__DEFINES/storage.dm
  code/modules/mod/mod_theme.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1463 RE-BALANCE: Меняем рюкзаки и КД на одевание и снятие всех вещей
  code/__DEFINES/clothing.dm
  code/__DEFINES/storage.dm
  code/game/objects/items/storage/backpack.dm
  mod_celadon/balance/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1466 FIX: compile after fixes
  code/__DEFINES/storage.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1467 Небольшой бафф Ланиусов
  mod_celadon/lanius/code/bodyparts.dm
  mod_celadon/lanius/code/lanius.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1468 RE-MAP: Ice outpost update #10
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1459 Inteq Flashlight Fix
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  mod_celadon/_storge_icons/icons/mob/modsuit/mod_clothing.dmi
  mod_celadon/celadon_modsuits/code/modsuit_modules.dm
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1469 Map fixes 2
  _maps/_mod_celadon/configs/solfed_teardrop.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1470 Squab & Slasher, Skybreaker fixes
  _maps/_mod_celadon/configs/nanotrasen_delta.json
  _maps/_mod_celadon/configs/nanotrasen_slasher.json
  _maps/_mod_celadon/configs/nanotrasen_squab.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_slasher.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1472 Squab mappath fix
  _maps/_mod_celadon/configs/nanotrasen_squab.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1474 SolFed content: part 1
  code/modules/asset_cache/asset_list_items.dm
  mod_celadon/_storge_icons/icons/Solfed_officer.dmi
  mod_celadon/_storge_icons/icons/elysium_brigade.dmi
  mod_celadon/_storge_icons/icons/mob/Solfed_officer.dmi
  mod_celadon/_storge_icons/icons/mob/sf_suit.dmi
  mod_celadon/_storge_icons/icons/mob/under.dmi
  mod_celadon/_storge_icons/icons/png/nano_trasen_captain_stamp.png
  mod_celadon/_storge_icons/icons/png/nano_trasen_central_command_stamp.png
  mod_celadon/_storge_icons/icons/png/nanotrasen_captain_stamp.png
  mod_celadon/_storge_icons/icons/png/nanotrasen_central_command_stamp.png
  mod_celadon/_storge_icons/icons/png/sf_commander_stamp.png
  mod_celadon/_storge_icons/icons/sol_fed_patriots.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/backpacks.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/belt.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/hands.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/head.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/mask.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/spacesuits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/spacesuits_head.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/suits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/uniforms.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/backpacks.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/belt.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/card.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/hands.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/head.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/mask.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/spacesuits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/suits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/uniforms.dmi
  mod_celadon/_storge_icons/icons/solfed/mob/eknifes_lefthand.dmi
  mod_celadon/_storge_icons/icons/solfed/mob/eknifes_righthand.dmi
  mod_celadon/_storge_icons/icons/solfed/obj/bureaucracy.dmi
  mod_celadon/_storge_icons/icons/solfed/obj/energy.dmi
  mod_celadon/_storge_icons/icons/solfed/obj/fluff.dmi
  mod_celadon/_storge_icons/icons/solfed/obj/posters.dmi
  mod_celadon/_storge_icons/icons/solfed/structures/sol_fed_logo.dmi
  mod_celadon/outfit/code/solfed/solfed_decal.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
  mod_celadon/outpost_console/code/supply_pack.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1475 feat: Добавил поддержку кириллицы в hand_labeler
  mod_celadon/mod_celadon.dme
  mod_celadon/rus_labeler/README.md
  mod_celadon/rus_labeler/_rus_labeler.dm
  mod_celadon/rus_labeler/_rus_labeler.dme
  mod_celadon/rus_labeler/code/rus_labeler.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1476 Фикс коробок для миссий
  mod_celadon/economy/code/missions/acquire_mission.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1477 SolFed content: Part 2
  _maps/_mod_celadon/configs/solfed_anomaly.json
  _maps/_mod_celadon/configs/solfed_cepheus.json
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_firetail.json
  _maps/_mod_celadon/configs/solfed_fist_of_freedom.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  _maps/_mod_celadon/configs/solfed_saber.json
  _maps/_mod_celadon/configs/solfed_tomahawk.json
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1478 SF sign resprite
  mod_celadon/_storge_icons/icons/solfed/obj/fluff.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка
