Repository CeladonSS13/Shiptest, pull requests merged in 2025-08, with the labels that each got.

#1943 MAP: Flower and Tomahawk fixes
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1945 MAP: Меняем описание утюга
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1922 HotFix for Subtler Update - Add BubbleText
  mod_celadon/subtler/code/subtler.dm
Labels: 🧱 Код 🧱, 🔥HOT-FIX 🔥

#1937 REMOVE: Задание на плазму - с появлением терминалов, не актуально
  code/modules/missions/outpost/acquire_mission.dm
  mod_celadon/economy/README.md
  mod_celadon/economy/code/missions/acquire_mission.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1924 HOTFIX: Откат "правильного" отображения скорости на двигателях
  code/modules/overmap/ships/controlled_ship_datum.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🛑= REVERT =🛑, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1933 ADD: Звук парирования для мечей
  code/game/objects/items.dm
  mod_celadon/_storge_sounds/sound/gun/sword_p1.ogg
  mod_celadon/_storge_sounds/sound/gun/sword_p2.ogg
  mod_celadon/_storge_sounds/sound/gun/sword_p3.ogg
Labels: 🔊 Звуки 🔊, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1939 REMOVE: Еда - Старый фикс на срайты реагентов
  code/modules/food_and_drinks/food/condiment.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1938 REVERT: Откат по капюшонам, я з**cя чинить все это...
  code/modules/clothing/suits/toggles.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1944 HOTFIX: MORE MORE minefield
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/game/objects/items/devices/mines.dm
  mod_celadon/return_content_misc/README.md
  mod_celadon/return_content_misc/_return_content_misc.dme
  mod_celadon/return_content_misc/code/mines_field.dm
Labels: 🧱 Код 🧱, ☠Слияние с ОФАМИ☠, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1868 RE-BALANCE: Расовые особенности
  code/__DEFINES/~mod_celadon/riol.dm
  code/__DEFINES/~mod_celadon/tajara.dm
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/vox.dm
  mod_celadon/balance/README.md
  mod_celadon/riol/code/species/organs.dm
  mod_celadon/riol/code/species/species.dm
  mod_celadon/tajara/code/species/organs.dm
  mod_celadon/tajara/code/species/species.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1936 FIX: Ошибка существования риолов
  mod_celadon/_storge_icons/icons/species/riol/riol_hairs.dmi
  mod_celadon/riol/code/species/sprite_accessories.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥HOT-FIX 🔥

#1968 FIX: Invisible ammo box .308
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo_boxes.dmi
  mod_celadon/resprite/code/ammo_box.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱

#1971 MAP: Замена Болида - Daggerfall
  _maps/_mod_celadon/configs/nanotrasen_daggerfall.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_daggerfall.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1949 TWEAK: Автолат - Стопки кратные 15х и 30х
  code/game/machinery/autolathe.dm
  mod_celadon/qol/README.md
  tgui/packages/tgui/interfaces/Autolathe.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1987 ADD: Missing syndicate medical meka upgrade module
  mod_celadon/silicon/code/meka/rnd.dm
Labels: 🧱 Код 🧱

#1993 Areaeditor-update
  code/game/objects/items/blueprints.dm
  mod_celadon/_storge_icons/icons/items/misc/permit.dmi
  mod_celadon/items/code/tools.dm
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1985 RETURN: LEGEND PLASMA CUTTER
  mod_celadon/fixes/code/cutter.dm
Labels: 🧱 Код 🧱

#1982 MAP: All RND SHIP UP
  _maps/_mod_celadon/configs/nanotrasen_squab.json
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1956 BALANCE: Изменение характеристик для Energy Halberd & Double-Bladed Energy Sword + New Shuttle Area Editor
  code/game/objects/items/blueprints.dm
  code/game/objects/items/melee/dualenergy.dm
  mod_celadon/_storge_icons/icons/items/misc/permit.dmi
  mod_celadon/_storge_sounds/sound/weapons/laser_balist.ogg
  mod_celadon/_storge_sounds/sound/weapons/laser_melee.ogg
  mod_celadon/items/_items.dme
  mod_celadon/items/code/melee.dm
  mod_celadon/items/code/tools.dm
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/sec_supply.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/sec_supply.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/sec_supply.dm
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, ! TEST-MERGE !, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1948 HOTFIX: Прически ОПЯТЬ, СОБАКИ
  mod_celadon/_storge_icons/icons/species/riol/riol_hairs.dmi
  mod_celadon/riol/code/species/sprite_accessories.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥HOT-FIX 🔥

#1999 FIX: Разные крафт категории
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#2014 FIX: Исправление рецепта святой воды
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/chemical_reaction.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#2011 FIX: Микро ошибки в коде
  code/game/objects/effects/wanted_poster.dm
  code/modules/power/singularity/field_generator.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2010 ADD: Добавляет свиней в игру
  mod_celadon/_storge_icons/icons/items/misc/salo.dmi
  mod_celadon/_storge_icons/icons/mobs/pet_content/pets.dmi
  mod_celadon/_storge_sounds/sound/mobs/pig/death.ogg
  mod_celadon/_storge_sounds/sound/mobs/pig/hru.ogg
  mod_celadon/_storge_sounds/sound/mobs/pig/oink.ogg
  mod_celadon/_storge_sounds/sound/mobs/pig/squeak.ogg
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/pets/pig.dm
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱

#2017 FIX: Фикс прилипания планет к кораблю
  code/controllers/subsystem/overmap.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/dynamic_datum.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2016 FIX: Design disks: writing, clearing, and printing work reliably again
  code/modules/research/designs.dm
  code/modules/research/rdconsole.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1983 MAP: Delta - выводим из щитспавна с небольшим ребелансом
  _maps/_mod_celadon/configs/nanotrasen_delta.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1997 MAP: Jungle Syndicate Remap
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  mod_celadon/areas/code/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🏔 Руинки 🏔

#2026 FIX: G36 attachments
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
Labels: 🧱 Код 🧱

#1984 [MIRROR]: Поддержка кириллицы, подсветка чата и многое другое
  code/__HELPERS/sanitize_values.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/paperwork/paper.dm
  tgui/packages/tgui-panel/chat/ChatPageSettings.js
  tgui/packages/tgui-panel/chat/ChatTabs.js
  tgui/packages/tgui-panel/chat/actions.js
  tgui/packages/tgui-panel/chat/middleware.js
  tgui/packages/tgui-panel/chat/model.js
  tgui/packages/tgui-panel/chat/renderer.js
  tgui/packages/tgui-panel/chat/replaceInTextNode.js
  tgui/packages/tgui-panel/settings/SettingsPanel.js
  tgui/packages/tgui/styles/components/Button.scss
Labels: 💬 TGUI, 🏴‍☠️ Локализация 🏴‍☠️, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2019 FIX: Reverse Supplypod - в саплай панели
  code/__DEFINES/cargo.dm
  code/modules/cargo/centcom_podlauncher.dm
  mod_celadon/_storge_icons/icons/structures/supplypods.dmi
  mod_celadon/_storge_icons/icons/structures/supplypods_32x32.dmi
  tgui/packages/tgui/interfaces/CentcomPodLauncher.js
Labels: 💬 TGUI, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2030 MAP: Titanium windows on panacea
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#2034 MAP: Hotfix Tomahawk
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#2035 #47.1 Перенос обновлений с Beta на Alpha сервер
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  code/modules/discord/accountlink.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#2036 #47.2 Перенос обновлений с Beta на Alpha сервер
  code/modules/discord/accountlink.dm
  strings/1000_most_common.txt
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2040 Возвращаем лаву на океанический планетоид
  code/datums/mapgen/planetary/waterGenerator.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2037 FIX: Лодаут и выход в крио для гостролей
  code/game/machinery/cryopod.dm
  code/modules/awaymissions/corpse.dm
  mod_celadon/ghost_roles/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2046 FIX: Перезарядка оружия мехов
  code/game/mecha/equipment/weapons/weapons.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2065 FIX: Вечные щупальца голиафов в космосе
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#2062 ADD: Ограничение входа ксенорасам на корабли сепаратистов
  code/modules/mob/dead/new_player/ship_select.dm
  mod_celadon/balance/README.md
Labels: 🩳QoL, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2067 FIX: Выдаем лицензию на сушку мокрой кожи в сушилке
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🏗 Refactoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2068 ADD: Admin Panel Menu
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_defines.dm
  mod_celadon/qol/README.md
  tgui/packages/tgui/interfaces/AdminVerbs.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2060 REMOVE: [REDACTED]"PR name" (hiding ship class)
  code/modules/overmap/ships/controlled_ship_datum.dm
  mod_celadon/overmap/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2076 FIX: спрайты оффовской секурити одежды
  mod_celadon/fixes/_fixes.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/security_outfit.dm
Labels: 🧱 Код 🧱

#2072 REMOVE: Ограничение на покраску одежды
  code/game/objects/items/crayons.dm
  mod_celadon/qol/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2045 FIX: Буры - Понижение сложности миссии 4 уровня
  code/modules/mining/drill.dm
  code/modules/mining/ore_veins.dm
  code/modules/missions/dynamic/signaled.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#2086 TWEAK: Респрайт коробки яиц
  code/game/objects/items/storage/fancy.dm
  mod_celadon/_storge_icons/icons/resprite/eggbox/eggbox_lefthand.dmi
  mod_celadon/_storge_icons/icons/resprite/eggbox/eggbox_righthand.dmi
  mod_celadon/_storge_icons/icons/resprite/eggbox/eggs.dmi
  mod_celadon/resprite/_resprite.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/eggs.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2031 ADD: Возвращаем штуки из крафтов трайбл категории
  code/datums/components/crafting/recipes/clothing.dm
  code/datums/components/crafting/recipes/misc.dm
  code/datums/components/crafting/recipes/tribal.dm
  code/datums/components/crafting/recipes/weapon.dm
  code/modules/clothing/outfits/factions/roumain.dm
  mod_celadon/return_content_misc/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#2042 MAP: Fix rondo and daggerfall
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_daggerfall.dmm
  _maps/_mod_celadon/shuttles/pirate/ramzi_rondo.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🔥HOT-FIX 🔥

#2043 MAP: Little fix for Tomahawk
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🔥HOT-FIX 🔥

#2084 MAP: Баг фикс руины "Library" в Джунглях
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
Labels: 🗺 Мапинг, 🏔 Руинки 🏔

#2069 ADD: Инструмент для анализа логов Profiler
  tools/Profiler_Parser/README_profiler_parser.md
  tools/Profiler_Parser/batch_profiler_parser.py
  tools/Profiler_Parser/profiler_parser.bat
  tools/Profiler_Parser/profiler_parser.sh
  tools/Profiler_Parser/profiler_parser_simple.sh
  tools/Profiler_Parser/simple_profiler_parser.py
  tools/Profiler_Parser/test_parser.py
Labels: 🏭 Github 🏭

#2078 UPDATE: Визуальное обновление для Протолата и Техфаба
  code/modules/research/machinery/_production.dm
  code/modules/research/rdmachines.dm
  mod_celadon/_storge_icons/icons/machinery/research.dmi
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/production.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2092 MAP: Fix some maps
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_assaultpodcrash.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_daggerfall.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/subshuttles/nanotrasen_rider.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#2097 TWEAK: Script of Mapping - Замена путей карт на наши модовые
  tools/mapmerge2/frontend.py
Labels: 🏭 Github 🏭

#2050 ADD: Долото и покрасщик стен
  code/game/objects/items/tools/chisel.dm
  mod_celadon/_storge_icons/icons/items/misc/wall_painter.dmi
  mod_celadon/balance/README.md
  mod_celadon/mod_celadon.dme
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
  mod_celadon/wall_painter/README.md
  mod_celadon/wall_painter/_wall_painter.dm
  mod_celadon/wall_painter/_wall_painter.dme
  mod_celadon/wall_painter/code/loadout.dm
  mod_celadon/wall_painter/code/wall_painter.dm
  tgui/packages/tgui/interfaces/WallPainter.js
Labels: 💬 TGUI, 🎨 Спрайты 🎨, 🧱 Код 🧱, ! TEST-MERGE !, 🪓 ТРОГАЛИ CORE-CODE 🪓
