Repository CeladonSS13/Shiptest, pull requests merged in 2025-07, with the labels that each got.

#1852 ADD: Interface - Buttons add fullscreen, remove lore
  interface/skin.dmf
  tgui/packages/tgui-panel/themes.js
Labels: 💬 TGUI, 🔵 Требуется проверка

#1853 TWEAK: Grammar - Опечатка в наборе киборга
  mod_celadon/outpost_console/code/supply_pack/independent/idea.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1814 ADD & REPLACE: Shirt stuff
  code/__DEFINES/species_clothing_defines.dm
  code/modules/mob/dead/new_player/sprite_accessories/underwear/underwear_torso.dm
  mod_celadon/_storge_icons/icons/items/clothing/underwear/species/kepori/underwear_legs_kepori.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/species/kepori/underwear_socks_kepori.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/species/kepori/underwear_torso_kepori.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/species/vox/underwear_torso_vox.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/underwear_legs.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/underwear_socks.dmi
  mod_celadon/_storge_icons/icons/items/clothing/underwear/underwear_torso.dmi
  mod_celadon/mod_celadon.dme
  mod_celadon/underwear/README.md
  mod_celadon/underwear/_underwear.dm
  mod_celadon/underwear/_underwear.dme
  mod_celadon/underwear/code/underwear_legs.dm
  mod_celadon/underwear/code/underwear_socks.dm
  mod_celadon/underwear/code/underwear_torso.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔵 Требуется проверка

#1850 SVD improving
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo.dmi
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo_boxes.dmi
  mod_celadon/_storge_icons/icons/items/weapons/in_hands/svd_lefthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/in_hands/svd_righthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/overlay/svd_onmob.dmi
  mod_celadon/_storge_icons/icons/items/weapons/svd.dmi
  mod_celadon/_storge_icons/icons/items/weapons/svd_ammo.dmi
  mod_celadon/_storge_icons/icons/items/weapons/svd_bullet.dmi
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1851 FIXES: Polar beer & bear
  code/modules/mining/ore_veins.dm
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/return_content_crusher_trophy/code/megafuna.dm
  mod_celadon/return_content_spawn/code/hivebot.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🏗 Refactoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔵 Требуется проверка

#1854 TWEAK: Даём общий префикс сепаратиским кораблям и независимым. ESV
  _maps/_mod_celadon/configs/Independent_flower.json
  _maps/_mod_celadon/configs/elysium_aldaama.json
  _maps/_mod_celadon/configs/elysium_atlas.json
  _maps/_mod_celadon/configs/elysium_homafasher.json
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/elysium_khalifat.json
  _maps/_mod_celadon/configs/elysium_kondor.json
  _maps/_mod_celadon/configs/elysium_lalish.json
  _maps/_mod_celadon/configs/independent_byo.json
  _maps/_mod_celadon/configs/independent_dwayne.json
  _maps/_mod_celadon/configs/independent_elder.json
  _maps/_mod_celadon/configs/independent_escapepod.json
  _maps/_mod_celadon/configs/independent_kilo.json
  _maps/_mod_celadon/configs/independent_mudskipper.json
  _maps/_mod_celadon/configs/independent_riggs.json
  _maps/_mod_celadon/configs/independent_shepherd.json
  _maps/_mod_celadon/configs/independent_tranquility.json
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🔵 Требуется проверка

#1861 RE-BALANCE: Обновление цен на мехов и их скины
  mod_celadon/outpost_console/code/supply_pack/independent/mechs.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/mechs.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/mechs.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/mechs.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/mechs.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка

#1862 ADD: Патроны для G36 в карго СФ, но не саму G36
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/magazines.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1867 FIX: Фикс бесконечной рекурсии операции у IPС
  code/modules/surgery/surgery_step.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1869 GITHUB: Более стильный, и аккуратный шаблон для Пулл Реквестов
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 Github 🏭

#1871 BUG-FIX: Исправление неверных флагов сокрытия частей ксеносов
  code/modules/mob/living/carbon/human/species.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1863 TWEAK: Сортировка калибра 5.56mm
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo.dmi
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo_boxes.dmi
  mod_celadon/fixes/code/icons.dm
  mod_celadon/outpost_console/code/supply_pack/independent/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/ammo_box.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#1864 ADD: Обновление выпивки
  code/game/objects/effects/spawners/random/food_or_drink.dm
  mod_celadon/_storge_icons/icons/items/misc/drinks.dmi
  mod_celadon/_storge_icons/icons/obj/hydroponics/growing.dmi
  mod_celadon/_storge_icons/icons/obj/hydroponics/harvest.dmi
  mod_celadon/_storge_icons/icons/obj/hydroponics/seeds.dmi
  mod_celadon/drinks_and_food/README.md
  mod_celadon/drinks_and_food/_drinks_and_food.dm
  mod_celadon/drinks_and_food/_drinks_and_food.dme
  mod_celadon/drinks_and_food/code/drinks/chemical_reaction.dm
  mod_celadon/drinks_and_food/code/drinks/drink_reagents.dm
  mod_celadon/drinks_and_food/code/drinks/mixed_drinks.dm
  mod_celadon/drinks_and_food/code/drinks/other_reagents.dm
  mod_celadon/drinks_and_food/code/hydroponic/plants.dm
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1874 DELETE: Удалена лава с водного планетоида
  code/datums/mapgen/planetary/waterGenerator.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1873 BUG-FIX: Кепори вновь умеют держать мелкие предметы в клюве
  code/modules/mob/living/carbon/human/species_types/kepori.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1877 GITHUB: CI-тесты для маперов
  .github/workflows/ci_maps.yml
Labels: 🏭 Github 🏭

#1881 Subtler Update - Add BubbleText
  mod_celadon/subtler/code/subtler.dm
Labels: 🧱 Код 🧱

#1886 FIX: Module_error suply_packs
  code/modules/cargo/order.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1870 TWEAK: Buff Sunset, nerf lavaland ruin
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1897 FIX: Fix glimpse..Again
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1898 FIX: Byo prefix
  _maps/_mod_celadon/configs/independent_byo.json
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1896 TWEAK: Color Tooltips for new UI
  code/modules/tooltip/tooltip.html
Labels: 🪓 ТРОГАЛИ CORE-CODE 🪓

#1882 GITHUB: Новая форма баг-репортов
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_form.yml
Labels: 🏭 Github 🏭

#1890 FIXES: Уровень крови в организме
  code/game/machinery/iv_drip.dm
  code/modules/mob/living/blood.dm
  code/modules/reagents/chemistry/holder.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1905 BALANCE: Price increase for Firestorm and .44HP ammo
  mod_celadon/outpost_console/code/supply_pack/independent/gun.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄

#1907 BALANCE: Buff of various equipment
  mod_celadon/balance/code/items.dm
  mod_celadon/balance/code/suit.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄

#1909 GITHUB: Update CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭

#1904 ADD: Новые предметы в слот уха
  mod_celadon/add_item_for_slot_ears/README.md
  mod_celadon/add_item_for_slot_ears/_add_item_for_slot_ears.dm
  mod_celadon/add_item_for_slot_ears/_add_item_for_slot_ears.dme
  mod_celadon/add_item_for_slot_ears/code/item_for_slot_ears.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱

#1910 REVERT: "FIX: Ai controller fix (#1893)"
  code/controllers/subsystem/ai_controllers.dm
  code/datums/ai/_ai_controller.dm
  code/datums/status_effects/debuffs.dm
  mod_celadon/mobs/code/ai_controller.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1889 FIX: ИИ медведей и не только
  mod_celadon/mobs/code/ai_controller.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱

#1902 MAP-FIX: Замена крови U на -O
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_solfed_prison.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1901 ADD: BALLISTIC SHIELD - Extended Edition
  code/game/objects/items.dm
  code/game/objects/items/shields.dm
  mod_celadon/_storge_icons/icons/items/weapons/shields.dmi
  mod_celadon/_storge_icons/icons/items/weapons/shields_back.dmi
  mod_celadon/_storge_icons/icons/items/weapons/shields_lefthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/shields_righthand.dmi
  mod_celadon/_storge_sounds/sound/gun/shieldhit1.wav
  mod_celadon/_storge_sounds/sound/gun/shieldhit2.wav
  mod_celadon/balance/README.md
  mod_celadon/outpost_console/code/supply_pack/independent/sec_supply.dm
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔥 Баланс ❄, ☠Слияние с ОФАМИ☠, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1913 ADD: Мелкие товары в карго из обновления
  mod_celadon/outpost_console/code/supply_pack/independent/civilian.dm
  mod_celadon/outpost_console/code/supply_pack/independent/sec_supply.dm
  mod_celadon/outpost_console/code/supply_pack/independent/weapon_attachments.dm
Labels: 🧱 Код 🧱

#1912 REMOVE: Добавленная ФИЧА отталкивания у крашеров при ударах
  code/modules/mining/equipment/kinetic_crusher.dm
  mod_celadon/balance/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1892 FIXES: Попытка починить дикую радиацию
  code/__HELPERS/radiation.dm
  code/controllers/subsystem/radiation.dm
  code/datums/components/radioactive.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1915 Revert "ADD: Добавляет показ музыки в лобби (#1908)"
  code/controllers/subsystem/ticker.dm
  code/game/sound.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1917 REMOVE: Замена целого атласа причесок ради 1 новой, are you serious?
  code/modules/mob/dead/new_player/sprite_accessories/hair.dm
  icons/mob/clothing/underwear/species/kepori/underwear_torso_kepori.dmi
  icons/mob/clothing/underwear/species/vox/underwear_torso_vox.dmi
  icons/mob/clothing/underwear/underwear_torso.dmi
  mod_celadon/_storge_icons/icons/species/human/human_face.dmi
  mod_celadon/qol/code/hair.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1921 DEL: Delete modsuits from ships
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1927 MAP: Утюг интеков из щитспавна, утюг сепаров в щитспавн
  _maps/_mod_celadon/configs/elysium_iron_maiden.json
  _maps/_mod_celadon/configs/inteq_iron_maiden.json
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1931 FIX: Отображения оружия у хуман-мобов
  code/__HELPERS/dynamic_human_icon_gen.dm
  mod_celadon/fixes/README.md
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1925 ADD: New dynamic solfed mobs
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/simple_animal/faction/solfed.dm
  mod_celadon/mobs/code/simple_animal/faction/solfed_corpse.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
Labels: 🧱 Код 🧱
