Repository CeladonSS13/Shiptest, pull requests merged in 2025-02, with the labels that each got.

#1414 Tweak: Cyborg QoL
  code/modules/mob/living/silicon/robot/robot_modules.dm
  mod_celadon/_storge_icons/icons/mekaborg.dmi
  mod_celadon/drakeborgs/code/drake_modules.dm
  mod_celadon/drakeborgs/code/rnd.dm
  mod_celadon/economy/code/supply_pack_faction/independent/idea.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/silicon.dm
  mod_celadon/silicon/code/meka/meka_modules.dm
  mod_celadon/silicon/code/meka/rnd.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1481 Фиксы Твинклшайна, Кулака свободы и Беттле.
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1479 Фикс дроби у сайги 410
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/shotgun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1480 Caliban fixes and stuff
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  _maps/_mod_celadon/shuttles/subshuttles/inteq_tadpole.dmm
  code/modules/projectiles/guns/ballistic/smg.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  mod_celadon/outfit/code/inteq/cards_ids.dm
  mod_celadon/outfit/code/inteq/inteq_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#1482 fix: Исправил ошибку снятия фонарика со шлема с креплением через alt-click
  mod_celadon/helmet_seclite/README.md
  mod_celadon/helmet_seclite/_helmet_seclite.dm
  mod_celadon/helmet_seclite/_helmet_seclite.dme
  mod_celadon/helmet_seclite/code/helmet_seclite.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1488 Rework Ocean Town
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_ocean_town.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1486 Teardrop fix
  _maps/_mod_celadon/configs/solfed_teardrop.json
  _maps/_mod_celadon/shuttles/solfed/solfed_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1483 UPDATE: Обновление шаблона заполнения PR-ов
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 Github 🏭, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1484 Ядра МОДов в карго, ребеланс либртата и краинг сан
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
  mod_celadon/outpost_console/code/supply_pack/independent/spacesuit_armor.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1485 Описания модсьютов
  mod_celadon/celadon_modsuits/code/modsuit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1489 Fix saiga 2.0
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/shotgun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1492 fix-runtime: Исправление рантайма регистрации ассетов с одинаковым названием #1491
  code/modules/asset_cache/asset_list_items.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1494 Typo fixes
  mod_celadon/celadon_modsuits/code/modsuit.dm
  mod_celadon/items/code/items.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1493 Modening: shitpest edition
  _maps/_mod_celadon/shuttles/independent/independent_alone.dmm
  _maps/_mod_celadon/shuttles/independent/independent_nemo.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_darect.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_gecko.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_hyena.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1490 tweak: Beetle change
  _maps/_mod_celadon/configs/syndicate_gorlex_beetle.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1497 runtime: Исправление шансов спавна для некоторых значений #1496
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1495 Modening fixes and additions
  mod_celadon/celadon_modsuits/code/modsuit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1498 Починка спрайтов ремкомлектов ИПС
  icons/obj/items.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1506 fix Firetail
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/subshuttles/solfed_vespa.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1507 fix Jupiter
  _maps/_mod_celadon/configs/pirate_jupiter.json
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1509 fix Anomaly и Vespa
  _maps/_mod_celadon/shuttles/solfed/solfed_anomaly.dmm
  _maps/_mod_celadon/shuttles/subshuttles/solfed_vespa.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1508 Возвращаем было величие для Kau Delta
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1504 runtime: Исправил опечатку в определении костюма ассистента для SolFed #1499
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1510 fix: Исправление наименования факсов при создании корабля
  code/__DEFINES/~mod_celadon/ship.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/code/fax_name.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/mod_defines.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1505 runtime: Исправления в ветках технологий #1501
  mod_celadon/celadon_modsuits/code/modsuit_nodes.dm
  mod_celadon/silicon/code/meka/rnd.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1512 fix: Микрофикс, лишний инклюд
  mod_celadon/mod_celadon.dme
Labels: 🔵 Требуется проверка

#1516 fix vespa
  _maps/_mod_celadon/shuttles/subshuttles/solfed_vespa.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1513 Выводим в Временный щитспавн шипы с тэгом
  _maps/_mod_celadon/configs/independent_caravan.json
  _maps/_mod_celadon/configs/independent_lagoon.json
  _maps/_mod_celadon/configs/independent_nemo.json
  _maps/_mod_celadon/configs/independent_shetland.json
  _maps/_mod_celadon/configs/inteq_caliban.json
  _maps/_mod_celadon/configs/inteq_hammerhead.json
  _maps/_mod_celadon/configs/inteq_talos.json
  _maps/_mod_celadon/configs/nanotrasen_celestis.json
  _maps/_mod_celadon/configs/nanotrasen_savior.json
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1517 Фикс пепельниц
  mod_celadon/items/code/ashtray.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1518 Перекур продолжается, фикс фикса
  mod_celadon/items/code/ashtray.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1519 Returns celestis, adds the sm
  _maps/_mod_celadon/configs/nanotrasen_celestis.json
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_celestis.dmm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/machines.dm
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1515 runtime: Правка фракций в supply_packах и карго-консолях
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/console.dm
  mod_celadon/outpost_console/code/supply_pack.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1522 Важная правка в формулировке
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1524 RE-BALANCE: Барикады 2.0
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
  mod_celadon/structures/code/obj/barricades.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1528 runtime: Чинит отправку сообщений в чат от Ириски
  mod_celadon/mobs/code/iriska.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1529 runtime: Правки рантаймов для кода сабшаттлов #1525 #1527
  code/modules/overmap/helm.dm
  code/modules/overmap/ships/ship_datum.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1532 Timer changes
  mod_celadon/fancy_deletion_timer/code/fancy_deletion_timer.dm
  mod_celadon/fancy_deletion_timer/code/meteorcarp.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1533 REVERT CONTENT: Отмена PR на аугментацию частей ИПС
  code/datums/components/crafting/recipes/misc.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/damage_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_helpers.dm
  code/modules/power/cable.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/surgery/bodyparts/bodyparts.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/ipc_bodyparts.dm
  code/modules/surgery/mechanical.dm
  mod_celadon/ipc_surgery/_ipc_surgery.dm
  mod_celadon/revert_content/README.md
  mod_celadon/revert_content/_revert_content.dm
  mod_celadon/revert_content/_revert_content.dme
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, ✂ Вырезано ✂, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1534 TRANSLATE: Перевод строки
  mod_celadon/README.md
Labels: 🧻 Документация 🧻, 🔵 Требуется проверка

#1535 tweak: Убрал предупреждения, явно указав типы
  code/modules/overmap/ships/ship_datum.dm
  mod_celadon/lifeline_minus/code/lifeline.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1521 Новая крупная руинка.
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1531 Teardrop return
  _maps/_mod_celadon/configs/nanotrasen_teardrop.json
  _maps/_mod_celadon/configs/solfed_teardrop.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  mod_celadon/_storge_icons/icons/clothing/obj/cloak_nt.dmi
  mod_celadon/_storge_icons/icons/clothing/overlay/cloak_nt.dmi
  mod_celadon/items/code/cloaks.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1541 Фикс хим мешка
  code/game/objects/items/storage/bags.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1543 Починка доступов и микрофиксы корабликов
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1544 Fix/fax name include
  mod_celadon/fixes/_fixes.dme
Labels: 🔵 Требуется проверка

#1537 Фикс тирдропа
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1538 Deletion Timer upon Death
  code/modules/mob/living/death.dm
  mod_celadon/items/_items.dme
  mod_celadon/items/code/plushes.dm
Labels: ❗ PR НЕ МЁРЖИТЬ ❗, 🧱 Код 🧱, 🔵 Требуется проверка, Требует тестирования, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1539 squab fix lol
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1542 Массовое изменение шипов после подкаста
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gec_lugol.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1549 fix ships
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executer.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hammerhead.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_litieguai.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_panacea.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1550 GLIMPSE-Project Survey Probe
  _maps/_mod_celadon/configs/solfed_glimpse.json
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1546 feat: Исключены оффовские товары из карго-консолей
  mod_celadon/outpost_console/code/console.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1554 Множественные изменения: Вырезка некоторых руин и остальное по мелочи
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_ashwalker_shrine.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_random_ripley.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_sloth.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_homa.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_iron_maiden.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_kondor.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
  mod_celadon/maps/code/ruins/ruin.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1556 Фикс пути наушника
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1561 Чинит доступы капитанов СФ
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1558 RE-BALANCE: Обновляем снова барикады до v2.2
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/recipes/recipes_metal.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/outpost_console/code/supply_pack/independent/material.dm
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
  mod_celadon/structures/code/obj/barricades.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1565 REFACTOR: Чистка лишних строк
  .github/PULL_REQUEST_TEMPLATE.md
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1562 Bugfixes and shit
  code/modules/cargo/blackmarket/blackmarket_item.dm
  code/modules/mining/drill.dm
  code/modules/mining/equipment/wormhole_jaunter.dm
  code/modules/mining/ore_veins.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/prefab_stacks/premade_pistol_stacks.dm
  code/modules/shuttle/on_move.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/code/gun.dm
  mod_celadon/economy/_economy.dme
  mod_celadon/economy/code/blackmarket/blackmarket_item.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/ammo.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/clothing.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/consumables.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/emergency.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/explosives.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/misc.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/tech.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/tools.dm
  mod_celadon/economy/code/blackmarket/blackmarket_items/weapons.dm
  mod_celadon/economy/code/blackmarket/blackmarket_market.dm
  mod_celadon/economy/code/blackmarket/blackmarket_telepad.dm
  mod_celadon/economy/code/blackmarket/blackmarket_uplink.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1563 feat: Добавил возможность положить деньги в вендоматы
  code/modules/vending/_vending.dm
  mod_celadon/fixes/code/vending.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/vending_cash/README.md
  mod_celadon/vending_cash/_vending_cash.dm
  mod_celadon/vending_cash/_vending_cash.dme
  mod_celadon/vending_cash/code/vending_cash.dm
  tgui/packages/tgui/interfaces/VendingCeladon/VendingSections.js
  tgui/packages/tgui/interfaces/VendingCeladon/index.tsx
  tgui/packages/tgui/interfaces/VendingCeladon/types.ts
Labels: 💬 TGUI, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1564 VI helmet
  mod_celadon/_storge_icons/icons/nanotrasen/clothing/mob/head.dmi
  mod_celadon/_storge_icons/icons/nanotrasen/clothing/obj/head.dmi
  mod_celadon/outfit/code/nanotrasen/nt_other_stuff.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1567 Berets are back
  mod_celadon/balance/code/items.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1570 Roundstart elysm
  mod_celadon/outfit/code/elysium/outfit_ship/elysium.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1571 Beetl and Crying sun update
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1566 InteQ Update. Now is OP
  _maps/_mod_celadon/configs/inteq_executioner.json
  _maps/_mod_celadon/configs/inteq_hound.json
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_hound.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_valor.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_vaquero.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1552 Починка тайла смерти на Цветочке
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1572 Фикс Обзерваторки
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_observatory.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1577 Solfed sprite fixes
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/belt.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/head.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/spacesuits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/suits.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/mob/uniforms.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/head.dmi
  mod_celadon/_storge_icons/icons/solfed/clothing/obj/uniforms.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1559 RE-BALANCE MAPS: Развесовка руин
  mod_celadon/maps/code/random_ruins.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка, 🏗 Refectoring 🏗

#1574 Add new ruin "Last Templar"
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/areas/code/ruin.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1560 feat: Добавил предметов в мод-пак консолей карго #1553
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/independent/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/independent/food.dm
  mod_celadon/outpost_console/code/supply_pack/independent/gun.dm
  mod_celadon/outpost_console/code/supply_pack/independent/machinery.dm
  mod_celadon/outpost_console/code/supply_pack/independent/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/independent/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1583 FIX: взрывная волна синдидроппода
  mod_celadon/outpost_console/code/console.dm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка

#1579 ADD: New negative quirk - Muteness
  mod_celadon/quirks/_quirks.dme
  mod_celadon/quirks/code/negative.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка
