Repository CeladonSS13/Shiptest, pull requests merged in 2025-10, with the labels that each got.

#2321 MAP: Заменяет флаги на фракционные на корабликах
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_delta.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_heron.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skipper.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Маппинг 🗺, 🚀 Корабли 🚀

#2301 MAP: Fix winter outpost
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Маппинг 🗺, ! TM !

#2291 TWEAK: Взаимодействие с рациями в положении лёжа
  code/game/objects/items/devices/radio/radio.dm
  code/modules/tgui/states/portable_device.dm
  mod_celadon/qol/README.md
  mod_celadon/states_documentation/portable_device_state/EXAMPLES.md
  mod_celadon/states_documentation/portable_device_state/README.md
  mod_celadon/states_documentation/portable_device_state/TECHNICAL_DETAILS.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2315 FIX: Клан паука снова в деле
  code/modules/ninja/energy_katana.dm
  code/modules/ninja/suit/suit.dm
  code/modules/ninja/suit/suit_attackby.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/antagonists/space_ninja.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2190 MAP: New Syndicate Research ship
  _maps/_mod_celadon/configs/syndicate_pangolier.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_pangolier.dmm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
Labels: 🗺 Маппинг 🗺, 🧱 Код 🧱, 🚀 Корабли 🚀

#2220 MAP: Выводим Хроникл из щитспавна
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/shuttles/solfed/solfed_chronicle.dmm
Labels: 🗺 Маппинг 🗺, 🚀 Корабли 🚀

#2293 FIX: Перегрузки - Цикличный звук перегрузки
  mod_celadon/overload/code/overload.dm
Labels: 🧱 Код 🧱, ! TM !

#2320 MAP: Чиним аванпосты после кучи правок
  _maps/_mod_celadon/map_files/centcomm_ship.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  code/game/objects/structures/plasticflaps.dm
Labels: 🗺 Маппинг 🗺, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2292 FIX: Ranged Analyzer - Не корректно сканировал с расстояния
  mod_celadon/items/code/tools.dm
Labels: 🧱 Код 🧱

#2364 MAP: Замена сек-ньюкастерво на обычные
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_budgetcuts.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/shuttles/independent/independent_caravan.dmm
  _maps/_mod_celadon/shuttles/independent/independent_riggs.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_colossus.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_talos.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_rondo.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_inkwell.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_pangolier.dmm
Labels: 🗺 Маппинг 🗺, 🚀 Корабли 🚀, 🏔 Руинки 🏔
