Repository CeladonSS13/Shiptest, pull requests merged in 2025-04, with the labels that each got.

#1661 ADD: Акцент воксам
  code/modules/surgery/organs/tongue.dm
  mod_celadon/accents_add/README.md
  mod_celadon/accents_add/_accents_add.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1660 RETURN: Возвращаем боевой костюм горничной
  mod_celadon/_storge_icons/icons/clothing/obj/accessories.dmi
  mod_celadon/_storge_icons/icons/clothing/obj/gloves.dmi
  mod_celadon/_storge_icons/icons/clothing/obj/under.dmi
  mod_celadon/_storge_icons/icons/clothing/overlay/accessories.dmi
  mod_celadon/_storge_icons/icons/clothing/overlay/hands.dmi
  mod_celadon/_storge_icons/icons/clothing/overlay/under.dmi
  mod_celadon/items/_items.dme
  mod_celadon/items/code/accessories.dm
  mod_celadon/items/code/boxes.dm
  mod_celadon/items/code/gloves.dm
  mod_celadon/items/code/head.dm
  mod_celadon/items/code/under.dm
Labels: ❗ PR НЕ МЁРЖИТЬ ❗, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1659 RE-BALANCE: Экономика часть 3
  mod_celadon/economy/_economy.dme
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/economy/code/missions/research_mission.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1664 Дочиниваем пути карт
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/abandoned_remora.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_wrecker_outpost.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_fun_maze.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_pizzaparty.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
  _maps/_mod_celadon/map_files/generic/runtime_check_map.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_mimos.dmm
  _maps/_mod_celadon/shuttles/independent/independent_skipjack.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_ember.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_elegia.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_komodo.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kaas.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1663 ADD: Добавление плюшек и зон карго
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/_storge_icons/icons/areas.dmi
  mod_celadon/_storge_icons/icons/items/plushes.dmi
  mod_celadon/_storge_icons/icons/items/toys.dmi
  mod_celadon/areas/code/outpost.dm
  mod_celadon/items/code/plushes.dm
  mod_celadon/items/code/toys.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/structures/code/spawner.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1665 MAP FIXES: Починка карт и миссий
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/abandoned_remora.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_wrecker_outpost.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_bunkers.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_engineer.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_fishing_hut.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_pirate_crash.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_treasure_cove.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_crashed_holemaker.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_ice_lodge.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_abandoned_village.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_paradise.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_abandonedlisteningpost.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_crashed_starwalker.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_buried_shrine.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_distillery.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_mining_installation.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_nomadcrash.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_shippingdock.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_brazillianlab.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_cave_base.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_e11_manufactory.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/power_puzzle.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_abandoned_mechbay.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_icwbase.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_lab.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_tradepost.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_yard.dmm
  _maps/_mod_celadon/map_files/generic/runtime_check_map.dmm
  _maps/_mod_celadon/shuttles/independent/independent_bubble.dmm
  _maps/_mod_celadon/shuttles/independent/independent_ramo.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_meta.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_libertatia.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_santiana.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_luxembourg.dmm
  code/__DEFINES/~mod_celadon/map.dm
  mod_celadon/_storge_icons/icons/areas.dmi
  mod_celadon/areas/code/ruin.dm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/_path_ruins.dm
  mod_celadon/maps/code/dynamic_mission/drill.dm
  mod_celadon/maps/code/dynamic_mission/kill.dm
  mod_celadon/maps/code/dynamic_mission/mission.dm
  mod_celadon/maps/code/dynamic_mission/multiple.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1667 ADD: Добавление отсутствующих спрайтов зон
  mod_celadon/_storge_icons/icons/areas.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1669 UPDATE: Обновляемся до последней версии офов #7
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/configs/syndicate_mercury.json
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/syndicate/syndicate_mercury.dmm
  code/game/objects/effects/effect_system/effects_smoke.dm
  code/game/objects/items/storage/filled_guncases.dm
  code/game/objects/items/toy_mechs.dm
  code/modules/cargo/packs/gun.dm
  code/modules/cargo/packs/magazines.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/mob/living/simple_animal/hostile/human/syndicate.dm
  code/modules/projectiles/guns/manufacturer/clip_lanchester/ballistics.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/recipes/pyrotechnics.dm
  icons/obj/ammunition/ammo.dmi
  icons/obj/guns/manufacturer/inteq/48x32.dmi
  icons/obj/guns/manufacturer/inteq/lefthand.dmi
  icons/obj/guns/manufacturer/inteq/onmob.dmi
  icons/obj/guns/manufacturer/inteq/righthand.dmi
  icons/obj/toy.dmi
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1670 DELETE: Таймер смерти трупов
  code/modules/mob/living/death.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🛑= REVERT =🛑, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1671 HOT-FIX: Удаление заглушки
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🔥HOT-FIX 🔥

#1673 InteQ Cargo Update & A little fixes
  mod_celadon/items/code/guncase.dm
  mod_celadon/maps/code/dynamic_mission/drill.dm
  mod_celadon/outpost_console/README.md
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/gun.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/spacesuit_armor.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1675 Fix Names & Add Magazines for HorizonX
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/magazines.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1674 Cargo Exosuit Construction Update
  mod_celadon/outpost_console/README.md
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/independent/exosuit_construction.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/exosuit_construction.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/exosuit_construction.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/exosuit_construction.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/exosuit_construction.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1676 Cargo Solfed Update & Fix dug grass
  mod_celadon/items/code/guncase.dm
  mod_celadon/maps/code/mapgen/SandGenerator.dm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/inteq/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/civilian_decoration.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/costumes_toys.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/food.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/gun.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/security_supplies.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/spacesuit_armor.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/revolver.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1672 RETURN: Миссии на мины
  code/datums/mapgen/planetary/LavaGenerator.dm
  code/datums/mapgen/planetary/RockGenerator.dm
  code/datums/mapgen/planetary/SnowGenerator.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  mod_celadon/_storge_icons/icons/obj/landmine.dmi
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/return_content_spawn/README.md
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔥 Баланс ❄, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1678 FIXES: Трубы атмоса и слабое зло
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#1686 Nanotrasen Cargo Update
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/medical.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/armor.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/gun.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/spacesuit.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/spacesuit_armor.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1684 Syndicate Cargo Update
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/_outpost_console.dme
  mod_celadon/outpost_console/code/supply_pack/syndicate/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/armor.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/gun.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/gun_attachments.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/medical.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/spacesuit_armor.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/spacesuits.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1687 ADD: Plushes Vending
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/_storge_icons/icons/items/plushes.dmi
  mod_celadon/_storge_icons/icons/obj/machinery/vending_plushes.dmi
  mod_celadon/items/code/plushes.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/plushes_vending/README.md
  mod_celadon/plushes_vending/_plushes_vending.dm
  mod_celadon/plushes_vending/_plushes_vending.dme
  mod_celadon/plushes_vending/code/plushes_vending.dm
Labels: 🩳QoL, 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1679 Resprite CM-82 for SolFed and fix Pistol-C
  _maps/_mod_celadon/shuttles/solfed/solfed_saber.dmm
  mod_celadon/_storge_icons/icons/guns/48x32guns.dmi
  mod_celadon/_storge_icons/icons/guns/back.dmi
  mod_celadon/_storge_icons/icons/guns/guns_lefthand.dmi
  mod_celadon/_storge_icons/icons/guns/guns_righthand.dmi
  mod_celadon/_storge_icons/icons/guns/pistols.dmi
  mod_celadon/items/code/guncase.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/gun.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/magazines.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/assault.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/pistol.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1693 FIXES: Изменяем фракцию СолГов на СолФед и правим ошибки
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_underground_brazillianlab.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/_mod_celadon/configs/solfed_anomaly.json
  _maps/_mod_celadon/configs/solfed_cepheus.json
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_firetail.json
  _maps/_mod_celadon/configs/solfed_fist_of_freedom.json
  _maps/_mod_celadon/configs/solfed_glimpse.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  _maps/_mod_celadon/configs/solfed_saber.json
  _maps/_mod_celadon/configs/solfed_tomahawk.json
  _maps/_mod_celadon/configs/syndicate_cybersun_kansatsu.json
  _maps/_mod_celadon/ship_config_schema.json
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  code/__DEFINES/~mod_celadon/names.dm
  code/modules/clothing/outfits/standard.dm
  mod_celadon/_components/README.md
  mod_celadon/access/README.md
  mod_celadon/faction/code/faction.dm
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/_translate_eng.dm
  mod_celadon/large_doors/code/large_doors.dm
  mod_celadon/outfit/code/elysium/outfits.dm
  mod_celadon/outfit/code/nanotrasen/nt_outfit.dm
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/civilian_decoration.dm
  mod_celadon/rnd/code/designs/designs.dm
  mod_celadon/turrets/code/turrets.dm
  strings/ship_names.json
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1689 FIXES: Чиним кривой плазмагигант
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/hostile/_mob_spawner.dm
  mod_celadon/mobs/code/hostile/plasma_legion.dm
  mod_celadon/return_content_spawn/code/necropolis_tendril.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗

#1698 FIXES: Плазмагигант
  code/modules/overmap/planets/planet_types.dm
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/areas/code/overmap_encounter.dm
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/mapgen/PlasmaGenerator.dm
  mod_celadon/maps/code/mapgen/night/BeachGenerator.dm
  mod_celadon/maps/code/mapgen/night/JungleGenerator.dm
  mod_celadon/maps/code/mapgen/night/RockGenerator.dm
  mod_celadon/maps/code/mapgen/night/SnowGenerator.dm
  mod_celadon/maps/code/planet_types.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🏗 Refectoring 🏗, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1696 FIXES: Стыковка и расположение шипов\руин
  code/controllers/subsystem/overmap.dm
Labels: 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1697 HOT-FIXES: Hot fix dynamic mission
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/scrapstation.dmm
  _maps/configs/independent_bubble.json
  _maps/shuttles/independent/independent_bubble.dmm
  code/modules/missions/landmark.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, ✂ Вырезано ✂, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔, 🔥HOT-FIX 🔥

#1701 HOT-FIX: Чиним токены на овермапе
  code/modules/overmap/objects/event_datum.dm
  code/modules/overmap/objects/star.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔥HOT-FIX 🔥

#1703 QOL Gauss Rifle | HotFix.. Duplicate Include
  code/modules/projectiles/guns/powered.dm
  mod_celadon/mod_celadon.dme
  mod_celadon/weapons/code/gun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1707 FIXES: Починка ICE аванпоста после обновы с офами
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#1708 FIX: Ocean Town bug windows
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_ocean_town.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1709 REPLACE: Заменен магазин на руине песков
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_camp_combination.dmm
Labels: 🚧 Фикс багов 🚧, 🩳QoL, 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1719 FIX: Зоны ЦК шипа, фикс ледяного аванпоста
  _maps/_mod_celadon/map_files/centcomm_ship.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🔵 Требуется проверка

#1714 HOT-FIX: Исправлена неточность контракта
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка, 🏔 Руинки 🏔, 🔥HOT-FIX 🔥

#1713 UPDATE: Debug outfit
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/standard.dm
Labels: 🩳QoL, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1711 REVERT: Фуел танки, сканеры минералов, спавн руин
  code/controllers/subsystem/overmap.dm
  code/datums/mapgen/planetary/WasteGenerator.dm
  code/modules/mining/equipment/mineral_scanner.dm
  mod_celadon/balance/code/hostile_mobs.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🛑= REVERT =🛑, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1723 UPDATE: CODEOWNERS
  .github/CODEOWNERS
Labels: 🏭 Github 🏭, 🔵 Требуется проверка

#1721 RETURN CONTENT: Greating chasm
  code/game/turfs/open/chasm.dm
  mod_celadon/return_content_spawn/README.md
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🛑= REVERT =🛑, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1710 Fix: wrecker outpost & provinggrounds
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/asteroid_wrecker_outpost.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/provinggrounds.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1724 HOT-FIX: Переименованный прок
  mod_celadon/weapons/code/modules/projectiles/guns/energy/projectile_plasma.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🔥HOT-FIX 🔥

#1715 FIX: Combat and improvised shotgun
  mod_celadon/mod_celadon.dme
  mod_celadon/return_combat_shotgun/README.md
  mod_celadon/return_combat_shotgun/_return_combat_shotgun.dm
  mod_celadon/return_combat_shotgun/_return_combat_shotgun.dme
  mod_celadon/return_combat_shotgun/code/shotgun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1727 [FIX Runtime] Чиним оутфиты солфедов
  _maps/_mod_celadon/configs/solfed_cepheus.json
  _maps/_mod_celadon/configs/solfed_chronicle.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
  _maps/_mod_celadon/configs/solfed_paracelsus.json
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1728 [Fix Runtime] Rounnie gets nerfed
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  code/game/turfs/open/lava.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, Runtime, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1729 [Fix Runtime] Фикс критичной ошибки
  mod_celadon/outfit/code/solfed/solfed_outfit.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, Runtime

#1730 [Fix Runtime] Fix Runtimes & Fix Bugs
  code/__DEFINES/~mod_celadon/names.dm
  code/controllers/subsystem/overmap.dm
  code/modules/overmap/objects/outpost/outpost.dm
  mod_celadon/celadon_modsuits/code/mechfabricator_designs.dm
  mod_celadon/celadon_modsuits/code/modsuit_nodes.dm
  mod_celadon/faction/code/faction.dm
  mod_celadon/outfit/code/independent/outfit_ship/independent.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, Runtime, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1720 UPDATE: Обновляемся до последней версии офов #12 + Обновление ТГУИ, Yarn
  tgui/.yarn/sdks/eslint/package.json
  tgui/.yarn/sdks/prettier/package.json
  tgui/.yarn/sdks/typescript/package.json
  tgui/packages/common/package.json
  tgui/packages/tgfont/package.json
  tgui/packages/tgui-dev-server/package.json
  tgui/packages/tgui-polyfill/package.json
  tgui/yarn.lock
  tools/autowiki/package-lock.json
  tools/autowiki/package.json
  tools/screenshot-test-comparison/package-lock.json
  tools/screenshot-test-comparison/package.json
Labels: 🚧 Фикс багов 🚧, 💬 TGUI, ❗ PR НЕ МЁРЖИТЬ ❗, 🏭 Github 🏭, 🔆 Обновление 🔆, ☠Слияние с ОФАМИ☠, 🔵 Требуется проверка

#1718 UPDATE-SPRITES: Плазмакатер, ивенты овермапы
  mod_celadon/_storge_icons/icons/obj/cutter/cutter.dmi
  mod_celadon/_storge_icons/icons/obj/cutter/guns_lefthand.dmi
  mod_celadon/_storge_icons/icons/obj/cutter/guns_righthand.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap_larger.dmi
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/cutter.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1732 Pirate announce fix
  code/modules/overmap/objects/outpost/outpost.dm
  code/modules/overmap/ships/controlled_ship_datum.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1738 HOT-FIX: Удаляем убитый путь офами
  mod_celadon/return_content_spawn/code/hivebot.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🔥HOT-FIX 🔥

#1741 FIX: Фикс минерал сканера
  code/modules/mining/equipment/mineral_scanner.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1742 FIXES: Чиним миссии на иследование космоса
  code/modules/missions/outpost/research_mission.dm
  mod_celadon/economy/_economy.dme
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, ✂ Вырезано ✂, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1743 TURN-OFF: Цены миссий космоса
  mod_celadon/economy/_economy.dme
  mod_celadon/economy/code/missions/_mission.dm
  mod_celadon/economy/code/missions/acquire_mission.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1739 TWEAK: Гильзы у комбат-дробовика и глушитель более не влияет на размер
  mod_celadon/return_combat_shotgun/README.md
  mod_celadon/return_combat_shotgun/_return_combat_shotgun.dm
  mod_celadon/return_combat_shotgun/_return_combat_shotgun.dme
  mod_celadon/return_combat_shotgun/code/shotgun.dm
  mod_celadon/return_combat_shotgun/code/silencer.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1740 UPDATE TO UPSTREAM #14
  _maps/configs/independent_atira.json
  _maps/configs/syndicate_hardliners_leyak.json
  _maps/shuttles/independent/independent_atira.dmm
  _maps/shuttles/inteq/inteq_talos.dmm
  _maps/shuttles/syndicate/syndicate_hardliners_leyak.dmm
  _maps/shuttles/syndicate/syndicate_ngr_derecho.dmm
  code/__HELPERS/virtual_z_level.dm
  code/datums/mapgen/greeble.dm
  code/datums/ruins/beachplanet.dm
  code/datums/ruins/rockplanet.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/shuttle/shuttle_engine_types.dm
  code/game/objects/items/storage/ammo_can.dm
  code/game/turfs/open/floor/plating/jungle.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/clothing/outfits/factions/syndicate.dm
  code/modules/food_and_drinks/food/snacks_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  code/modules/projectiles/guns/manufacturer/scarborough/ballistics.dm
Labels: 🚧 Фикс багов 🚧, 🗺 Мапинг, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1746 Hot-fix: Проблемы с запуском
  mod_celadon/economy/code/missions/acquire_mission.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🔥HOT-FIX 🔥
