Repository CeladonSS13/Shiptest, pull requests merged in 2025-06, with the labels that each got.

#1816 Add Donate Reward System
  code/__DEFINES/~mod_celadon/donate.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences_savefile.dm
  code/modules/client/verbs/ooc.dm
  config/donators.txt
  mod_celadon/_components/README.md
  mod_celadon/_components/__components.dme
  mod_celadon/_components/code/donate.dm
  mod_celadon/_storge_icons/icons/assets/vip/ghost.dmi
  mod_celadon/_storge_icons/icons/assets/vip/ooc_icon.png
  mod_celadon/mod_defines.dme
Labels: 💸$$$💸, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔮 Конфиги 🔮, 🏆 Отличная работа! 🏆, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1812 BALANCE: Rework Bullet 7,62x51 -> 308
  _maps/_mod_celadon/map_files/runtime_check_map.dmm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  mod_celadon/_storge_icons/icons/items/weapons/ammo/ammo_boxes.dmi
  mod_celadon/fixes/code/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/independent/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
  mod_celadon/resprite/README.md
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/ammo box.dm
  mod_celadon/weapons/code/modules/projectiles/ammunition/ballistic/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  mod_celadon/weapons/code/modules/projectiles/projectile/bullets/rifle.dm
  mod_celadon/weapons/code/modules/research/all_nodes.dm
Labels: 🗺 Мапинг, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1818 ADD: Chest rig in cargo
  mod_celadon/outpost_console/code/supply_pack/independent/tools.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1764 Вытаскиваем савиор с щитспавна
  _maps/_mod_celadon/configs/nanotrasen_savior.json
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_savior.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1820 Добавление лисы на руину просьба хед мапа
  _maps/RandomRuins/LavaRuins/lavaland_surface_wrecked_factory.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1825 FIX: Замена факса на Файртейле.
  _maps/_mod_celadon/shuttles/solfed/solfed_firetail.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1819 FIX: QoL Plasmamen (2): breathe with a balloon in their pocket
  code/modules/clothing/outfits/standard.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1824 FIX & ADD: Обновление кошки Альты
  mod_celadon/_storge_icons/icons/mobs/pet_content/pets_head.dmi
  mod_celadon/mobs/code/pets/alta.dm
Labels: 🚧 Фикс багов 🚧, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔆 Обновление 🔆, 🔵 Требуется проверка

#1817 Add: Lima Facility
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/lima_facility.dmm
  _maps/_mod_celadon/map_catalogue.txt
  mod_celadon/areas/code/ruin.dm
  mod_celadon/maps/code/ruins/ruin.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🏔 Руинки 🏔

#1822 TWEAK: Снижаем кол-во миссий в консоле за раз.
  code/modules/missions/dynamic/kill.dm
  code/modules/missions/dynamic/missions.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1834 FIX: DISPLAY GUN CELL CHARGE
  code/modules/power/cell.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1828 FIX: Update IPC augment sprite
  mod_celadon/_storge_icons/icons/species/ipc/bodyparts.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1839 FIX: fixing some ships
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
  _maps/_mod_celadon/shuttles/subshuttles/elysium_felon.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1845 TWEAK: Твинкл в щитспавн
  _maps/_mod_celadon/configs/syndicate_twinkleshine.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_twinkleshine.dmm
Labels: 🗺 Мапинг, 🚀 Корабли 🚀

#1836 ADD: Reskins - Montage revolver
  mod_celadon/_storge_icons/icons/items/weapons/in_hands/montagne_lefthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/in_hands/montagne_righthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/montagne.dmi
  mod_celadon/customization_vest/_customization_vest.dme
  mod_celadon/mod_celadon.dme
  mod_celadon/reskin_customization/README.md
  mod_celadon/reskin_customization/_reskin_customization.dm
  mod_celadon/reskin_customization/_reskin_customization.dme
  mod_celadon/reskin_customization/code/armor.dm
  mod_celadon/reskin_customization/code/revolver.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#1838 FIX: Newcaster - now see ID which wallet
  mod_celadon/fixes/code/newscaster.dm
Labels: 🧱 Код 🧱

#1844 ADD: Outpost - Ghost-roles add start capital-money
  mod_celadon/ghost_roles/code/outpost/outfits.dm
Labels: 🧱 Код 🧱

#1848 FIX: Overlay - Ammo stack correctly see mod sprite
  code/modules/projectiles/ammunition/_ammo_casing.dm
  code/modules/projectiles/boxes_magazines/ammo_stacks/_ammo_stack.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔵 Требуется проверка

#1841 TWEAK: Increase weapon durability
  mod_celadon/increase_weapon_durability/README.md
  mod_celadon/increase_weapon_durability/_increase_weapon_durability.dm
  mod_celadon/increase_weapon_durability/_increase_weapon_durability.dme
  mod_celadon/increase_weapon_durability/code/weapon_durability.dm
  mod_celadon/mod_celadon.dme
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1842 ADD: New UI - Tetramoon & Wayfaron
  code/_onclick/hud/hud.dm
  mod_celadon/_storge_icons/icons/assets/hud/screen_tetramon.dmi
  mod_celadon/_storge_icons/icons/assets/hud/screen_wayfaron.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🔵 Требуется проверка
