Repository CeladonSS13/Shiptest, pull requests merged in 2025-09, with the labels that each got.

#2109 Celadon FIX: AtmoZphere
  code/modules/admin/admin_verbs.dm
  code/modules/modular_computers/file_system/programs/atmosscan.dm
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/fit_viewport2.dm
  tgui/packages/tgui/interfaces/AdminVerbs.js
  tgui/packages/tgui/interfaces/NtosAtmos.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2088 MAP: Rename and fix Rondo
  _maps/_mod_celadon/configs/pirate_ramzi_rondo.json
  _maps/_mod_celadon/configs/pirate_rondo.json
  _maps/_mod_celadon/shuttles/pirate/pirate_rondo.dmm
  mod_celadon/outfit/code/pirate/ramzi.dm
Labels: 🗺 Мапинг 🗺, 🧱 Код 🧱, 🚀 Корабли 🚀

#2100 FIX: Непрозрачные стены EDGE
  mod_celadon/maps/code/turfs_planet.dm
Labels: 🔧 Фикс, 🧱 Код 🧱

#2101 FIX: Фикс бага на арбалеты и не только
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/gun_lying_fix.dm
Labels: 🔧 Фикс, 🧱 Код 🧱

#2104 FIX: Отображение амулета
  mod_celadon/items/code/accessories.dm
Labels: 🔧 Фикс, 🧱 Код 🧱

#2126 MAP: Коробка дисков для Flower
  _maps/_mod_celadon/shuttles/independent/independent_flower.dmm
Labels: 🗺 Мапинг 🗺, 🚀 Корабли 🚀

#2103 TWEAK: Замена не правильной коробки на Элдере
  _maps/_mod_celadon/shuttles/independent/independent_elder.dmm
Labels: 🌌 QoL, 🗺 Мапинг 🗺, 🚀 Корабли 🚀

#2106 FIXES: Мясные пиццы не вызывают ужас и могут быть помещены в коробки
  code/datums/components/food/edible.dm
  code/modules/food_and_drinks/pizzabox.dm
  mod_celadon/fixes/README.md
Labels: 🔧 Фикс, 🌌 QoL, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2095 MAP: Fix map 2
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_daggerfall.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_lightning.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_tomahawk.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_kau_delta.dmm
Labels: 🗺 Мапинг 🗺, 🚀 Корабли 🚀

#2134 FIX: Квирк VORACIUS снова работает
  code/datums/components/food/edible.dm
  mod_celadon/fixes/README.md
Labels: 🔧 Фикс, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2135 FIX: Автолат - Кнопки крафта стаков работают корректно
  code/game/machinery/autolathe.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2077 ADD & MAP: The great Caliban Returnal!
  _maps/_mod_celadon/configs/inteq_caliban.json
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  code/game/machinery/shuttle/turbine.dm
  code/game/objects/items/shields.dm
  code/modules/mod/modules/_module.dm
  code/modules/projectiles/gun.dm
  mod_celadon/_storge_icons/icons/items/misc/poster_inteq_caliban.dmi
  mod_celadon/_storge_icons/icons/items/weapons/eshield.dmi
  mod_celadon/_storge_icons/icons/items/weapons/eshield_lefthand.dmi
  mod_celadon/_storge_icons/icons/items/weapons/eshield_righthand.dmi
  mod_celadon/_storge_icons/icons/machinery/caliban_rail.dmi
  mod_celadon/inteq_vendor/code/degraded.dm
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
  mod_celadon/inteq_vendor/code/inteq_vendor.dm
  mod_celadon/inteq_vendor/code/railgun.dm
  mod_celadon/inteq_vendor/inteq_vendor.dme
Labels: 🗺 Мапинг 🗺, 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#2152 [FIX] Исправляем ошибки на Wiki
  _maps/_mod_celadon/configs/independent_halftrack.json
  _maps/_mod_celadon/configs/independent_pillbottle.json
  _maps/_mod_celadon/configs/solfed_inkwell.json
Labels: 🔧 Фикс

#1996 ADD: Инструменты - Респраты, Новые Омни Инструменты, и правки Дебаг-Аутфита
  code/game/objects/items/RCD.dm
  code/game/objects/items/RPD.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/medical.dm
  mod_celadon/_components/code/_outfits.dm
  mod_celadon/_storge_icons/icons/items/misc/in_hands/tools_lefthand.dmi
  mod_celadon/_storge_icons/icons/items/misc/in_hands/tools_righthand.dmi
  mod_celadon/_storge_icons/icons/items/misc/tools.dmi
  mod_celadon/items/README.md
  mod_celadon/items/code/tools.dm
  mod_celadon/resprite/README.md
Labels: ❗ PR НЕ МЁРЖИТЬ ❗, 🎨 Спрайты 🎨, 🧱 Код 🧱, ! TEST-MERGE !, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2180 HOTFIX: Хотфикс после резила - система выбора корабля
  code/modules/overmap/ships/ship_application.dm
  mod_celadon/ship_selection_rework/_ship_selection_rework.dme
  mod_celadon/ship_selection_rework/code/_character_validation_common.dm
  mod_celadon/ship_selection_rework/code/_ui_update_system.dm
  mod_celadon/ship_selection_rework/code/character_change_tracker.dm
  mod_celadon/ship_selection_rework/code/ship_application_enhanced.dm
  mod_celadon/ship_selection_rework/code/ship_select_enhanced.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: 💬 TGUI, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2191 Хотфикс
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui/index.tsx
  tgui/packages/tgui/styles/themes/elysium.scss
  tgui/packages/tgui/styles/themes/pirates.scss
Labels: 💬 TGUI

#2194 516 фикс после фетча
  code/modules/clothing/outfits/factions/independent.dm
  code/modules/mob/dead/new_player/ship_select.dm
  code/modules/overmap/ships/ship_application.dm
  mod_celadon/_components/code/_outfits.dm
  mod_celadon/ship_selection_rework/_ship_selection_rework.dme
  mod_celadon/ship_selection_rework/code/_character_validation_common.dm
  mod_celadon/ship_selection_rework/code/character_change_tracker.dm
  mod_celadon/ship_selection_rework/code/faction_info_enhanced.dm
  mod_celadon/ship_selection_rework/code/ship_application_enhanced.dm
  mod_celadon/ship_selection_rework/code/ship_owner_enhanced.dm
  mod_celadon/ship_selection_rework/code/ship_select_enhanced.dm
  tgui/packages/tgui/interfaces/Application.js
  tgui/packages/tgui/interfaces/EmotePanel.js
  tgui/packages/tgui/interfaces/FactionButtons.js
  tgui/packages/tgui/interfaces/FactionInfo.scss
  tgui/packages/tgui/interfaces/FactionInfo.tsx
  tgui/packages/tgui/interfaces/ShipBrowser.js
  tgui/packages/tgui/interfaces/ShipOwnerEnhanced.tsx
  tgui/packages/tgui/interfaces/ShipSelect.jsx
Labels: 💬 TGUI, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2195 ADD: Новые указатели для аванпоста, часть 1
  mod_celadon/_storge_icons/icons/structures/obj/directions.dmi
  mod_celadon/_storge_icons/icons/structures/obj/signs.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/signs.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#2196 ADD: Торговый автомат одежды НТ и Админов для аванпостов, часть 2
  mod_celadon/_storge_icons/icons/machinery/vending.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/vending.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#2201 ADD: Новая атрибутика и одежда для Элизиума для аванпостов, часть 6
  code/modules/vending/clothesmate.dm
  mod_celadon/_storge_icons/icons/items/misc/bureaucracy.dmi
  mod_celadon/ghost_roles/code/outpost/outfits.dm
  mod_celadon/outfit/_outfit.dme
  mod_celadon/outfit/code/elysium/clothing/armor.dm
  mod_celadon/outfit/code/elysium/clothing/belt.dm
  mod_celadon/outfit/code/elysium/clothing/clothing.dm
  mod_celadon/outfit/code/elysium/clothing/head.dm
  mod_celadon/outfit/code/elysium/clothing/shoes.dm
  mod_celadon/outfit/code/elysium/clothing/suits.dm
  mod_celadon/outfit/code/elysium/clothing/under.dm
  mod_celadon/outfit/code/elysium/items.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2198 ADD: Диван в стиле Элизиума, зеленый для аванпостов, часть 4
  mod_celadon/_storge_icons/icons/structures/obj/sofa.dmi
  mod_celadon/structures/_structures.dme
  mod_celadon/structures/code/obj/sofa.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#2203 FIX: Коробки с кольцами
  mod_celadon/items/code/rings.dm
Labels: 🧱 Код 🧱

#2207 ADD: Морг с трупом для аванпостов, часть 10
  mod_celadon/effects/_effects.dme
  mod_celadon/effects/code/morgue.dm
Labels: 🧱 Код 🧱

#2202 ADD: Стороны света для неоновых ламп для карт аванпостов, часть 7
  mod_celadon/neon_pack/code/light.dm
Labels: 🧱 Код 🧱

#2204 FIXES: Жукбокс и МУЗ-ТV
  code/controllers/subsystem/jukeboxes.dm
  mod_celadon/fixes/README.md
  mod_celadon/moniq/code/moniq.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2200 FIX: Шредер снова может резать
  mod_celadon/paperwork/code/papershredder.dm
Labels: 🧱 Код 🧱

#2208 UPDATE: Восполнение гост ролей
  code/game/machinery/cryopod.dm
  mod_celadon/ghost_roles/README.md
  mod_celadon/ghost_roles/_ghost_roles.dme
  mod_celadon/ghost_roles/code/outpost/drop_location.dm
  mod_celadon/ghost_roles/code/outpost/ghost_roles.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2115 ADD: Наша версия печи с камнями (сауна)
  code/game/objects/items/stacks/sheets/sheet_types.dm
  mod_celadon/sauna/MAN.md
  mod_celadon/sauna/code/sauna_oven.dm
Labels: 🔧 Фикс, 🌌 QoL, 🧻 Документация 🧻, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2206 ADD: Кучки грязи со снегом, клад для аванпоста зимнего, часть 9
  mod_celadon/effects/_effects.dme
  mod_celadon/effects/code/dirt_pile.dm
  mod_celadon/effects/code/spawners.dm
Labels: 🧱 Код 🧱

#2216 ADD: Новый тип порталов с рандомизацией
  mod_celadon/effects/_effects.dme
  mod_celadon/effects/code/random_portal.dm
Labels: 🧱 Код 🧱

#2217 ADD: Рандомный спавнер алкогольных реагентов для баров
  mod_celadon/effects/code/spawners.dm
Labels: 🧱 Код 🧱

#2233 FIX: Способность выдыхать огонь у Сарати
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2215 REMOVE: Убирает вытаскивание карты на Альт-клик
  code/datums/components/storage/concrete/wallet.dm
  code/game/objects/items/storage/wallets.dm
  mod_celadon/qol/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2052 MAP: Обновляем два аванпоста
  _maps/_mod_celadon/map_files/centcomm_ship.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  _maps/_mod_celadon/outpost/elysium_space.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_asteroid_56x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_20x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_40x40.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x20.dmm
  _maps/_mod_celadon/outpost/hangar/elysium_ice_56x40.dmm
Labels: 🌌 QoL, 🗺 Мапинг 🗺, 🚧 Долгострой

#1957 ADD: Show Music Lobby
  code/controllers/subsystem/ticker.dm
  code/game/sound.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2238 FIX: Неверная тексту пола при взрыве плитки пола
  mod_celadon/fixes/code/turf.dm
Labels: 🧱 Код 🧱

#2235 FIX: Агр мобов на бур и выпиливание читерных цветков с Т3 буров
  code/modules/mining/ore_veins.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/faction.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2211 TWEAK: Улучшения по дебаг-аутфиту, сортировка и улучшения хранения в нем вещей
  code/game/objects/items/storage/boxes.dm
  mod_celadon/_components/code/_outfits.dm
  mod_celadon/qol/README.md
  mod_celadon/qol/_qol.dme
  mod_celadon/qol/code/BluespaceTechnician.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2239 FIX: Уровень желе у слаймоменов
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2116 FIX: Фиксим передачу предмета со стола и в руки
  code/datums/status_effects/neutral.dm
  code/modules/mob/living/carbon/inventory.dm
  mod_celadon/fixes/FIXES_OFFERING_EFFECTS.txt
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/status_effects.dm
Labels: 🔧 Фикс, 🧱 Код 🧱, 🏗 Refactoring, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2244 FIX: Операция лечение открытого перелома
  code/modules/surgery/bone_fractures.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2247 FIX: Вечный дозвон на голопад шипа
  code/game/machinery/hologram.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2245 FIX: Чиним улет иконок за границу контейнеров
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/ui.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2250 FIX: Моды энергощита и хамеллеона модсьютов
  code/modules/mod/modules/modules_antag.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2249 FIX: Объект миссии мог испариться
  code/modules/overmap/objects/dynamic_datum.dm
  mod_celadon/fixes/README.md
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1954 FIX: Поправлено бездействие тесла-штормов для кораблей стоящих в них с 0 скоростью
  mod_celadon/fixes/code/research_mission.dm
Labels: 🧱 Код 🧱

#2193 MAP: fix Jungle Grass
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/oretruck.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_ancient_ruin.dmm
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_ocean_town.dmm
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_citadel.dmm
  _maps/_mod_celadon/RandomRuins/EarthSandRuins/el_town.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_bombed_starport.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_nest.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/spacemall.dmm
  _maps/_mod_celadon/map_files/runtime_check_map.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
  mod_celadon/maps/code/mapgen/night/JungleGenerator.dm
  mod_celadon/maps/code/turfs_planet.dm
  mod_celadon/return_content_spawn/code/hivebot.dm
Labels: 🗺 Маппинг 🗺, 🧱 Код 🧱, 🏔 Руинки 🏔

#2229 ADD: Overload - Remove SHITCODE from YANDERO-DEV
  mod_celadon/overload/code/overload.dm
Labels: 🧱 Код 🧱

#2023 BALANCE: Щиты - Снижаем шансы на блокирования в лежачем положении
  code/game/objects/items/shields.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2225 FIX: Hivebot - Странное поведение, и игнорирование игрока
  mod_celadon/balance/code/hostile_mobs.dm
  mod_celadon/maps/code/mapgen/AnimaGeneration.dm
  mod_celadon/mobs/code/animamobs.dm
  mod_celadon/mobs/code/hostile/tele.dm
  mod_celadon/return_content_spawn/code/cave_entrance.dm
  mod_celadon/return_content_spawn/code/hivebot.dm
  mod_celadon/return_content_spawn/code/planetary_generator/waste.dm
  tools/UpdatePaths/Scripts/4875_hivebarts_celadon.txt
Labels: 🧱 Код 🧱, 🏭 Github 🏭

#2268 MAP-FIX: Починка карт от поломанных путей
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/onehalf.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_crash.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_unhonorable.dmm
  _maps/_mod_celadon/map_files/runtime_check_map.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Маппинг 🗺, 🏔 Руинки 🏔

#2279 MAP: Fix beluga
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
Labels: 🗺 Маппинг 🗺, 🚀 Корабли 🚀

#1977 ADD: Введение логирования манипуляций с деньгами
  code/__HELPERS/_logging.dm
  code/_globalvars/logging.dm
  code/game/world.dm
  code/modules/cargo/outpost_bounty_console.dm
  mod_celadon/_components/README.md
  mod_celadon/_components/__components.dm
  mod_celadon/outpost_console/code/console.dm
Labels: 🌌 QoL, 🧻 Документация 🧻, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓

#2271 TWEAK: Оранжевые очки теперь не прозрачные
  mod_celadon/_storage_icons/icons/items/clothing/eyes/overlay/eyes.dmi
  mod_celadon/resprite/code/clothing.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱

#2276 MAP: Minor Caliban Attunal
  _maps/_mod_celadon/shuttles/inteq/inteq_caliban.dmm
  code/game/machinery/shuttle/turbine.dm
  mod_celadon/inteq_vendor/code/degraded.dm
  mod_celadon/inteq_vendor/code/inteq_MODsuit.dm
  mod_celadon/inteq_vendor/code/railgun.dm
Labels: 🗺 Маппинг 🗺, 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀

#2273 MAP: Наслоение труб и слабая защита мостика на аванпосту
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
Labels: 🗺 Маппинг 🗺

#2309 FIX: Feral bite
  code/modules/mob/living/carbon/human/species.dm
  mod_celadon/bite_feral/_bite_feral.dme
  mod_celadon/bite_feral/code/mood.dm
Labels: 🧱 Код 🧱, 🪓 ТРОГАЛИ CORE-CODE 🪓
