Repository CeladonSS13/Shiptest, pull requests merged in 2025-05, with the labels that each got.

#1733 Ship collision fix
  code/controllers/subsystem/overmap_move.dm
  code/game/gamemodes/meteor/meteors.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1735 Новые иконки для овермапы
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
  mod_celadon/_storge_icons/icons/overmap/overmap_larger.dmi
  mod_celadon/maps/code/planet_types.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔨 Доработать🔨, 🔵 Требуется проверка

#1747 Fix ruins and ships
  _maps/_mod_celadon/RandomRuins/AnimaRuins/anima_claw_ruin.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/crashedship.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/oretruck.dmm
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/IceRuins/icemoon_tesla_lab.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_abandoned_library.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_cavecrew.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_observatory.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_crashed_heron.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_fun_maze.dmm
  _maps/_mod_celadon/RandomRuins/LavaRuins/lavaland_surface_codelab.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_rustbase.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_camp_saloon.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_ruinsofweh.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_starfurycrash.dmm
  _maps/_mod_celadon/RandomRuins/SandRuins/whitesands_surface_waterplant.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/Fast_Food.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/ntfacility.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_claw_ruin.dmm
  _maps/_mod_celadon/RandomRuins/WasteRuins/wasteplanet_fortress_of_solitide.dmm
  _maps/_mod_celadon/map_files/runtime_check_map.dmm
  _maps/_mod_celadon/shuttles/independent/independent_beluga.dmm
  _maps/_mod_celadon/shuttles/independent/independent_rube_goldberg.dmm
  _maps/_mod_celadon/shuttles/independent/independent_tranquility.dmm
  _maps/_mod_celadon/shuttles/inteq/inteq_executioner.dmm
  _maps/_mod_celadon/shuttles/misc/independent_bulk.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_teardrop.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_tortuga.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_beetle.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
Labels: 🗺 Мапинг, ❗ PR НЕ МЁРЖИТЬ ❗, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1752 FIX jungle turfs
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_botany.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_seedling.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_bombmakers_cabin.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_vamplab.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1749 TWEAK: Изменения в части миссий исследованяи космоса
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/code/research_mission.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1760 [FIX] Чиним траву на зимнем аванпосте
  _maps/_mod_celadon/outpost/elysium_ice.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка

#1725 Emotes overhaul, cleanup, and QoL fixes
  code/__DEFINES/~mod_celadon/emote.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  mod_celadon/_components/README.md
  mod_celadon/_storge_icons/icons/emote_visuals.dmi
  mod_celadon/_storge_sounds/sound/emotes/jelly/gurgle.ogg
  mod_celadon/_storge_sounds/sound/emotes/kepori/quill_1.ogg
  mod_celadon/_storge_sounds/sound/emotes/kepori/quill_2.ogg
  mod_celadon/emotes/README.md
  mod_celadon/emotes/_emotes.dme
  mod_celadon/emotes/code/emote.dm
  mod_celadon/emotes/code/emote_names.dm
  mod_celadon/emotes/code/emote_rus.dm
  mod_celadon/emotes/code/emote_verbs.dm
  mod_celadon/emotes/code/racial_emotes.dm
  mod_celadon/emotes/code/silicon_emote.dm
Labels: 🎨 Спрайты 🎨, 🔊 Звуки 🔊, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1753 [ALPHA-TEST] Разные хотфиксы после мержа с Беты
  _maps/_mod_celadon/RandomRuins/BeachRuins/beach_knights_rest.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_botany.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_interceptor.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_medtech_outbreak.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_seedling.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_bombmakers_cabin.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_coffinpirate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_surface_ninjashrine.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_syndicate.dmm
  _maps/_mod_celadon/RandomRuins/JungleRuins/jungle_vamplab.dmm
  _maps/_mod_celadon/outpost/elysium_asteroid.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/economy/code/missions/acquire_mission.dm
  mod_celadon/fixes/README.md
  mod_celadon/fixes/code/research_mission.dm
  tgui/packages/tgui/interfaces/ShipSelect.js
Labels: 💬 TGUI, 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1756 TWEAK: Отключаем авто-блокировку по капу шипов
  code/controllers/configuration/entries/game_options.dm
  mod_celadon/_master_files/README.md
Labels: 🩳QoL, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1736 Outpost collision protection
  code/controllers/subsystem/overmap_move.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1758 [Fix] Krait
  _maps/_mod_celadon/configs/syndicate_krait.json
  _maps/_mod_celadon/shuttles/syndicate/syndicate_krait.dmm
  mod_celadon/outfit/code/syndicate/syndi_outfit.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1759 [TWEAK] Переработка задания минет менов
  code/modules/ruins/icemoonruin_code/tesla_lab.dm
  mod_celadon/ghost_roles/code/ruin/spawner.dm
  mod_celadon/maps/code/dynamic_mission/mission.dm
Labels: 🪓 НЕ МОДУЛЬНО 🪓, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1763 TWEAK: Remember our Language
  mod_celadon/items/code/languages.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1771 [FIX] Elysium door ship var eror
  _maps/_mod_celadon/shuttles/elysium/elysium_aldaama.dmm
  _maps/_mod_celadon/shuttles/elysium/elysium_khalifat.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1775 FIX ship runtimes
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_ranger.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_skybreaker.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/pirate/pirate_jupiter.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_fist_of_freedom.dmm
  _maps/_mod_celadon/shuttles/solfed/solfed_glimpse.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1778 Fix dwayne and squab
  _maps/_mod_celadon/shuttles/independent/independent_dwayne.dmm
  _maps/_mod_celadon/shuttles/nanotrasen/nanotrasen_squab.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1765 Баффаем ЕТАР.
  code/modules/projectiles/ammunition/energy/laser.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1769 [QOL] Перевод фракционных законов ИИ
  mod_celadon/ai_laws/code/laws.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1779 Удаление плаши хомяка
  mod_celadon/_storge_icons/icons/items/plushes.dmi
  mod_celadon/items/code/plushes.dm
  mod_celadon/loadout/code/plushes.dm
  mod_celadon/plushes_vending/code/plushes_vending.dm
  mod_celadon/structures/code/spawner.dm
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1773 TWEAK: Ammunition naming and fix Glock-17
  mod_celadon/balance/code/sharplite_balance.dm
  mod_celadon/outpost_console/code/supply_pack/independent/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/independent/gun.dm
  mod_celadon/outpost_console/code/supply_pack/independent/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/gun.dm
  mod_celadon/outpost_console/code/supply_pack/inteq/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/gun.dm
  mod_celadon/outpost_console/code/supply_pack/nanotrasen/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/gun.dm
  mod_celadon/outpost_console/code/supply_pack/solfed/magazines.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/ammo.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/gun.dm
  mod_celadon/outpost_console/code/supply_pack/syndicate/magazines.dm
  mod_celadon/turrets/code/turrets.dm
  mod_celadon/weapons/code/gun.dm
  mod_celadon/weapons/code/modules/projectiles/boxes_magazines/external/rifle.dm
  mod_celadon/weapons/code/modules/projectiles/guns/ballistic/pistol.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1780 ADD: Перекрас тактических бронежилетов и шлемов
  mod_celadon/_storge_icons/icons/mob/armor_celadon.dmi
  mod_celadon/_storge_icons/icons/mob/helmet_celadon.dmi
  mod_celadon/_storge_icons/icons/obj/armor_celadon.dmi
  mod_celadon/_storge_icons/icons/obj/helmet_celadon.dmi
  mod_celadon/customization_vest/README.md
  mod_celadon/customization_vest/_customization_vest.dm
  mod_celadon/customization_vest/_customization_vest.dme
  mod_celadon/customization_vest/code/customization_vest.dm
  mod_celadon/mod_celadon.dme
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка

#1781 FIX - канистры с газами
  code/modules/atmospherics/machinery/portable/canister.dm
  mod_celadon/_storge_icons/icons/resprite/canisters.dmi
Labels: 🎨 Спрайты 🎨, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1783 TWEAK: Solfed helmet seclite and overlay googles, buff etar module
  code/modules/projectiles/ammunition/energy/laser.dm
  mod_celadon/balance/code/sharplite_balance.dm
  mod_celadon/outfit/code/solfed/solfed_other_stuff.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1784 FIX канистры, но теперь модульно
  code/modules/atmospherics/machinery/portable/canister.dm
  mod_celadon/resprite/code/atmos.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1770 Возвращаем изначальный субшаттл крайинг сану.
  _maps/_mod_celadon/configs/pirate_crying_sun.json
  _maps/_mod_celadon/shuttles/pirate/pirate_crying_sun.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_brawler.dmm
  _maps/_mod_celadon/shuttles/subshuttles/pirate_nail.dmm
Labels: 🗺 Мапинг, 🔵 Требуется проверка, 🚀 Корабли 🚀

#1777 DISABLE: Mod helmet_seclite, generation runtime errors
  mod_celadon/mod_celadon.dme
Labels: 🔵 Требуется проверка

#1766 Some changes, some fixes
  _maps/_mod_celadon/RandomRuins/AsteroidRuins/singularity_lab.dmm
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  _maps/_mod_celadon/RandomRuins/SpaceRuins/singularity_lab.dmm
  _maps/_mod_celadon/shuttles/syndicate/syndicate_gorlex_sunset.dmm
  code/game/machinery/porta_turret/turret_types/ruin_turret_types.dm
  code/game/machinery/porta_turret/turret_types/ship_turret_types.dm
Labels: 🗺 Мапинг, 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓, 🚀 Корабли 🚀, 🏔 Руинки 🏔

#1754 ai-idle-test
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/npcpool.dm
  code/modules/cargo/blackmarket/blackmarket_item.dm
  mod_celadon/mobs/_mobs.dme
  mod_celadon/mobs/code/ai_controller.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1768 [TEST-ALPHA] FIX - чиним овермапу - карпы и пыль и вормхолы
  mod_celadon/_storge_icons/icons/overmap/overmap.dmi
Labels: 🎨 Спрайты 🎨, 🔵 Требуется проверка

#1690 Fancy timer changes
  code/modules/mob/living/death.dm
  code/modules/mob_spawner/spawner_componet.dm
  mod_celadon/_components/code/datum/fancy_deletion_timer.dm
  mod_celadon/_components/code/datum/meteorcarp.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1787 [HotFIX] Fix problems after merge with Beta
  _maps/_mod_celadon/RandomRuins/RockRuins/rockplanet_lasttemplar.dmm
  mod_celadon/_storge_icons/icons/resprite/soda_trash_can.dmi
  mod_celadon/resprite/_resprite.dme
  mod_celadon/resprite/code/soda.dm
Labels: 🔱Слияние Бета и Альфы ➰

#1791 Перевод миссий аванпоста
  mod_celadon/maps/_configs.dme
  mod_celadon/maps/code/dynamic_mission/drill.dm
  mod_celadon/maps/code/dynamic_mission/kill.dm
  mod_celadon/maps/code/dynamic_mission/mission.dm
  mod_celadon/maps/code/dynamic_mission/multiple.dm
Labels: 🧱 Код 🧱

#1792 FIX: Исправление дефолтной безопасной скорости полетов через ивенты овермапы
  mod_celadon/fixes/code/research_mission.dm
Labels: 🚧 Фикс багов 🚧, 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка, 🏗 Refactoring 🏗

#1798 Changelog update v2.0
  DarkErp.bat
Labels: 🔵 Требуется проверка

#1793 TWEAK: Меняем safe speed у ивентов. Делаем Debris рандомными
  code/modules/overmap/objects/event_datum.dm
  mod_celadon/balance/README.md
  mod_celadon/balance/_balance.dme
  mod_celadon/balance/code/overmap_event_speed_safe.dm
Labels: 🧱 Код 🧱, 🔥 Баланс ❄, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1806 FIX: Чиним лист-заказов после рефакторинга: Better cargo pack managment
  code/modules/cargo/order.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓

#1807 FIX: RUNTIME: Cargo landing_turf - Landing Zone
  mod_celadon/outpost_console/code/console.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1808 FIX: Caliber Standardization
  mod_celadon/fixes/_fixes.dme
  mod_celadon/fixes/code/ammo.dm
  mod_celadon/return_combat_shotgun/code/shotgun.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка

#1810 TWEAK: Stop drop plasmaballon on Plasmamen wakeup
  code/modules/clothing/outfits/standard.dm
Labels: 🧱 Код 🧱, 🔵 Требуется проверка, 🪓 ТРОГАЛИ CORE-CODE 🪓
